{% set passive_delegation_info = passive_info.passive_delegation_info %}
{% set passive_delegation_rewards = passive_info.passive_delegation_rewards %}
Commission Rates
<table class="table table-borderless">

    <tbody>

        <tr>
            <td class="text-secondary-emphasis text-end">Finalization</td>
            <td class="text-secondary-emphasis text-end align-middle">{{ passive_delegation_info.commission_rates.finalization* 100 }}%</td>
        </tr>
        <tr>
            <td class="text-secondary-emphasis text-end">Transaction</td>
            <td class="text-secondary-emphasis text-end align-middle">{{ passive_delegation_info.commission_rates.transaction* 100 }}%</td>
        </tr>
        <tr>
            <td class="text-secondary-emphasis text-end">Baking</td>
            <td class="text-secondary-emphasis text-end align-middle">{{ passive_delegation_info.commission_rates.baking* 100 }}%</td>
        </tr>
        <tr>
            <td class="text-secondary-emphasis text-end">Transaction Fees Earned</td>
            <td class="text-secondary-emphasis text-end align-middle">{{ passive_delegation_info.current_payday_transaction_fees_earned|
                micro_ccd_no_decimals|safe}}</td>
        </tr>
    </tbody>
</table>
<!-- </div> -->
 <!-- <hr>
Rewards
<table class="table table-borderless ">
    <thead>
      <tr>
        <th class="text-secondary-emphasis text-end" scope="col">30d</th>
        <th class="text-secondary-emphasis text-end" scope="col">90d</th>
        <th class="text-secondary-emphasis text-end" scope="col">180d</th>
  
      </tr>
    </thead>
    <tbody>
  
      <tr>
        <td class="text-secondary-emphasis text-end">{{ (passive_delegation_rewards.d30.sum_of_rewards*1000000)|micro_ccd_no_decimals|safe}}<br>
          <i><span>{{ (passive_delegation_rewards.d30.apy * 100) | round_x_decimal_no_comma(2)}}%</span></i>
        </td>
  
        <td class="text-secondary-emphasis text-end">{{
              (passive_delegation_rewards.d90.sum_of_rewards*1000000)|micro_ccd_no_decimals|safe}}<br>
            <i><span>{{ (passive_delegation_rewards.d90.apy * 100) | round_x_decimal_no_comma(2)}}%</span></i>
        </td>
  
        <td class="text-secondary-emphasis text-end">{{ (passive_delegation_rewards.d180.sum_of_rewards*1000000)|micro_ccd_no_decimals|safe}}<br>
          <i><span>{{ (passive_delegation_rewards.d180.apy * 100) | round_x_decimal_no_comma(2)}}%</span></i>
        </td>
  
      </tr>
  
    </tbody>
  </table> -->