<!-- <div class="table-responsive"> -->
<table class="table table-striped ms-1 w-auto small">

    <tbody>

        <tr>
            <td colspan="2"><i>Commision Rates</i></td>
        </tr>
        <tr>
            <td class="text-end"><small>Finalization</small></td>
            <td class="small text-end align-middle">{{ passive_info_v2.commission_rates.finalization* 100 }}%</td>
        </tr>
        <tr>
            <td class="text-end"><small>Transaction</small></td>
            <td class="small text-end align-middle">{{ passive_info_v2.commission_rates.transaction* 100 }}%</td>
        </tr>
        <tr>
            <td class="text-end"><small>Baking</small></td>
            <td class="small text-end align-middle">{{ passive_info_v2.commission_rates.baking* 100 }}%</td>
        </tr>
        <tr>
            <td>Transaction Fees Earned</td>
            <td class="small text-end align-middle">{{ passive_info_v2.current_payday_transaction_fees_earned|
                micro_ccd_no_decimals|safe}}</td>
        </tr>
    </tbody>
</table>
<!-- </div> -->