{% extends "base/base.html" %}
{% block js %}
<script src="/node/plotly.js-strict-dist-min/plotly-strict.min.js"></script>
{% endblock %}
{% block content %}

{% include 'base/search_bar_non_home_inclusion.html' %}
{% if error %}
<p>An error occured: <b>{{error.errorMessage}}</b></p>
{% else %}

<script>
  function getPassiveInfo() {
    passive_info = document.getElementById('passive_info');
    url =  '/{{net}}/ajax_paydays_passive/';

    fetch(url)
      .then((response) => {
        return response.text();
      })
      .then((data) => {
        passive_info.innerHTML = data;
        const tx_fees = document.getElementById('tx_fees');
        new bootstrap.Popover(tx_fees, { trigger: 'focus' });
      })
      .catch(function (error) {
        console.log(error);
      });
  }

  window.addEventListener('load', (event) => {
    getPassiveInfo();
    
    
    
  });
</script>
<!-- Get Pools -->
<script>
  
</script>
<script>
  // "/ajax_pools_html/{key}/{direction}/{limit}/{current_page}/{next_page}/{row_count}/{api_key}"
  function getPools(status) {
    pools = document.getElementById('staking_pools');
    url =  '/ajax_pools/' + status + '/'+ api_key;
    // console.log(url);
    // pools.innerHTML = '{% include "base/spinner.html" %}'
    fetch(url)
      .then((response) => {
        return response.text();
      })
      .then((data) => {
        pools.innerHTML = data;
      })
      .catch(function (error) {
        console.log(error);
      });
  }

  // function prev_pools(requested_page, total_rows) {
  //   var status = document.querySelector('#status').value;

  //   getPools(status, key, direction, requested_page, total_rows);
  // };
  // function next_v2_pools(requested_page, total_rows) {
  //   var key = document.querySelector('#key').value;
  //   var direction = document.querySelector('#direction').value;
  //   var status = document.querySelector('#status').value;

  //   getPools_v2(status, key, direction, requested_page, total_rows);
  // };

  function val() {

    // Get the select menu
    var status = document.querySelector('#status').value;
    
    // Returns the selected value
    getPools(status);

  }


  window.addEventListener('load', (event) => {
    // getPools('open_for_all');
    // console.log('page is fully loaded');
  });



</script>
<!-- Get Delegators -->
<!-- <script>
  function getDelegators(requested_page, total_rows) {
    delegators = document.getElementById('passive_delegators');
    url =  '/ajax_passive_delegators/' + requested_page + '/' + total_rows + '/' + api_key;

    fetch(url)
      .then((response) => {
        return response.text();
      })
      .then((data) => {
        delegators.innerHTML = data;
      })
      .catch(function (error) {
        console.log(error);
      });
  }

  function prev_delegators(requested_page, total_rows) {
    getDelegators(requested_page, total_rows)
  };
  function next_delegators(requested_page, total_rows) {
    getDelegators(requested_page, total_rows)
  };

  window.addEventListener('load', (event) => {
    getDelegators(0, 0);
    
  });
</script> -->

<h4>Staking</h4>

<!-- https://codepen.io/ondrejsvestka/pen/gWPpPo for equal height columns -->
<div class="row mt-4 row-flex">
  <div class="col-md-6  col-sm-12 ">
      <div class="border content curved-border " >
          {% set title= "Paydays" %}{% include 'base/box_title.html' %}
          <div id="paydays">
            {% set ccd_tabulator_table ='paydays_table'%}
            {% set tabulator_ajax_url = '/'+net+'/ajax_paydays'%}
            {% set filename='paydays-'+range(1000,10000)|random|string+'.csv' %}
            {% include "base/tabulator/tabulator-paydays.html" %}
              
          </div>  
      </div>
  </div>
  
  <div class="col-md-6  col-sm-12 ">
    <div class="border content curved-border " >
      
      {% set title= "Passive Delegators" %}{% include 'base/box_title.html' %}
          <div id="passive_delegators"><span class="htmx-indicator-c">
            {% set ccd_tabulator_table ='passive_delegators_table'%}
            {% set tabulator_ajax_url = '/ajax_passive_delegators/0'%}
            {% set filename='passive-delegators-'+range(1000,10000)|random|string+'.csv' %}
            {% include "base/tabulator/tabulator-passive-delegators.html" %}
          </span></div>  
    </div>
    
  </div>

</div> 
<div class="row mt-4 row-flex">
  <div class="col-md-6  col-sm-12 ">
      <div class="border content curved-border " >

        {% set title= "Passive Delegation Rates" %}{% include 'base/box_title.html' %}
      <div id="passive_info">
        
        
      </div>  
      
    </div>
  </div>

  <div class="col-md-6  col-sm-12 ">
      <div class="border content curved-border " >

      
      {% set title= "Passive Delegation Rewards and APY" %}{% include 'base/box_title.html' %}
      {% include "account/account_rewards.html" %}
      
      <div
          hx-trigger="intersect, switched-theme from:body" 
          hx-post="/{{net}}/account/apy-graph/passive_delegation/passive_delegation"
          hx-vals='js:{theme: document.querySelector("HTML").getAttribute("data-bs-theme")}'
        ></div>

          </div>  
      </div>


  </div>


<div class="row row-flex">
  <div class="col-md-12  col-sm-12 ">
    <div class="border content curved-border " >
      {% set title= "Staking Pools" %}{% include 'base/box_title.html' %}
        <div id="staking_pools">
          <span class="htmx-indicator-d">
          <img src="/static/misc/bars.svg"/> Loading data...
        </span>
      </div>
        
      </div>

  </div>
</div>
{% endif %}

<script>
    const tx_fees = document.getElementById('tx_fees');
    if (tx_fees) {
      new bootstrap.Popover(tx_fees, { trigger: 'focus' });
    }
  
</script>
{% endblock content %}