

{% if accounts|length == 0 %}
        <p class="text-secondary-emphasis">No accounts found.</p>
    </div>
{% else %}
<br>
<span class="  text-uppercase sm-text text-secondary-emphasis ">Summary</span>
<table class="table ">
    <thead>
    <tr  class="account-row sm-text">
      <th class="text-start text-secondary-emphasis"><span style="font-family: monospace, monospace;">Released in...</span></th>
      <th class="text-end text-secondary-emphasis">Amount</th>
      <th class="text-end text-secondary-emphasis"># Accounts</th>
      
    </tr>
  </thead>
  <tbody class="table-group-divider">
  {% for row in summary %}
    <tr class="sm-text ">
          <td class="text-start text-secondary-emphasis "><span class="ccd">{{row.end_time|datetime_delta_format_until}}</span></td>
          <td class="text-end text-secondary-emphasis "><span >{{row.total_amount|micro_ccd_no_decimals|safe}}</span></td>
          <td class="text-end text-secondary-emphasis"><span class="ccd">{{row.count}}</span></td>
          
    </tr>
  {% endfor %}
  <tr class="sm-text ">
          <td class="text-end text-secondary-emphasis ccd">Totals</td>
          <td class="text-end text-secondary-emphasis "><span >{{summary_totals.total_amount|micro_ccd_no_decimals|safe}}</span></td>
          <td class="text-end text-secondary-emphasis "><span class="ccd">{{summary_totals.count}}</span></td>
          
    </tr>
  </tbody>
  </table>


<hr/>
<span class="  text-uppercase sm-text text-secondary-emphasis ">Source Info</span>
<table class="table ">
    <thead>
    <tr  class="account-row sm-text">
      <th class="text-start text-secondary-emphasis"><span style="font-family: monospace, monospace;">Account</span></th>
      <th class="text-end text-secondary-emphasis">Amount</th>
      <th class="text-end text-secondary-emphasis">First Timestamp</th>
      
    </tr>
  </thead>
  <tbody class="table-group-divider">
  {% for row in accounts %}
    <tr class="sm-text ">
          <td class="text-start text-secondary-emphasis "><a href="/{{net}}/account/{{row.account_index}}"><span class="ccd" >{{row.account_index}}</a></td>
          <td class="text-end text-secondary-emphasis "><span >{{row.account_cooldowns[0].amount|micro_ccd_no_decimals|safe}}</span></td>
          <td class="text-end text-secondary-emphasis "><span class="ccd">{{row.account_cooldowns[0].end_time|datetime_regular_parse}}</span></td>
          
    </tr>
  {% endfor %}
  </tbody>
  </table>
  {% endif %} 