{% include "base/transactions_simple_list.html" %}  
  
<script>
  function increaseRequestedPage() {
      const doc = document.getElementById('tx_type_contents_selector');
      const requestedPageElement = document.getElementById('requested_page');
      let requestedPage = parseInt(requestedPageElement.getAttribute('data-requested-page'), 10);
      requestedPage += 1;
      requestedPageElement.setAttribute('data-requested-page', requestedPage);
  
      const event = new CustomEvent('update_event', {
          
      });
      doc.dispatchEvent(event);
  }
  function decreaseRequestedPage() {
      const doc = document.getElementById('tx_type_contents_selector');
      const requestedPageElement = document.getElementById('requested_page');
      let requestedPage = parseInt(requestedPageElement.getAttribute('data-requested-page'), 10);
      requestedPage -= 1;
      if (requestedPage < 1) {
          requestedPage = 1;
      }
      requestedPageElement.setAttribute('data-requested-page', requestedPage);
  
      const event = new CustomEvent('update_event', {
          
      });
      doc.dispatchEvent(event);
  }
  </script>