{% extends "base/base.html" %}

{% block content %}

{% include 'base/search_bar_non_home_inclusion.html' %}
<span id="requested_page" data-requested-page="{{requested_page}}" style="display:none;"></span>
  
    <div class="row  mt-10">
        <span class="mb-3 text-uppercase sm-text text-secondary-emphasis">Transactions by Type</span>
        
        <div class="col ">
            <div class="input-box mt-1 d-flex justify-content-start">
                    
                <select 
                        class="form-select form-select-sm search_selector_filter_types text-start" 
                        id="tx_type_contents_selector"
                        name="tx_type_contents_selector"
                        >
                        <option disabled>Account Creation</option>
                        <option value="initial">Initial ({{tx_type_counts["initial"]|millify}})</option>
                        <option value="normal">Normal ({{tx_type_counts["normal"]|millify}})</option>
                        <option disabled>──────────</option>
                        <option disabled>Chain Update</option>
                        {% for tx_type in tx_type_translation.keys()|sort %}
                            {% if tx_type_translation[tx_type].category.name == 'chain' %}
                            <option
                                value="{{ tx_type }}"
                                
                            >
                                {{ tx_type|replace('_', ' ')|title }} {% if tx_type in tx_type_counts%}({{tx_type_counts[tx_type]|millify}}){%endif%}
                            </option>
                            {% endif %}
                        {% endfor %}
                        <option disabled>──────────</option>
                        <option disabled>Account Transaction - Success</option>
                        
                        {# First, all non-rejected types #}
                        {% for tx_type in tx_type_translation.keys()|sort %}
                            {% if tx_type_translation[tx_type].category.name not in  ['rejected', 'chain'] %}
                            {% if tx_type not in ['initial', 'normal'] %}
                                <option
                                    value="{{ tx_type }}"
                                    {% if tx_type._id == 'account_transfer' %}selected{% endif %}
                                >
                                    {{ tx_type|replace('_', ' ')|title }} {% if tx_type in tx_type_counts%}({{tx_type_counts[tx_type]|millify}}){%endif%}
                                </option>
                            {% endif %}
                        {% endif %}
                        {% endfor %}

                        {# horizontal separator #}
                        <option disabled>──────────</option>
                        <option disabled>Account Transaction - Rejected</option> 
                        {# Then, all rejected types #}
                        {% for tx_type in tx_type_translation.keys()|sort %}
                            {% if tx_type_translation[tx_type].category.name == 'rejected' %}
                            <option value="{{ tx_type}}">
                                {{ tx_type|replace('_', ' ')|title }} {% if tx_type in tx_type_counts%}({{tx_type_counts[tx_type]|millify}}){%endif%}
                            </option>
                            {% endif %}
                        {% endfor %}
                        </select>

            </div>
          
        </div>
          
    </div>
        
    <div id="results">
            {% set ccd_tabulator_table ='transactions_by_type_table'%}
            {% set tabulator_ajax_url = '/'+net+'/ajax_last_transactions_by_type/'%}
            {% set filename='transactions-by-type-'+range(1000,10000)|random|string+'.csv' %}
            {% include "base/tabulator/tabulator-txs-by-type.html" %}

          </div>
    <script>
        window.addEventListener('load', (event) => {
            
                const table = window["{{ccd_tabulator_table}}_table"];
                const select = document.getElementById("tx_type_contents_selector");
                table.setFilter("type", "=", select.value);
                // table.setData("{{tabulator_ajax_url}}");
                
        });
        const doc = document.getElementById('tx_type_contents_selector');
        doc.addEventListener('change', function() {
            // Reset requested_page to 1
            const table = window["{{ccd_tabulator_table}}_table"];
            table.setFilter("type", "=", this.value);
        
        
    });
    </script>
{% endblock %}