{% extends "base/base.html" %}
{% block ogp %}
<meta property="og:title" content="Node {{node_id}} on Concordium {{net}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{env.SITE_URL}}/{{net}}/node/{{node_id}}" />
{% endblock %}
{% block content %}
{% include 'base/search_bar_non_home_inclusion.html' %}

<style>
        .htmx-indicator{
        opacity:0;
        transition: opacity 500ms ease-in-out;
    }
    .htmx-request .htmx-indicator{
        opacity:1
    }
    .htmx-request.htmx-indicator{
        opacity:1
    }
</style>
<style>
    .breathing.faded {
      opacity:.1;
    }

    .breathing {
      opacity:1;
      transition: opacity ease-in 500ms;
    }
    </style>
    
<h2  class="sm-text">Node 
    <img  hx-ext="class-tools" class="breathing" classes="toggle faded:1s" width="10px" src="/static/misc/green_dot.png"/></h2> 

<div hx-get="/ajax_get_node/{{net}}/{{node_id}}" hx-trigger="load, every 2s">

</div>
        
    

{% endblock content %}