<div class="card mb-2 ms-2 me-2">    
  <div class="card-body p-2" >
     
      <table class="table table-striped table-hover table-sm">
      <thead>
        <tr>
          <th class="small" scope="col">Timestamp</th>
          <th class="small text-end" scope="col">Fee type</th>
          <th class="small text-end" scope="col">Amount</th>
          
        </tr>
      </thead>
      <tbody>
      {% for row in rewards %}
          <tr>
              <td><small><span class="ccd">{{row.timestamp |datetime_format_isoparse_day_only}}</span></small></td>
              <td class="text-end"><small><span class="ccd">
                
                {% if row.rewardType == 'FINALIZATION_REWARD' %}
                  Finalization
                {% endif %}

                {% if row.rewardType == 'BAKER_REWARD' %}
                  Baking
                {% endif %}

                {% if row.rewardType == 'TRANSACTION_FEE_REWARD' %}
                  Tx fees
                {% endif %}
              
              </span></small></td>
              <td class="text-end"><small>{{row.amount | micro_ccd_display | safe}}</small></td>
              
          </tr>
          {% endfor %}
      </tbody>
      </table>
  <!--class="card-body p-2"-->
  </div>
<!--class="card mb-2 ms-2 me-2"-->
</div> 
