<div class="row row-flex">
  <div class="col-md-6  col-sm-12 ">
    <div class="border content curved-border " >
      {% set title= "Account Delegation" %}{% include 'base/box_title.html' %}
      {% include "account/account_delegation_info.html" %}
    </div>
  </div>
  <div class="col-md-6  col-sm-12 ">
    <div class="border content curved-border ">
      {% set title= "Account Rewards" %}{% include 'base/box_title.html' %}
      {% include "account/account_rewards.html" %}
    </div>
  </div>
  
</div>
    
  

  <div class="row mt-4 row-flex">
    <div class="col-md-6  col-sm-12 ">
        <div class="border content curved-border " >
          
          <div
          hx-trigger="intersect, switched-theme from:body" 
          hx-post="/{{net}}/account/apy-graph/{{account_id}}"
          hx-vals='js:{theme: document.querySelector("HTML").getAttribute("data-bs-theme")}'
        ></div>

        </div>
    </div>
    
  </div>
