



<div class="row mt-4">
  <div id="filename" style="display:none;">{{rewards_filename}}
  </div>
    <div class="col">
        <input type="text" class=" sm-text date form-control form-control-sm  input-sm mb-1 text-end" data-precision="0" name="month" id="month" placeholder="Select month"><br>
    </div>  
    <a class="col mt-2" id="download-link" href="{{rewards_filename}}" title="Download .csv file with rewards from the selected month" target="_blank">Download Rewards <i style="color:#F6DB9A;" class="bi bi-download"></i></a>
   
</div>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    const downloadLink = document.getElementById('download-link');
    const monthInput = document.getElementById('month');
    let now = new Date().toISOString();

    const fp = flatpickr(".date", {
      onChange: function(selectedDates, dateStr, instance) {
        let formattedDate = selectedDates[0].getFullYear() + '-' + ('0' + (selectedDates[0].getMonth() + 1)).slice(-2);
        let accountId = '{{account_id}}';
        monthInput.dataset.formattedDate = formattedDate;
        downloadLink.classList.add('disabled');
        htmx.ajax('GET', `/ajax_rewards_download/${accountId}/${formattedDate}`, {target:'#filename'}).then(function() {
          let filename = document.getElementById('filename').innerText.trim();
          console.log(filename);
          filename = filename.replace(/^"|"$/g, '');
          if (filename !== "NO_REWARDS") {
            downloadLink.href = filename;
            downloadLink.classList.remove('disabled');
            console.log("REWARDS:", filename);
          } else {
            downloadLink.href = '#';
            downloadLink.classList.add('disabled');
            console.log("NO_REWARDS:", filename);
          }
        });    
        
      },
      onReady: function(selectedDates, dateStr, instance) {
        let formattedDate = selectedDates[0].getFullYear() + '-' + ('0' + (selectedDates[0].getMonth() + 1)).slice(-2);
        let accountId = '{{account_id}}';
        monthInput.dataset.formattedDate = formattedDate;
        downloadLink.classList.add('disabled');
        htmx.ajax('GET', `/ajax_rewards_download/${accountId}/${formattedDate}`, {target:'#filename'}).then(function() {
          let filename = document.getElementById('filename').innerText.trim();
          console.log(filename);
          filename = filename.replace(/^"|"$/g, '');
          if (filename !== "NO_REWARDS") {
            downloadLink.href = filename;
            downloadLink.classList.remove('disabled');
            console.log("REWARDS:", filename);
          } else {
            downloadLink.href = '#';
            downloadLink.classList.add('disabled');
            console.log("NO_REWARDS:", filename);
          }
        });    
        
      },
      defaultDate: now,
      minDate: "2022-06-01",
      maxDate: now,
      plugins: [
        new monthSelectPlugin({
          shorthand: true,
          dateFormat: "F Y",
          altFormat: "F Y"
        })
      ],
    });

   
    });

   
</script>
   