{% set title= "Pool Delegators" %}{% include 'base/box_title.html' %}
{% include 'base/pagination.html' %}
<table class="table table-borderless">
      <thead>
        <tr class="sm-text">
          <th class="text-secondary-emphasis " scope="col">Account</th>
          <th class="text-secondary-emphasis  text-end" scope="col">Staked Amount</th>

        </tr>
      </thead>
      <tbody>
        {% for account_id, value in new_delegators.items() %}
        
        <tr class="sm-text">
          <td>{{account_id|account_link(net, user, tags, app=request.app)|safe}} (to be included in next payday)</td>
          <td class="text-end text-secondary-emphasis ">{{value.stake | micro_ccd_no_decimals | safe}}</td>
        </tr>
        <hr>

          {% if value.pending_change.remove %}
          <span
                  class=" text-secondary-emphasis ">Delegation to be text-secondary-emphasis removed at: </span>
          <span class="ccd ">{{value.pending_change.remove|datetime_regular_parse}}</span>
          {% endif %}
          {% if value.pending_change.reduce %}
          <span
                  class=" text-secondary-emphasis ">Delegation stake reduced to:</span>
          {{value.pending_change.reduce.new_stake|micro_ccd_no_decimals | safe}} at: 
          <span class="ccd text-secondary-emphasis ">{{value.pending_change.reduce.effective_time|datetime_regular_parse}}</span>
          {% endif %}

        {%endfor%}
        {% for row in delegators %}
        <tr class="sm-text">
          <td>
            {{row.account|account_link(net,user,tags,request.app)|safe}}
                          
            
            {% if row.account in delegators_in_block_dict %}

            {% if delegators_in_block_dict[row.account].pending_change %}
            <br /><i>
                {% if delegators_in_block_dict[row.account].pending_change.remove %}
                <span
                  class=" text-secondary-emphasis ">Delegation to be removed at: </span>
                <span
                  class="ccd text-secondary-emphasis ">{{delegators_in_block_dict[row.account].pending_change.remove|datetime_regular_parse}}</span>
                {% endif %}
                {% if delegators_in_block_dict[row.account].pending_change.reduce %}
                <span
                  class=" text-secondary-emphasis ">Delegation stake reduced to: </span>
                {{delegators_in_block_dict[row.account].pending_change.reduce.new_stake|micro_ccd_no_decimals | safe}} at:
                <span
                  class="ccd text-secondary-emphasis ">{{delegators_in_block_dict[row.account].pending_change.reduce.effective_time|datetime_regular_parse}}</span>
                {% endif %}
                {% endif %}
                {% endif %}
              </i>
          </td>
          <td class="text-end text-secondary-emphasis ">{{row.stake | micro_ccd_no_decimals | safe}}
                </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
   