<div id="plt_table_wrapper">
<div class="row row-flex">
<div class=" col-md-12  col-sm-12">
<div class="border content curved-border mb-3" >
    {% set title= "Protocol-Level Tokens" %}{% include 'base/box_title.html' %}
          <div id="plt_table"></div>
          {% set ccd_tabulator_table ='plt_table'%}
          {% include 'base/tabulator/tabulator-table-download-link.html' %}
    </div>
    </div>
    </div>
</div>
<div id="fungible_verified_table_wrapper">
<div class="row row-flex">
<div class=" col-md-12  col-sm-12">
<div class="border content curved-border mb-3" >
    {% set title= "Verified Fungible CIS-2 Tokens" %}{% include 'base/box_title.html' %}
          <div id="fungible_verified_table"></div>
          {% set ccd_tabulator_table ='fungible_verified_table'%}
          {% include 'base/tabulator/tabulator-table-download-link.html' %}
    </div>
    </div>
    </div>
</div>
<div id="non_fungible_verified_table_wrapper">
    <div class="row row-flex">
<div class=" col-md-12  col-sm-12">
<div class="border content curved-border " >
    {% set title= "Verified Non Fungible CIS-2 Tokens" %}{% include 'base/box_title.html' %}
          
            <div id="non_fungible_verified_table"></div>
            {% set ccd_tabulator_table ='non_fungible_verified_table'%}
            {% include 'base/tabulator/tabulator-table-download-link.html' %}
          
    </div>
    </div>
    </div>
</div>
<div id="unverified_table_wrapper">
<div class="row row-flex">
<div class=" col-md-12  col-sm-12">
<div class="border content curved-border " >
    {% set title= "Unverified CIS-2 Tokens" %}{% include 'base/box_title.html' %}
          <div id="unverified_table"></div>
          {% set ccd_tabulator_table ='unverified_table'%}
          {% include 'base/tabulator/tabulator-table-download-link.html' %}
    </div>
    </div>
    </div>
</div>