<!-- <div class="table-responsive"> -->

<table class="table table-striped ms-1 me-1 small">
    <!-- <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
        </tr>
   </thead> -->
    <tbody>
        <tr>
            <td>ID Provider</td>
            <td class=" align-middle">
                <small>{{recurring.identity_providers[net][credential.ip_identity].ip_description}}</span></small>
            </td>
        </tr>
        <tr>
            <td>Created At</td>
            <td><small><span class="ccd">{{credential.created_at.year}}-{{'%02d' % credential.created_at.month}}</span></small>
            </td>
        </tr>
        <tr>
            <td>Valid To</td>
            <td><small><span class="ccd">{{credential.valid_to.year}}-{{'%02d' % credential.valid_to.month}}</span></small>
            </td>
        </tr>


    </tbody>
    <!-- account account end table-->
</table>
<!-- </div> -->