<script>
  function get_gte() {
        var gte = document.getElementById('gte').value;
          gte = gte.split(' ')[0];
          
          if (typeof gte === 'string' && gte.length === 0) {
            gte = 0;
          }
          return gte
      }
  function UpdateSuffix() {
    
    token = document.getElementById('token').value;
    gte = document.getElementById('gte');
    $(function() {
      $('#gte').maskMoney({allowZero:true, suffix: ' '+'{{token}}'});
      
    })
    gte.value = "";
    gte.placeholder = "0 "+ token;
  }
    
</script>

<div class="border curved-border mb-2 mt-4">
  {% set title= "Flow Graph" %}{% include 'base/box_title.html' %}
<div class="row ps-3 pe-3">
  <div class="col">
  <label class="sm-text text-end" for="token">Select token/coin</label>  
</div>
  <div class="col">
    <select class="sm-text" id="token" onchange="UpdateSuffix()">
      <option class="" value="CCD" selected>CCD</option>
      {% for token in token_ids_for_flow %}
        <option class="" value="{{token}}" >{{token}}</option>
      {% endfor %}
    </select>
    
  </div>

</div>
</br/>
<div class="row ps-3 pe-3">
    
    <div class="col">
      <input type="text" class=" sm-text dates form-control form-control-sm  input-sm mb-1 text-end" data-precision="0" name="start_date" id="start_date" placeholder="Start Date"><br>
    </div>
    <div class="col sm-text text-center"><span class="ccd">≤ Date ≤</span></div>
    <div class="col">
      <input type="text" class="sm-text dates form-control form-control-sm  input-sm mb-1 text-end" data-precision="0" name="end_date" id="end_date" placeholder="End Date"><br>
    </div>
  </div>
  
  <div class="row ps-3 pe-3">
    <div class="col ">
      <button  hx-trigger="click, {% if account.sequence_number < 1000 %}intersect, {%endif%} switched-theme from:body" 
      hx-post='/ajax_sankey/{{net}}/{{account_id}}'
      hx-ext='json-enc'
      hx-target="#sankey"
      hx-vals='js:{theme: document.querySelector("HTML").getAttribute("data-bs-theme"),
      gte: get_gte(),
      start_date: document.getElementById("start_date").value,
      end_date: document.getElementById("end_date").value, 
      token: document.getElementById("token").value
    
      }' type="button" id="account-add-button" class=" sm-text ms-3 btn btn-sm btn-primary">Update</button>
    </div>
    <div class="col ">
      <p class="text-end text-secondary-emphasis ccd">Lower limit for net transfers</p>
    </div>
    <div class="col">
      <input type="text" class=" text-secondary-emphasis number-separator form-control form-control-sm  input-sm mb-1 text-end " data-precision="0" name="gte" id="gte" placeholder="0 CCD"><br>
    </div>
  </div>
  <h5>{{token}}</h5>
  <div id="sankey">{% if account.sequence_number >= 1000 %}<p class="text-center text-secondary-emphasis ">Click Update to show, might take a while..{%endif%}</p></div>
  
  <div id="table"></div>
</div>
<script>
    $(function() {
      $('#gte').maskMoney({allowZero:true, suffix: ' '+'{{token}}'});
      
    })
    let now = new Date().toISOString()//.split('T')[0]
    flatpickr("#start_date", {defaultDate:"2021-6-09"});
    flatpickr("#end_date", {defaultDate: now});
</script>
