{% set open_pool = pool.pool_info.open_status != 'closed_for_all' %}


<!--- account/account_baker.html table-->
<table class="table table-borderless">
    {% if node %}
        <tr class="sm-text"><td  class="text-start text-secondary-emphasis">Node name</td><td class="   text-secondary-emphasis text-end">
            {% if node.nodeName %}
                <a href="/{{net}}/node/{{node.nodeId}}">{{node.nodeName}}</a>
            {% else %}
                (not currently active)
            {% endif %}
        </td></tr>
        <tr class="sm-text"><td  class="text-start text-secondary-emphasis">Uptime</td><td class=" ccd text-secondary-emphasis text-end">
            {% if node.nodeName %}
                {{ node.uptime|int|uptime }}
            {% else %}
                (not currently active)
            {% endif %}
            
        </td></tr>

        <tr class="sm-text"><td  class="text-start text-secondary-emphasis">Version</td><td class=" ccd text-secondary-emphasis text-end">
            {% if node.nodeName %}
                {{ node.client }}
            {% else %}
                (not currently active)
            {% endif %}
            
        </td></tr>
{% endif %}
    {% if account_is_validator %}
    
    <tr class="sm-text">
        <td class="text-start text-secondary-emphasis">Validator id
            
        </td>
        <td  class="text-end text-secondary-emphasis ccd">{{account.stake.baker.baker_info.baker_id|round_x_decimal_with_comma(0)}} 
            {% if "is_suspended" in account.stake.baker.model_fields_set %}
                {% if account.stake.baker.is_suspended %}
                <i style="color:red;" class="bi bi-exclamation-square">(SUSPENDED)</i>
                {% endif %}
            {% endif %}

        </td>
    </tr>
    

    {% if "is_suspended" in account.stake.baker.model_fields_set %}
      {% if pool.current_payday_info %}
        <tr class="sm-text">
            <td class="text-start text-secondary-emphasis">Missed Rounds</td>
            <td  class="text-end text-secondary-emphasis ccd">       
                    {{pool.current_payday_info.missed_rounds|round_x_decimal_with_comma(0)}}
            </td>
        </tr>
        {% endif %}
    {% endif %}
    <tr class="sm-text"
    hx-ext='json-enc'
    hx-encoding="json"
    hx-trigger="load delay:1s" 
    hx-swap="innerHTML"
    hx-post="/{{net}}/account/inactive/{{account.stake.baker.baker_info.baker_id}}"
    hx-vals='js:{
        theme: document.querySelector("HTML").getAttribute("data-bs-theme"),
        }'
></tr>

    {% set staked_amount = account.stake.baker.staked_amount | int %}
    
                {% if account.stake.baker.pending_change.remove %}
                <tr class="sm-text">
                    <td  class="text-start text-secondary-emphasis" colspan="3"><b>Pending Change</b>
                </tr>
                <tr class="sm-text">
                    <td class="text-start text-secondary-emphasis"><i>Change Type</i></td>
                    <td  class="text-end text-secondary-emphasis"colspan="2" ><span class="ccd"><i>Remove Validator</i></span>
                    </td>
                </tr>
                <tr class="sm-text">
                    <td class="text-start text-secondary-emphasis"><i>Effective Time</i></td>
                    <td  class="text-end text-secondary-emphasis"colspan="2"><span
                            class="ccd"><i>{{account.stake.baker.pending_change.remove|regular_datetime_format}}</i></span>
                    </td>
                </tr>
                {% endif %}
                {% if account.stake.baker.pending_change.reduce %}
                <tr class="sm-text">
                    <td class="text-start text-secondary-emphasis"><i>New Staked Amount</i></td>
                    <td  class="text-end text-secondary-emphasis"colspan="2" ><i>{{account.pending_change.reduce.new_stake|micro_ccd_no_decimals|safe}}</i></td>
                </tr>
                <tr class="sm-text">
                    <td class="text-start text-secondary-emphasis"><i>Effective Time</i></td>
                    <td  class="text-start text-secondary-emphasis"colspan="2" ><span
                            class="ccd"><i>{{account.pending_change.reduce.effective_time|regular_datetime_format}}</i></span>
                    </td>
                </tr>
                {% endif %}
             

                <tr class="sm-text">
                    <td class="text-start text-secondary-emphasis">
                        {% if open_pool %}
                        Own Stake
                        {% else %}
                        Staked Amount
                        {% endif %}

                        </td>
                    <td  class="text-end text-secondary-emphasis"colspan="2">{{pool.current_payday_info.baker_equity_capital | micro_ccd_no_decimals|safe}}</td>
                </tr>

                {% if open_pool %}
                <tr class="sm-text">
                    <td class="text-start text-secondary-emphasis">Delegated</td>
                    <td  class="text-end text-secondary-emphasis"colspan="2" >{{pool.current_payday_info.delegated_capital |micro_ccd_no_decimals|safe}}</td>
                </tr>
                <tr class="sm-text">
                    <td class="text-start text-secondary-emphasis">Total Stake</td>
                    <td class="text-end text-secondary-emphasis" colspan="2" >{{pool.current_payday_info.effective_stake
                            |micro_ccd_no_decimals|safe}}</td>
                </tr>
                {% endif %}



                <tr class="sm-text">
                    <td class="text-start text-secondary-emphasis">Restake Earnings</td>
                    <td  class="text-end text-secondary-emphasis"colspan="2" ><span class="ccd">{{account.stake.baker.restake_earnings}}</span>
                    </td>
                </tr>

                {% if pool.current_payday_info %}
                <tr class="sm-text">
                    <td class="text-start text-secondary-emphasis">Lottery Power</td>
                    <td  class="text-end text-secondary-emphasis ccd"colspan="2" >
                        {{pool.current_payday_info.lottery_power | lottery_power}}%</td>
                </tr>

                <tr class="sm-text">
                    <td class="text-start text-secondary-emphasis">Current Payday

                    <a href="#" data-bs-toggle="popover" tabindex="0" id="payday" data-bs-trigger="focus" data-bs-title="Current payday explanation" data-bs-content="
            
                
                Current Payday (x/y blocks) is the actual amount of blocks validated in the current payday (x) compared with the estimated amount of blocks that this validator will validate during this payday (y), calculated from its lottery power.
                
                
                ">(i)</a>
                
                <img  hx-ext="class-tools" class="breathing" classes="toggle faded:1s" width="10px" src="/static/misc/green_dot.png"/>
                    </td>
                    
                    <td  class="text-end text-secondary-emphasis ccd"colspan="2" id="current-payday-stats" hx-get="/{{net}}/account/{{account.stake.baker.baker_info.baker_id}}/current-payday-stats" hx-trigger="every 3s" ></td>
                    
                </tr>
                {% endif %}
                {% if earliest_win_time %}
                    <tr class="sm-text"><td class="text-start text-secondary-emphasis">Earliest Win Time 
                        <a href="#" data-bs-toggle="popover" tabindex="0" id="earliest" data-bs-trigger="focus" data-bs-title="Earliest win time explanation" data-bs-content="
                        Get the projected earliest time at which a particular validator will be required to validate a block. For node operators, this is helpful to schedule maintenance on the node. 
                        ">(i)</a>
                        <img  hx-ext="class-tools" class="breathing" classes="toggle faded:1s" width="10px" src="/static/misc/green_dot.png"/></h2> 

                    </td>
                    <td  class="text-end text-secondary-emphasis ccd" id="earliest-win-time" hx-get="/{{net}}/account/{{account.stake.baker.baker_info.baker_id}}/earliest-win-time" hx-trigger="every 3s" colspan="2" ></td></tr>
                {% endif %}
            



    {% endif %}
</table>
    <script>
      const payday = document.getElementById('payday')
      const popover_payday = new bootstrap.Popover(payday, {trigger: 'focus'})
    
      const earliest = document.getElementById('earliest')
      const popover_earliest = new bootstrap.Popover(earliest, {trigger: 'focus'})
    
    </script>
<script>
    document.getElementById("earliest-win-time").addEventListener("htmx:afterRequest", function() {
        this.setAttribute("hx-trigger", "every 2s");
        htmx.process(this);
    });
    document.getElementById("current-payday-stats").addEventListener("htmx:afterRequest", function() {
        this.setAttribute("hx-trigger", "every 2s");
        htmx.process(this);
    });
  </script>