

<!-- https://codepen.io/ondrejsvestka/pen/gWPpPo for equal height columns -->
<div class="row mt-4 row-flex">
  <div class="col-md-6  col-sm-12 ">
    
      <div class="border content curved-border " >
        {% set title= "General Information" %}{% include 'base/box_title.html' %}
        {% include "account/account_validator_info.html" %}</div>
  </div>
  {% if net == 'mainnet' %}
  <div class="col-md-6  col-sm-12">
    
      <div id="validator_rewards" class=" content border curved-border  " >
        {% set title= "Staking Rewards Statistics" %}{% include 'base/box_title.html' %}
        {% include "account/account_rewards.html" %}
        {% include "account/account_rewards_download.html" %}
      </div>
  </div>
</div>

<div class="row row-flex">
  <div class="col-md-6  col-sm-12 ">
    <div class="border content curved-border " >
      
      {% set title= "Validator APY" %}{% include 'base/box_title.html' %}
        <div
        hx-trigger="intersect, switched-theme from:body" 
        hx-indicator=".htmx-indicator-apy"
        hx-post="/{{net}}/account/apy-graph/{{account_index}}/validator"
        hx-vals='js:{theme: document.querySelector("HTML").getAttribute("data-bs-theme")}'
      ><span class="htmx-indicator-apy">
        <img src="/static/misc/bars.svg"/> Loading data...
       </span>
    </div>

    </div>
  </div>
  <div class="col-md-6  col-sm-12">
    <div class="border content curved-border " >
      
      {% set title= "Validator Performance" %}{% include 'base/box_title.html' %}
      <div
      hx-trigger="intersect, switched-theme from:body" 
      hx-indicator=".htmx-indicator-performance"
      hx-post="/{{net}}/account/baker-performance/{{account_index}}/3000"
      hx-vals='js:{theme: document.querySelector("HTML").getAttribute("data-bs-theme")}'
    ><span class="htmx-indicator-performance">
      <img src="/static/misc/bars.svg"/> Loading data...
     </span>
  </div>

  </div>
  </div>
</div>
<div class="row row-flex">
  <div class="col-md-6  col-sm-12 ">
    <div class="border content curved-border " >
      {% set title= "Validator Tally" %}{% include 'base/box_title.html' %}
          <div id="validator_tally_table">
            {% set ccd_tabulator_table ='validator_tally_table'%}
          </div>
          {% include 'base/tabulator/tabulator-table-download-link.html' %}
    </div>
  </div>
  {% endif %}
  <div class="col-md-6  col-sm-12 ">
    <div class="border content curved-border " >
      {% set title= "Validator Transactions" %}{% include 'base/box_title.html' %}
          <div id="validator_transactions_table">
            {% set ccd_tabulator_table ='validator_transactions_table'%}
            
            
          </div>
          {% include 'base/tabulator/tabulator-table-download-link.html' %}
      
    </div>
  </div>
  
</div>
<div class="row row-flex">
  <div class="col-md-6  col-sm-12 ">
    <div class="border content curved-border " >
      {% set title= "Validator Rewards" %}{% include 'base/box_title.html' %}
          <div id="validator_rewards_table">
            {% set ccd_tabulator_table ='validator_rewards_table'%}
          </div>
          {% include 'base/tabulator/tabulator-table-download-link.html' %}
    </div>
  </div>
  
</div>