
<script>
    function DoSanKey(){
        sankey = JSON.parse(document.getElementById('hidden_sankey').innerHTML);
        SANKEY_DIV = document.getElementById('sankey');
        
        var data = {
            type: "sankey",
            
            valuesuffix: " CCD",

            node: {
              pad: 25,
              thickness: 10,
              line: { color: "grey", width: 1.0 },
              label: sankey.tagged_labels,
              color: sankey.colors
            },

            link: {
              source: sankey.source,
              target: sankey.target,
              value: sankey.value,
              customdata: sankey.labels_link
            }

            }

        var layout = {margin: { b: 20, t: 20, l: 20, r: 20 }}

        Plotly.newPlot(SANKEY_DIV, [data], layout, {'responsive': true, 'displayModeBar': false});
      }
    

    function getSankey() {
      table = document.getElementById('table');
      sankey = document.getElementById('sankey');
      var gte = document.getElementById('gte').value;
          gte = gte.split(' ')[0];
          
          if (typeof gte === 'string' && gte.length === 0) {
            gte = 0;
          }
          var start_date = document.getElementById("start_date").value;
          var end_date = document.getElementById("end_date").value;
        var account_id = document.querySelector('.account_id').title;
        
        if (account_id != "33BDZ6MhmQrX89HC36gCdVbAVWXVQfXBwJpydUgswCWy7JUyfD") {
          url = base_url+'/ajax_sankey/{{net}}/'+account_id+'/'+gte+'/'+start_date+'/'+end_date;
          
          
          fetch(url)
            .then((response) => {
              return response.text();
            })
            .then((data) => {
              table.innerHTML = data;
              DoSanKey(); 
                
            })
            .catch(function(error) {
              console.log(error);
            });
          }

      }
    window.addEventListener('load', (event) => {
       
      getSankey();
        console.log('getSankey');
      });
</script>

<div class="row ps-3 pe-3">
    
    <div class="col">
      <input type="text" class=" dates form-control form-control-sm small input-sm mb-1 text-end" data-precision="0" name="start_date" id="start_date" placeholder="Start Date"><br>
    </div>
    <div class="col small text-center"><span class="ccd">≤ Date ≤</span></div>
    <div class="col">
      <input type="text" class=" dates form-control form-control-sm small input-sm mb-1 text-end" data-precision="0" name="end_date" id="end_date" placeholder="End Date"><br>
    </div>
  </div>
  <div class="row ps-3 pe-3">
    <div class="col small">
      <button onclick='getSankey()' type="button" id="account-add-button" class="ms-3 btn btn-sm btn-primary">Update</button>
    </div>
    <div class="col small">
      <p class="text-end ccd">Lower limit for net transfers</p>
    </div>
    <div class="col">
      <input type="text" class=" number-separator form-control form-control-sm small input-sm mb-1 text-end " data-precision="0" name="gte" id="gte" placeholder="0 CCD"><br>
    </div>
  </div>
  
  <div id="sankey"></div>
  <div id="table"></div>
<script>
    $(function() {
      $('#gte').maskMoney({allowZero:true, suffix: ' CCD'});
      
    })
    // flatpickr(".dates", {defaultDate:"2021-6-29"});
    let now = new Date().toISOString()//.split('T')[0]
    console.log('now=', now)
    flatpickr("#start_date", {defaultDate:"2021-6-09"});
    flatpickr("#end_date", {defaultDate: now});
</script>
