
<div class="row row-flex">
  <div class="col-md-6  col-sm-12 ">
    <div class="border content curved-border " >
      <p>Rewards from staking/delegation per month<br>Account {{account_index}}</p>
<div
        class=" mb-1"
        hx-trigger="intersect, switched-theme from:body" 
        hx-post="/{{net}}/account/rewards-bucketed/{{account_id}}/{{account_index}}"
        hx-vals='js:{theme: document.querySelector("HTML").getAttribute("data-bs-theme")}'
        
    >
    
    </div>
    </div>
  </div>
</div>