<ul class="nav nav-tabs ms-1 me-1" id="myTab" role="tablist">

  <li class="nav-item" role="presentation">
    <button class="nav-link small ps-2 pe-2 
    {% if tabs['validator'].children['info'].active %}active{% endif %}
            " id="bakerinfo-tab" data-bs-toggle="tab" data-bs-target="#bakerinfo" type="button" role="tab"
      aria-controls="bakerinfo" aria-selected="true"><small>Info</small></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link small ps-2 pe-2 {% if tabs['validator'].children['rewards'].active %}active{% endif %}"
      id="account_rewards-tab" data-bs-toggle="tab" data-bs-target="#account_rewards" type="button" role="tab"
      aria-controls="account_rewards" aria-selected="true"><small>Rewards</small></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link small ps-2 pe-2 {% if tabs['validator'].children['performance'].active %}active{% endif %}"
      id="performance-tab" data-bs-toggle="tab" data-bs-target="#performance" type="button" role="tab"
      aria-controls="performance" aria-selected="true"><small>Performance</small></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link small ps-2 pe-2 {% if tabs['validator'].children['tally'].active %}active{% endif %}" id="tally-tab"
      data-bs-toggle="tab" data-bs-target="#tally" type="button" role="tab" aria-controls="performance"
      aria-selected="true"><small>Tally</small></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link small ps-2 pe-2 {% if tabs['validator'].children['apy'].active %}active{% endif %}"
      id="apy-graph-tab" data-bs-toggle="tab" data-bs-target="#apy-graph" type="button" role="tab"
      aria-controls="apyovertime" aria-selected="true"><small>APY</small></button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show 
  {% if tabs['validator'].children['info'].active %}active{% endif %}
        " style="padding-top: 10px;" id="bakerinfo" role="tabpanel" aria-labelledby="bakerinfo-tab">
    {% include "account/account_baker_info.html" %}
  </div>
  <div class="tab-pane fade show {% if tabs['validator'].children['rewards'].active %}active{% endif %}"
    style="padding-top: 10px;" id="account_rewards" role="tabpanel" aria-labelledby="account_rewards-tab">
    {% include "account/account_rewards.html" %}
  </div>
  <div class="tab-pane fade show {% if tabs['validator'].children['performance'].active %}active{% endif %}"
    style="padding-top: 10px;" id="performance" role="tabpanel" aria-labelledby="performance-tab">
    {% include "account/account_baker_performance.html" %}
  </div>
  <div class="tab-pane fade show  {% if tabs['validator'].children['tally'].active %}active{% endif %}"
    style="padding-top: 10px;" id="tally" role="tabpanel" aria-labelledby="tally-tab">
    <div id="baker_tally"></div>
  </div>
  <div class="tab-pane fade show {% if tabs['validator'].children['apy'].active %}active{% endif %}"
    style="padding-top: 10px;" id="apy-graph" role="tabpanel" aria-labelledby="apy-graph-tab">
    {% include "account/account_account_apy_graph.html" %}
  </div>
</div>