<!-- <div class="table-responsive"> -->

<table class="table table-striped ms-1 me-1 small">
    <!-- <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
        </tr>
   </thead> -->
    <tbody>
        <tr>
            <td><small>ID Provider</small></td>
            <td class=" align-middle">
                <small>{{recurring.identity_providers[net][credential.ip_identity].ip_description}}</span></small>
            </td>
        </tr>
        {% if credential.cred_id %}
        <tr>
            <td><small>Credential ID</small></td>
            <td><small><span class="ccd text-break">{{credential.cred_id}}</span></small>
            </td>
        </tr>
        {% endif %}
        <tr>
            <td><small>Created At</small></td>
            <td><small><span class="ccd">{{credential.created_at.year}}-{{'%02d' % credential.created_at.month}}</span></small>
            </td>
        </tr>
        <tr>
            <td><small>Valid To</small></td>
            <td><small><span class="ccd">{{credential.valid_to.year}}-{{'%02d' % credential.valid_to.month}}</span></small>
            </td>
        </tr>
        {% if credential.policy_attributes %}
        <tr>
            <td><small>Policy Attributes Revealed</small></td>
            <td>
                <table class="table  ">
                {% for attr in credential.policy_attributes %}
                    <tr><td><small>{{attr.key}}</small></td><td><small>{{attr.value}}</small></td></tr>
                {% endfor %}
            </table>
            </td>
            </td>
        </tr>
        {% endif %}
        {% if credential.commitment_attributes %}
        <tr>
            <td><small>Commitment Attributes Set</small></td>
            <td>
                {% for attr in credential.commitment_attributes|sort %}
                    <small>{{attr}}<br/></small>
                {% endfor %}
            </td>
        </tr>
        {% endif %}

    </tbody>
    <!-- account account end table-->
</table>
<!-- </div> -->