
<table class="table table-borderless">
  <thead>
    <tr class="sm-text">
      <th class="small" scope="col"></th>
      <th class="text-secondary-emphasis text-end" scope="col">30d</th>
      <th class="text-secondary-emphasis text-end" scope="col">90d</th>
      <th class="text-secondary-emphasis text-end" scope="col">180d</th>

    </tr>
  </thead>
  <tbody>

    <tr class="sm-text">
      <td class="text-secondary-emphasis text-start">{% if delegation%}Delegator{% else %}Validator{%endif%}<br/>rewards</td>
      <td class="text-secondary-emphasis text-end"><small>{{ (account_apy_object.d30.sum_of_rewards*1000000)|micro_ccd_no_decimals|safe}}<br>
        <i><small><span>{{ (account_apy_object.d30.apy * 100) | round_x_decimal_no_comma(2)}}%</span></small></i></small>
      </td>

      <td class="text-secondary-emphasis text-end"><small>{{(account_apy_object.d90.sum_of_rewards*1000000)|micro_ccd_no_decimals|safe}}<br>
          <i><small><span>{{ (account_apy_object.d90.apy * 100) | round_x_decimal_no_comma(2)}}%</span></small></i></small>
      </td>

      <td class="text-secondary-emphasis text-end"><small>{{ (account_apy_object.d180.sum_of_rewards*1000000)|micro_ccd_no_decimals|safe}}<br>
        <i><small><span>{{ (account_apy_object.d180.apy * 100) | round_x_decimal_no_comma(2)}}%</span></small></i></small>
      </td>

    </tr>

  </tbody>
</table>
<div
        class=" mb-1"
        hx-trigger="intersect, switched-theme from:body" 
        hx-post="/{{net}}/account/rewards-bucketed/{{account_id}}/{{account_index}}"
        hx-vals='js:{theme: document.querySelector("HTML").getAttribute("data-bs-theme")}'
        
    >
    
    </div>
