<!-- <div class="table-responsive"> -->

    <table class="table table-borderless">
        <!-- <thead>
    <tr>
        <th>Key</th>
        <th>Value</th>
        </tr>
   </thead> -->
    <tbody>
        <tr class="sm-text">
            <td class=" text-secondary-emphasis">ID Provider</td>
            <td class=" align-middle text-secondary-emphasis">
                {{identity_providers[credential.ip_identity|string].ip_description}}</span>
            </td>
        </tr>
        {% if credential.cred_id %}
        <tr class="sm-text">
            <td class=" text-secondary-emphasis">Credential ID</td>
            <td><span class="ccd text-break text-secondary-emphasis">{{credential.cred_id}}</span>
            </td>
        </tr>
        {% endif %}
        <tr class="sm-text">
            <td class=" text-secondary-emphasis">Created At</td>
            <td><span class="ccd text-secondary-emphasis">{{credential.created_at.year}}-{{'%02d' % credential.created_at.month}}</span>
            </td>
        </tr>
        <tr class="sm-text">
            <td class=" text-secondary-emphasis">Valid To</td>
            <td><span class="ccd text-secondary-emphasis">{{credential.valid_to.year}}-{{'%02d' % credential.valid_to.month}}</span>
            </td>
        </tr>
        {% if credential.policy_attributes %}
        <tr class="sm-text">
            <td class=" text-secondary-emphasis">Policy Attributes Revealed</td>
            <td>
                <table class="table  ">
                {% for attr in credential.policy_attributes %}
                    <tr><td class=" text-secondary-emphasis">{{attr.key}}</td><td  class=" text-secondary-emphasis">{{attr.value}}</td></tr>
                {% endfor %}
            </table>
            </td>
            </td>
        </tr>
        {% endif %}
        {% if credential.commitment_attributes %}
        <tr class="sm-text">
            <td class=" text-secondary-emphasis">Commitment Attributes Set</td>
            <td class=" text-secondary-emphasis">
                {% for attr in credential.commitment_attributes|sort %}
                    {{attr}}<br/>
                {% endfor %}
            </td>
        </tr>
        {% endif %}

    </tbody>
    <!-- account account end table-->
</table>
<!-- </div> -->