{% extends "base/base.html" %}

{% block js %}
<script src="/node/plotly.js-strict-dist-min/plotly-strict.min.js"></script>
{% endblock %}

{% block ogp %}
<meta property="og:title" content="Account {{account_index}} on Concordium {{net}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{env.SITE_URL}}/{{net}}/account/{{account_index}}" />
{% endblock %}

{% block content %}

{% if error %}
<p>An error occured: <b>{{error.errorMessage}}</b></p>
{% else %}
{% if show_tab %}
{% set show_tab_list = show_tab.split('-') %}
{% else %}
{% set show_tab_list = [] %}

{% endif %}
<!-- <script>
  // Create a new URL object
let url = new URL(window.location.href);

// Get the referrer, if there is one
let ref = url.searchParams.get('ref');

// If there's a referrer...
if (ref) {

	// store their ID as a cookie
	document.cookie = `affiliate_id=${ref}; path=/; max-age=${60 * 60 * 24 * 28};`;

	// Remove the query string parameter from the URL
	url.searchParams.delete('ref');
	history.replaceState(history.state, '', url.href);

}

</script> -->

<!-- Get Transactions -->
<script>
  async function getTransactions(requested_page, total_rows) {
    transactions = document.getElementById('txs');
    var account_id = document.querySelector('.account_id').title;
    url = '/account_transactions/{{net}}/' + account_id + '/' + requested_page + '/' + total_rows + '/' + api_key;
    transactions.innerHTML = '{% include "base/spinner.html" %}'
    await fetch(url)
      .then((response) => {
        return response.text();
      })
      .then((data) => {
        transactions.innerHTML = data;
      })
      .catch(function (error) {
        console.log(error);
      });
  }

  function prev_txs(requested_page, total_rows) {
    getTransactions(requested_page, total_rows)
  };
  function next_txs(requested_page, total_rows) {
    getTransactions(requested_page, total_rows)
  };

  
</script>

<script>
  async function getValidatorTransactions(requested_page, total_rows) {
    validator_txs = document.getElementById('validator_txs');
    var account_id = document.querySelector('.account_id').title;
    url = '/account_validator_transactions/{{net}}/' + account_id + '/' + requested_page + '/' + total_rows + '/' + api_key;
    validator_txs.innerHTML = '{% include "base/spinner.html" %}'
    await fetch(url)
      .then((response) => {
        return response.text();
      })
      .then((data) => {
        validator_txs.innerHTML = data;
      })
      .catch(function (error) {
        console.log(error);
      });
  }

  function prev_validator_txs(requested_page, total_rows) {
    getValidatorTransactions(requested_page, total_rows)
  };
  function next_validator_txs(requested_page, total_rows) {
    getValidatorTransactions(requested_page, total_rows)
  };

  
</script>

<script>
  async function getFungibleVerifiedTokens(requested_page, total_rows) {
    try {
      fungible_verified_tokens = document.getElementById('fungible_verified_tokens');
      var account_id = document.querySelector('.account_id').title;
      url = '/ajax_account_tokens/{{net}}/fungible-verified/' + account_id + '/' + requested_page + '/' + total_rows + '/' + api_key;
      
      fungible_verified_tokens.innerHTML = '{% include "base/spinner.html" %}'
      await fetch(url)
        .then((response) => {
          return response.text();
        })
        .then((data) => {
          fungible_verified_tokens.innerHTML = data;
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  catch (error) {
    
}
  }

  function prev_f_v_tokens(requested_page, total_rows) {
    getFungibleVerifiedTokens(requested_page, total_rows)
  };
  function next_f_v_tokens(requested_page, total_rows) {
    getFungibleVerifiedTokens(requested_page, total_rows)
  };


  async function getNonFungibleVerifiedTokens(requested_page, total_rows) {
    try {
      non_fungible_verified_tokens = document.getElementById('non_fungible_verified_tokens');
      var account_id = document.querySelector('.account_id').title;
      url = '/ajax_account_tokens/{{net}}/non-fungible-verified/' + account_id + '/' + requested_page + '/' + total_rows + '/' + api_key;
      
      non_fungible_verified_tokens.innerHTML = '{% include "base/spinner.html" %}'
      await fetch(url)
        .then((response) => {
          return response.text();
        })
        .then((data) => {
          non_fungible_verified_tokens.innerHTML = data;
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  catch (error) {
    
}
  }

  function prev_n_f_v_tokens(requested_page, total_rows) {
    getNonFungibleVerifiedTokens(requested_page, total_rows)
  };
  function next_n_f_v_tokens(requested_page, total_rows) {
    getNonFungibleVerifiedTokens(requested_page, total_rows)
  };

  
  async function getUnVerifiedTokens(requested_page, total_rows) {
    try {
      unverified_tokens = document.getElementById('unverified_tokens');
      var account_id = document.querySelector('.account_id').title;
      url = '/ajax_account_tokens/{{net}}/unverified/' + account_id + '/' + requested_page + '/' + total_rows + '/' + api_key;
      
      unverified_tokens.innerHTML = '{% include "base/spinner.html" %}'
      await fetch(url)
        .then((response) => {
          return response.text();
        })
        .then((data) => {
          unverified_tokens.innerHTML = data;
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  catch (error) {
    
}
  }

  function prev_un_tokens(requested_page, total_rows) {
    getUnVerifiedTokens(requested_page, total_rows)
  };
  function next_un_tokens(requested_page, total_rows) {
    getUnVerifiedTokens(requested_page, total_rows)
  };

</script>


<script>
  async function getDelegators(requested_page, total_rows) {
    try {
      delegators = document.getElementById('delegators');
      url = '/account_pool_delegators/{{net}}/{{account_index}}/' + requested_page + '/' + total_rows + '/' + api_key;
      delegators.innerHTML = '<span class="spinner-border spinner-border-sm"></span>'
      await fetch(url)
        .then((response) => {
          return response.text();
        })
        .then((data) => {
          delegators.innerHTML = data;
        })
        .catch(function (error) {
          console.log(error);
        });
    } catch (eroor) {}
  }

  function prev_delegators(requested_page, total_rows) {
    getDelegators(requested_page, total_rows)
  };
  function next_delegators(requested_page, total_rows) {
    getDelegators(requested_page, total_rows)
  };

  
</script>
<!--Get baker tally -->
<!-- <script>
  async function getValidatorTally(requested_page, total_rows) {
    try {
      tally = document.getElementById('validator_tally');
      var account_id = document.querySelector('.account_id').title;
      url = '/account/validator-tally/{{net}}/{{account_index}}/' + requested_page + '/' + total_rows + '/' + api_key;

      await fetch(url)
        .then((response) => {
          return response.text();
        })
        .then((data) => {
          tally.innerHTML = data;
        })
        .catch(function (error) {
          // console.log(error);
        });
    } catch (error) {}
  }


  function prev_results(requested_page, total_rows) {
    getValidatorTally(requested_page, total_rows)
  };
  function next_results(requested_page, total_rows) {
    getValidatorTally(requested_page, total_rows)
  };

  
</script> -->

{% include 'base/search_bar_non_home_inclusion.html' %}
    <div class="row  mt-4">
        <div class="col">{% include 'account/account_header.html' %}</div>  
    </div>
    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        <li class="nav-item" role="presentation">
          <button class="nav-link active explorer bg-secondary-subtle" id="pills-information-tab" data-bs-toggle="pill" data-bs-target="#pills-information" type="button" role="tab" aria-controls="pills-information" aria-selected="true">
            <span class="tab-text-large">Information</span><span class="tab-text-small">Info</span>
        </button>
        </li>
        <li class="nav-item" role="presentation">
          <button class="nav-link  explorer bg-secondary-subtle" id="pills-txs-tab" data-bs-toggle="pill" data-bs-target="#pills-txs" type="button" role="tab" aria-controls="pills-txs" aria-selected="true">
            <span class="tab-text-large">Transactions</span><span class="tab-text-small">Txs</span>
        </button>
        </li>
        {% if tokens_available %}
        <li class="nav-item" role="presentation">
          <button class="nav-link  explorer bg-secondary-subtle" id="tokens-pills-tab" data-bs-toggle="pill" data-bs-target="#pills-tokens" type="button" role="tab" aria-controls="pills-tokens" aria-selected="true">
            <span class="tab-text-large">Tokens</span><span class="tab-text-small">Tokens</span>
        </button>
        </li>
      {% endif %}  
        {% if delegation %}
        <li class="nav-item" role="presentation"></li>
          <button class="nav-link  explorer bg-secondary-subtle" id="pills-delegation-tab" data-bs-toggle="pill" data-bs-target="#pills-delegation" type="button" role="tab" aria-controls="pills-delegation" aria-selected="true">
            <span class="tab-text-large">Delegation</span><span class="tab-text-small">Delegation</span>
        </button>
        </li>
        {% endif %}
        {% if net=='mainnet' %}
          {% if rewards_no_stake %}
          <li class="nav-item" role="presentation"></li>
            <button class="nav-link  explorer bg-secondary-subtle" id="pills-nostake-tab" data-bs-toggle="pill" data-bs-target="#pills-nostake" type="button" role="tab" aria-controls="pills-nostake" aria-selected="true">
              <span class="tab-text-large">Rewards</span><span class="tab-text-small">Rewards</span>
          </button>
          </li>
          {% endif %}
          {% endif %}
        {% if account_is_validator %}
        <li class="nav-item" role="presentation"></li>
          <button class="nav-link  explorer bg-secondary-subtle" id="pills-validator-tab" data-bs-toggle="pill" data-bs-target="#pills-validator" type="button" role="tab" aria-controls="pills-validator" aria-selected="true">
            <span class="tab-text-large">Validator</span><span class="tab-text-small">Validator</span>
        </button>
        </li>
        {% endif %}
        {% if pool %}
        <li class="nav-item" role="presentation"></li>
          <button class="nav-link  explorer bg-secondary-subtle" id="pills-pool-tab" data-bs-toggle="pill" data-bs-target="#pills-pool" type="button" role="tab" aria-controls="pills-pool" aria-selected="true">
            <span class="tab-text-large">Pool</span><span class="tab-text-small">Pool</span>
        </button>
        </li>
        {% endif %}
</ul>

<div class="tab-content" id="pills-tabContent">
  
  <div class="tab-pane fade show active" id="pills-information" role="tabpanel" aria-labelledby="pills-information-tab" tabindex="0">
    <div class="row mt-4">
      <div class=" col-md-6  col-sm-12">
        <div class="border curved-border mb-2">
          {% set title= "Account Info" %}{% include 'base/box_title.html' %}
          {% include "account/account_info.html" %}</div>
        {% include "account/account_cooldowns.html"%}
        {% if net == 'mainnet' %}
          {% include "account/account_graph_header.html" %}
        {% endif %}
      </div>  
      <div class=" col-md-6  col-sm-12">
        <div class="border curved-border">{% include "account/account_credentials.html" %}</div>
      </div>
    </div>
  </div>

  <div class="tab-pane fade show " id="pills-txs" role="tabpanel" aria-labelledby="pills-txs-tab" tabindex="0">
    <div class="row mt-4">
      <div class=" col-md-12  col-sm-12">
        <div class="border curved-border" id="txs"></div>
      </div>  
      
    </div>
  </div>
  {% if tokens_available %}
  <div class="tab-pane fade show " id="pills-tokens" role="tabpanel" aria-labelledby="pills-tokens-tab" tabindex="0">
    <div class="row row-flex">
        <div id="fungible_verified_tokens"></div>
      
      
        <div id="non_fungible_verified_tokens"></div>
      
      
        <div id="unverified_tokens"></div>
      
    </div>  
      
  </div>
  {% endif %}
  {% if rewards_no_stake %}
  <div class="tab-pane fade show " id="pills-nostake" role="tabpanel" aria-labelledby="pills-nostake-tab" tabindex="0">
    {% include "account/account_rewards_no_stake.html" %}
 
</div>
  {% endif %}
  {% if delegation %}
  <div class="tab-pane fade show " id="pills-delegation" role="tabpanel" aria-labelledby="pills-delegation-tab" tabindex="0">
       {% include "account/account_delegation.html" %}
    
  </div>
  {% endif %}
  {% if account_is_validator %}
  <div class="tab-pane fade show " id="pills-validator" role="tabpanel" aria-labelledby="pills-validator-tab" tabindex="0">
       {% include "account/account_validator.html" %}
    
  </div>
  {% endif %}
  {% if pool %}
  <div class="tab-pane fade show " id="pills-pool" role="tabpanel" aria-labelledby="pills-pool-tab" tabindex="0">
       {% include "pool/pool.html" %}
    
  </div>
  {% endif %}

</div>
<script>
window.addEventListener('load', (event) => {
    getTransactions(0, 0);
    '{% if account_is_validator %}'
        getValidatorTransactions(0, 0);
        getValidatorTally(0, 0);
        getDelegators(0, 0);
    '{% endif %}'
    getFungibleVerifiedTokens(0, 0);
    getNonFungibleVerifiedTokens(0,0);
    getUnVerifiedTokens(0,0);
  });
    
</script>
{% endif %}
{% endblock content %}
