{% extends "base.html" %}
{% block content %}
{% if error %}
<p>An error occured: <b>{{error.errorMessage}}</b></p>
{% else %}
    <h2>Passive Delegation</h2>
    
<ul class="nav nav-tabs ms-1 me-1" id="myTab" role="tablist">

    <li class="nav-item" role="presentation">
        <button class="nav-link small ps-2 pe-2 active" id="info-tab" data-bs-toggle="tab" data-bs-target="#info" type="button" role="tab" aria-controls="info" aria-selected="true"><small>Info</small></button>
    </li>
    <li class="nav-item" role="presentation">
        <button class="nav-link small ps-2 pe-2" id="delegators-tab" data-bs-toggle="tab" data-bs-target="#delegators" type="button" role="tab" aria-controls="delegators" aria-selected="true"><small>Delegators</small></button>
    </li>    
    </ul>

     <div class="tab-content" id="myTabContent">



        {% include "passive/passive_info.html" %}
        <div class="tab-pane fade show  " style="padding-top: 10px;" id="delegators" role="tabpanel" aria-labelledby="delegators-tab">
            <div id="delegators"></div>
        </div>        
          <script>
            function getDelegators(before, after, current_page) {
                delegators = document.getElementById('delegators');
                  url = '/ajax_passive_delegators_html/'+before+'/'+after+'/'+current_page+'/'+api_key;
                  
                  fetch(url)
                    .then((response) => {
                      return response.text();
                    })
                    .then((data) => {
                        delegators.innerHTML = data;
                    })
                    .catch(function(error) {
                      console.log(error);
                    });
                }
              
                function prev(before, current_page) {
                  console.log("___PREV:", before, current_page)
                  getDelegators(before, null, current_page) 
                  };
                function next(after, current_page) {
                  console.log("___NEXT:", after, current_page)
                  getDelegators(null, after, current_page) 
                  };
        
                window.addEventListener('load', (event) => {
                  getDelegators(null, null, 0);
                  console.log('getDelegators');
                });
          </script> 

</div>
{% endif %}
{% endblock content %}