{% extends "base.html" %}
{% block content %}

<script>

    function retrieveSellerBuyer() {
        period = document.getElementById('period').value;
        url = '/{{net}}/ajax_seller_buyer_mongo/'+period;
        ddiv = document.getElementById('sellers-buyers');
        ddiv.innerHTML = '{% include "spinner.html" %}'
        
      fetch(url)
        .then((response) => {
            
            return response.text();
          
        })
        .then((data) => {
            ddiv.innerHTML = data;
            
          
        })
        .catch(function(error) {
          console.log(error);
        });
      };
    
    //   function doBoth() {
        
    //     retrieveSellerBuyer("Buyers");
    //     // time.sleep(0.1)
    //     retrieveSellerBuyer("Sellers");
    //   };

      window.addEventListener('load', (event) => {
        retrieveSellerBuyer()
          
        });

</script>

<h2>'Sellers' and 'Buyers'</h2>
<p class="small p-2">To get insights on price movements, we have collected all exchange transactions with an external account (no inter-exchange transactions). 
    We are naming these accounts sellers and buyers, as they have transferred CCD to and from an exchange account. Note that this is a <i>necessary, but not sufficient condition</i> for actual sales and purchases, 
    but it is the best proxy we have.
</p>
<label class="small p-2" for="period"><small>Choose a period:</small></label>

<select name="period" id="period" onchange="retrieveSellerBuyer()">
    {% for period in periods|reverse %}
        <option value="{{period}}" {% if period == "Last_30_days"%}selected=""{% endif%}><small>{{period|replace("_", " ")}}</small></option>
    {% endfor %}
</select>


<div class="ms-2 me-3" id="sellers-buyers"></div>

{% endblock content %}