<table id="{{seller_buyer}}" class="table table-striped ms-1 me-5 small">
    <thead>
         <tr>
            <th class="small" scope="col">Sellers</th>
            <th class="small text-end" scope="col">Amount moved to an exchange account</th>
            <th class="small text-end" scope="col"># txs</th>
         </tr>
   </thead>
   <tbody>
    
    {% for row in df_sellers %}
     <tr>
         <td class="small">{{row.combined[5:]|account_link(net, False, True, user, tags, app=request.app)|safe}}</td>
         <td class="p-1 text-end"><small><span class="small">
                {{ (row.amount*1000000)|micro_ccd_no_decimals|safe}}
            
            </span></small></td>
        <td class= "p-1 text-end"><small><span class="small ccd">{{sellers_count[row.combined[5:]]}}</span></small></td>
     </tr>
             
     {% endfor %}
 </tbody>
 </table>    

 <table id="{{seller_buyer}}" class="table table-striped ms-1 me-2 small">
    <thead>
         <tr>
            <th class="small" scope="col">Buyers</th>
            <th class="small text-end" scope="col">Amount moved from an exchange account</th>
            <th class="small text-end" scope="col"># txs</th>
         </tr>
   </thead>
   <tbody>
    {% for row in df_buyers|reverse %}
     <tr>
         <td class="small">{{row.combined[5:]|account_link(net, False, True, user, tags, app=request.app)|safe}}</td>
         <td class="p-1 text-end"><small><span class="small">
                {{ (-1*row.amount*1000000)|micro_ccd_no_decimals|safe}}
            
            </span></small></td>
        <td class= "p-1 text-end"><small><span class="small ccd">{{buyers_count[row.combined[5:]]}}</span></small></td>
     </tr>
             
     {% endfor %}
 </tbody>
 </table>    