.venv/*
/.git-backup/*
.env
# /*
!/node_modules
/node_modules/*
!/node_modules/bootstrap-icons
/node_modules/bootstrap-icons/*
!/node_modules/bootstrap-icons/font
# to include the actual font files
# /node_modules/bootstrap-icons/font/*
# !/node_modules/bootstrap-icons/font/bootstrap-icons.min.css
# /node_modules/bootstrap-icons/font/fonts
# !/node_modules/bootstrap-icons/font/fonts/*

!/node_modules/bootstrap/
/node_modules/bootstrap/*
!/node_modules/bootstrap/dist
/node_modules/bootstrap/dist/*
!/node_modules/bootstrap/dist/js
/node_modules/bootstrap/dist/js/*
!/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js

!/node_modules/plotly.js-dist
/node_modules/plotly.js-dist/*
!/node_modules/plotly.js-dist/plotly.js

!/node_modules/plotly.js-strict-dist-min
/node_modules/plotly.js-strict-dist-min/*
!/node_modules/plotly.js-strict-dist-min/plotly-strict.min.js

!/node_modules/htmx.org/
/node_modules/htmx.org/*
!/node_modules/htmx.org/dist/
/node_modules/htmx.org/dist/*
!/node_modules/htmx.org/dist/htmx.js

!/node_modules/htmx-ext-class-tools/
/node_modules/htmx-ext-class-tools/*
!/node_modules/htmx-ext-class-tools/class-tools.js

!/node_modules/htmx-ext-json-enc/
/node_modules/htmx-ext-json-enc/*
!/node_modules/htmx-ext-json-enc/json-enc.js

!/node_modules/nouislider/
/node_modules/nouislider/*
!/node_modules/nouislider/dist/
/node_modules/nouislider/dist/*
!/node_modules/nouislider/dist/nouislider.js
!/node_modules/nouislider/dist/nouislider.css

!/node_modules/tabulator-tables/
/node_modules/tabulator-tables/*
!/node_modules/tabulator-tables/dist/
/node_modules/tabulator-tables/dist/*
!/node_modules/tabulator-tables/dist/js
/node_modules/tabulator-tables/dist/js/*
!/node_modules/tabulator-tables/dist/css
/node_modules/tabulator-tables/dist/css/*

!/node_modules/tabulator-tables/dist/js/tabulator.min.js
!/node_modules/tabulator-tables/dist/css/tabulator.min.css
!/node_modules/tabulator-tables/dist/css/tabulator_bootstrap5.min.css


!/node_modules/microlight/
/node_modules/microlight/*
!/node_modules/microlight/microlight.js

!/node_modules/flatpickr/
/node_modules/flatpickr/*
!/node_modules/flatpickr/dist/
/node_modules/flatpickr/dist/*
!/node_modules/flatpickr/dist/flatpickr.min.js
!/node_modules/flatpickr/dist/flatpickr.min.css
!/node_modules/flatpickr/dist/plugins
/node_modules/flatpickr/dist/plugins/*
!/node_modules/flatpickr/dist/plugins/monthSelect
/node_modules/flatpickr/dist/plugins/monthSelect/*
!/node_modules/flatpickr/dist/plugins/monthSelect/index.js
!/node_modules/flatpickr/dist/plugins/monthSelect/style.css



!/node_modules/jquery/
/node_modules/jquery/*
!/node_modules/jquery/dist/
/node_modules/jquery/dist/*
!/node_modules/jquery/dist/jquery.min.js


!/custom_scss
/custom_scss/*
!/custom_scss/custom.scss


!/node_modules/sortable-tablesort/
/node_modules/sortable-tablesort/*
!/node_modules/sortable-tablesort/sortable.min.css
!/node_modules/sortable-tablesort/sortable.min.js

!/node_modules/highlight.js/
/node_modules/highlight.js/*
!/node_modules/highlight.js/highlight.min.js
!/node_modules/highlight.js/styles/
/node_modules/highlight.js/styles/*
!/node_modules/highlight.js/styles/github-dark-dimmed.min.css
!/node_modules/highlight.js/languages/
/node_modules/highlight.js/languages/*
!/node_modules/highlight.js/languages/rust.min.js
!/node_modules/highlight.js/languages/json.min.js


!requirements.txt
!Dockerfile




.DS_Store
!/app/*


# !/app
# /app/static
# !/app/static/*
# /app/static/js
# !/app/static/js/*



*.pyc

.vscode/launch.json
.vscode/settings.json
