{% include 'base/tabulator/tabulator-custom-formatters.html' %}
{% set ccd_tabulator_table ='latest_blocks'%}
{% set REFRESH = 2_000%}
<div class="row">
  <div class="col">
  <span class="text-uppercase sm-text text-secondary-emphasis">Latest Finalized Blocks</span>
  </div>
{% include 'base/tabulator/timer-display.html' %}
</div>
<div id="{{ccd_tabulator_table}}" ></div>
<script>
  const {{ccd_tabulator_table}}_columns = [
  {
        title: "Hash", field: "hash", 
        minWidth: 60,
        responsive: 0,
        formatter: "html",
        headerSort: false,
        hozAlign: "left", headerHozAlign: "left",
        
      },
      {
        title: "Timestamp", field: "transaction_block_info_slot_time", 
        minWidth: 90,
        maxWidth: 90,
        responsive: 0,
        formatter: "html",
        headerSort:false,
        titleDownload:"Timestamp",
        hozAlign: "right", headerHozAlign: "right",
        
      },
      {
        title: "Height", field: "block_height", hozAlign: "right", headerHozAlign: "right", 
        responsive: 0,
        minWidth: 120,
        maxWidth: 130, 
        formatter: "html",
        headerSort: false,
        
      },
      {
        title: "Epoch", field: "epoch", hozAlign: "right", headerHozAlign: "right", 
        responsive: 100,
        minWidth: 100,
        maxWidth: 100, 
        formatter: "html",
        headerSort: false,
        
      },
      {
        
        title: "Validator", field: "validator", headerHozAlign:"right", hozAlign: "right", 
        responsive: 30,
        minWidth: 120,
        formatter: "html",
        headerSort: false,
        
      },
      
      {
        title: "Txs", field: "transaction_count", hozAlign: "right", headerHozAlign: "right", 
        responsive: 100,
        minWidth: 100,
        maxWidth: 100, 
        formatter: "html",
        headerSort: false,
        
      },
      {
        title: "Parent", field: "parent_block", 
        minWidth: 80,
        maxWidth: 80,
        responsive: 200,
        formatter: "html",
        headerSort: false,
        hozAlign: "right", headerHozAlign: "right",
        
      },

    ];

  
  
  window["{{ccd_tabulator_table}}_columns"] = {{ccd_tabulator_table}}_columns;

  window["{{ccd_tabulator_table}}_table"] = new Tabulator("#{{ccd_tabulator_table}}", {
  layout: "fitColumns",
  height: "600px",
  responsiveLayout: "hide",
  ajaxURL: "/{{net}}/ajax_last_blocks_own_page",              // your paged endpoint
  initialSort: [{column:"block_height", dir:"desc"}],
  paginationSize: 50,                // rows per “page”
  progressiveLoad: "scroll",         // infinite scroll mode
  progressiveLoadScrollMargin: 300,  // trigger next load 300px from bottom
  columns: window["{{ccd_tabulator_table}}_columns"],
});
window["{{ccd_tabulator_table}}_table"].on("renderComplete", function () {
  document.querySelectorAll(".tabulator-col-title").forEach(el => {
    el.classList.add("sm-text");
  });
});
async function pollNewBlocks(){
    const data = window["{{ccd_tabulator_table}}_table"].getData();
    const since = data.length ? data[0].block_height_since : 0;
    nextRefresh = Date.now() + REFRESH_INTERVAL;
    try {
      const resp = await fetch(`/{{net}}/ajax_blocks/new?since_height=${since}`);
      if (!resp.ok) throw new Error(resp.statusText);
      const newBlocks = await resp.json();

      if (newBlocks.length){
        await window["{{ccd_tabulator_table}}_table"].addData(newBlocks, true);
      }
    } catch (e) {
      
    }
  }

 
</script>
{% include 'base/tabulator/timer-js.html' %}
<script>
  setInterval(pollNewBlocks, {{REFRESH}});
</script>



<!-- <div class="mt-4">
  <span class="text-uppercase sm-text text-secondary-emphasis">Latest Finalized Blocks</span>
  
  <table class="table  ">
    <thead>
    <tr class="account-row sm-text">
      <th class="text-start text-secondary-emphasis"><span style="font-family: monospace, monospace;">Hash</span></th>
      
      <th class="text-end text-secondary-emphasis">Age</th>
      <th class="text-end text-secondary-emphasis">Height</th>
      <th class="text-end text-secondary-emphasis"><span class="tab-text-large">Epoch</span><span class="tab-text-small"></span></th>
      <th class="text-end text-secondary-emphasis">Validator</th>
      <th class="text-end text-secondary-emphasis">Txs</th>
      <th class="text-end text-secondary-emphasis"><span class="tab-text-large">Parent Block</span><span class="tab-text-small"></span></th>
    </tr>
  </thead>
    <tbody class="table-group-divider">
      {% for row in blocks %}
        <tr class="account-row sm-text">
          <td class="text-start text-secondary-emphasis"><a href="/{{net}}/block/{{row.hash}}"><span class="ccd" >{{row.hash|block_hash_link(net)|safe}}</a></span></td>
          <td class="text-end text-secondary-emphasis">{{row.slot_time|datetime_delta_format_since}}</td>
          <td class="text-end text-secondary-emphasis"><span class="ccd" >{{row.height|round_x_decimal_with_comma(0)}}</span></td>
          <td class="text-end text-secondary-emphasis"><span class="tab-text-large"><span class="ccd" >{{row.epoch|round_x_decimal_with_comma(0)}}</span></span><span class="tab-text-small"></span></td>
          <td class="text-end text-secondary-emphasis"><a class="ccd" href="/{{net}}/account/{{row.baker}}">{{row.baker|round_x_decimal_with_comma(0)}}</a></td>
          <td class="text-end text-secondary-emphasis"><span class="ccd">{{row.transaction_count|round_x_decimal_with_comma(0) }}</span></td>
          <td class="text-end text-secondary-emphasis"><span class="tab-text-large"><a href="/{{net}}/block/{{row.parent_block}}"><span class="ccd" >{{row.parent_block|block_hash_link(net)|safe}}</a></span></span><span class="tab-text-small"></span></td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
</div> -->