
<div class="mt-4">
  <span class="text-uppercase sm-text text-secondary-emphasis">Consensus Detailed Status (Experimental)</span>
  
  <table class="table  ">
    
    <tbody class="table-group-divider">
      
        <tr class="account-row sm-text">
          <td class="text-start text-secondary-emphasis">genesis_block</td>
          <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.genesis_block}}</td>
        </tr>

        <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">persistent_round_status</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.persistent_round_status}}</td>
        </tr>

        <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">round_status</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.round_status}}</td>
        </tr>

        <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">non_finalized_transaction_count</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.non_finalized_transaction_count}}</td>
        </tr>
      
        <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">transaction_table_purge_counter</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.transaction_table_purge_counter}}</td>
        </tr>

        <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">block_table</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.block_table}}</td>
        </tr>

        <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">branches</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.branches}}</td>
        </tr>
        <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">round_existing_blocks</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.round_existing_blocks}}</td>
        </tr>
        <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">round_existing_qcs</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.round_existing_qcs}}</td>
        </tr>
        <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">genesis_block_height</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.genesis_block_height}}</td>
        </tr>
        <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">last_finalized_block</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.last_finalized_block}}</td>
        </tr>
        <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">last_finalized_block_height</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.last_finalized_block_height}}</td>
        </tr>
        <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">latest_finalization_entry</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.latest_finalization_entry}}</td>
        </tr>
        <!-- <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">epoch_bakers</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.epoch_bakers}}</td>
        </tr> -->
        <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">timeout_messages</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.timeout_messages}}</td>
        </tr>
        <tr class="account-row sm-text">
            <td class="text-start text-secondary-emphasis">terminal_block</td>
            <td class="text-start text-secondary-emphasis ccd text-break">{{consensus.terminal_block}}</td>
        </tr>
    </tbody>
  </table>
</div>