{% extends "base/base.html" %}
{% block content %}
{% include 'base/search_bar_non_home_inclusion.html' %}
<h4>Project: {{project.display_name}}</h4>
<p>Go to <a href="{{project.url}}">{{project.url}}</a> to learn more.</p>
<br/><br/>
<h5>Account Addresses</h5>
{% if mainnet_accounts|length > 0 %}

    <table class="table  table-borderless ">
        <tr class="sm-text">
        <th class="text-secondary-emphasis">Address</th>
        <th class="text-secondary-emphasis">Display Name</th>
    </tr>
    {% for address in mainnet_accounts%}
    <tr class="sm-text">
        <td class="ccd"><a href="/mainnet/account/{{address.account_index}}" class="ccd">{{address.account_index}}</a></td>
        <td class="text-secondary-emphasis">{% if address.display_name %}{{address.display_name}}{% else %}{{project.display_name}}{% endif%}</td>
    </tr>

    {%endfor%}
    </table>
{% else %}
<p>No account addresses known.</p>
{% endif %}
<h5>Contract Addresses</h5>

{% if mainnet_contracts|length > 0 %}
    <table class="table  table-borderless ">
        <tr class="sm-text">
        <th class="text-secondary-emphasis">Contract</th>
        <th class="text-secondary-emphasis">Display Name</th>
        <th class="text-secondary-emphasis">Index</th>
    </tr>
    {% for address in mainnet_contracts%}
    <tr class="sm-text">
        <td class="ccd"><a href="/mainnet/contract/{{address.contract_index}}/0" class="ccd"><{{address.contract_index}},0></a></td>
        <td class="text-secondary-emphasis">{% if address.display_name %}{{address.display_name}}{% else %}{{project.display_name}}{% endif%}</td>
        <td class="text-secondary-emphasis">{{address.contract_index}}</td>
    </tr>

    {%endfor%}
    </table>
    {% else %}
    <p>No contract addresses known.</p>
    {% endif %}

{% endblock content %}