<div class="row mt-4 row-flex">
  <div class="col-md-6  col-sm-12 ">
      <div class="border content curved-border " >
        {% set title= "Pool Info" %}{% include 'base/box_title.html' %}
        {% include "pool/pool_info.html" %}</div>
  </div>
  {% if pool.pool_info.open_status != "closed_for_all" %}
  <div class="col-md-6  col-sm-12">
      <div id="validator_rewards" class=" content border curved-border  " >
        {% set title= "Pool Rewards" %}{% include 'base/box_title.html' %}
        {% include "pool/pool_rewards.html" %}</div>
  </div>
  {% endif %}
</div>

{% if pool.pool_info.open_status != "closed_for_all" %}
<div class="row mt-4 row-flex">
  
  <div class="col-md-6  col-sm-12">
      <div id="delegators" class=" content border curved-border  " ></div>
  </div>
</div>
{% endif %}

