<!-- <div class="table-responsive"> -->
    <table class="table table-borderless">

    <tbody>
        {% if pool %}
        <tr  class="sm-text">
            <td class=" text-secondary-emphasis">Pool Status</td>
            <td class=" text-end  text-secondary-emphasis">{{pool.pool_info.open_status}}</td>
        </tr>
        {% if pool.pool_info.url %}
        <tr class="sm-text">
            <td class=" text-secondary-emphasis">URL</td>
            <td class=" text-end align-middle"> <a href="{{pool.pool_info.url}}">{{ pool.pool_info.url}}</a></td>
        </tr>
        {% endif %}
        {% if pool.current_payday_info %}
        <tr class="sm-text">
            <td class=" text-secondary-emphasis">Total Stake</td>
            <td class=" text-end align-middle text-secondary-emphasis">{{ pool.current_payday_info.effective_stake|micro_ccd_no_decimals|safe}}</td>
        </tr>
        <tr class="sm-text">
            <td class=" text-secondary-emphasis">Total Stake (%)</td>
            <td class=" text-end align-middle text-secondary-emphasis ccd">{{ ((pool.current_payday_info.effective_stake /
                pool.all_pool_total_capital)* 100)|round_x_decimal_no_comma(5) }}%</td>
        </tr>
        {% endif %}
        <tr class="sm-text">
            <td  class=" text-secondary-emphasis" colspan="2"><i>Commission Rates</i></td>
        </tr>
        <tr class="sm-text">
            <td class="text-end text-secondary-emphasis">Block</td>
            <td class=" text-end align-middle  text-secondary-emphasis ccd">{{ pool.pool_info.commission_rates.baking* 100 }}%</td>
        </tr>

        <tr class="sm-text">
            <td class="text-end text-secondary-emphasis">Transaction</td>
            <td class=" text-end align-middle  text-secondary-emphasis ccd">{{ pool.pool_info.commission_rates.transaction* 100 }}%</td>
        </tr>
        
        {% endif %}

    </tbody>
</table>
<!-- </div> -->