<table class="table table-borderless">
    {% include 'base/pagination.html' %}
    {% for event in logged_events.logged_events_selected %}
    {% if "ccd_amount" not in event.recognized_event %}
        {% set token_info = balances[event.recognized_event.cis2_token_contract_address]%}
            {% set ai = token_info.address_information %}
            {% set vi = token_info.verified_information %}
            {% set token_decimals = 0 %}
            {% if vi %}
                {% set token_decimals = vi.decimals %}
            {% else %}
                {% if ai %}
                {% set token_decimals = ai.decimals %}
                {% endif %}
            {% endif %}
        {% endif %}
    <tr class="table-row-line-height sm-text">
        <td class="text-start text-secondary-emphasis">        {{event.tx_info.tx_hash|tx_hash_link(net)|safe}}</td>
        <td class="text-start text-secondary-emphasis">{{cis5_event_translations[event.event_info.event_type]}}</td>
        <td class="text-end text-secondary-emphasis ccd">{{event.tx_info.date}}</td>
        <td class="text-end text-secondary-emphasis ccd">
            {% if "ccd_amount" in event.recognized_event %}
                {% if event.from_address_canonical == public_key %}
                    - {{event.recognized_event.ccd_amount | micro_ccd_display | safe}}
                {% else %}
                    {{event.recognized_event.ccd_amount | micro_ccd_display | safe}}
                {% endif %}
            
            {% elif "token_amount" in event.recognized_event %}
            <span class="ccd text-secondary-emphasis">{{event.recognized_event.token_amount|int|token_amount_using_decimals_rounded(token_decimals, token_decimals)}} {{vi._id}}</span>
            <!-- {{event.recognized_event.token_amount}} {{event.recognized_event.cis2_token_contract_address}} -->
            {% endif %}
            
            </td>
    </tr>

    {% endfor %}
   

</tbody>
</table>
