
<div class="row mb-3 ps-3">
    <div class="col-sm-12">
        Smart Wallet Account
        <span class="text-end text-secondary-emphasis" ></span>
        <span class="ms-2 text-success">{{ public_key|shorten_address(True)|safe }}</span>
        <br/>
        <span class="text-end text-secondary-emphasis" >Created in <a href="/{{net}}/contract/{{index}}/{{subindex}}"  title="{{wallet_contract_address}}">
            {{smart_wallets.get(wallet_contract_address,{"name": ""}).name}}
        </a>
       </span>

    </div>      
</div>