<table class="table table-borderless">
    <thead>
        <tr>
            <th class="text-start text-secondary-emphasis"><span style="font-family: monospace, monospace;">Tx Hash</span></th>
            <th class="text-start text-secondary-emphasis ccd">Date</th>
            <th class="text-start text-secondary-emphasis">Action</th>
            <th class="text-start text-secondary-emphasis">CCD/Token</th>
            <th class="text-end text-secondary-emphasis ccd">Amount</th>
        </tr>
    </thead>
    {% include 'base/pagination.html' %}
    {% for event in logged_events.logged_events_selected %}
    {% if "ccd_amount" not in event.recognized_event %}
    {% set token_address = [event.recognized_event.cis2_token_contract_address,event.recognized_event.token_id]|join("-")%}
    
        {% set token_info = balances_all[token_address]%}
        {% if token_info %}    
            {% set ai = token_info.address_information %}
            {% set vi = token_info.verified_information %}
            
            {% set token_decimals = 0 %}
            {% if vi %}
                {% set token_decimals = vi.decimals %}
                {% set token_name = vi.display_name %}
            {% else %}
                {% set token_name = event.recognized_event.cis2_token_contract_address %}
                {% if ai %}
                {% set token_decimals = ai.decimals %}
                {% endif %}
            {% endif %}
            {% endif %}
            
        {%endif%}
        {% if ai %}
            {% if ai.token_metadata %}
                {% set token_name = ai.token_metadata.name %}
                
            {% endif %}
        {%endif%}
    <tr class="table-row-line-height sm-text">
        <td class="text-start text-secondary-emphasis">        {{event.tx_info.tx_hash|tx_hash_link(net)|safe}}</td>
        <td class="text-start text-secondary-emphasis ccd">{{event.tx_info.date}}</td>
        <td class="text-start text-secondary-emphasis">{{cis5_event_translations[event.event_info.event_type]}}</td>
        <td class="text-start text-secondary-emphasis">
            {%if "ccd" in event.event_info.event_type%}
                CCD
            {%else%}
                {% if vi %}<img src="{{vi.logo_url}}"  style=" max-width: 16px;max-height: 16px;"  alt="">{% endif %}
                <a href="/{{net}}/token/{{token_address|split_into_url_slug}}">{{token_name}}
            {%endif%}
        </td>

        
        <td class="text-end text-secondary-emphasis ccd">
            {% if "ccd_amount" in event.recognized_event %}
                {% if event.from_address_canonical == public_key %}
                    - {{event.recognized_event.ccd_amount | micro_ccd_display | safe}}
                {% else %}
                    {{event.recognized_event.ccd_amount | micro_ccd_display | safe}}
                {% endif %}
            
            {% elif "token_amount" in event.recognized_event %}
            {% if vi %}
                {% if vi.token_type == "fungible" %}
                    {% set unit = vi._id %}
                {% else %}
                    {% set unit = "" %}
                {% endif %}
                <span class="text-secondary-emphasis">{{event.recognized_event.token_amount|int|token_amount_using_decimals_rounded(token_decimals, token_decimals)}} {{unit}}</span>
            {% else %}
                <span class="text-secondary-emphasis">{{event.recognized_event.token_amount|int|token_amount_using_decimals_rounded(token_decimals, token_decimals)}} </span>
            {%endif%}
            
            <!-- {{event.recognized_event.token_amount}} {{event.recognized_event.cis2_token_contract_address}} -->
            {% endif %}
            
            </td>
    </tr>

    {% endfor %}
   

</tbody>
</table>
