

        <div class="mb-4 mt-4">
            <div id="search-element-public-key" class="search-bar-container bg-secondary-subtle border">
                <div class="input-box">
                    <select 
                    class="form-select form-select-sm search_selector" 
                    aria-label="search select" 
                    id="search_selector_public_key">
                    
                        <option value="9632" selected>Gateway</option>
                        <option value="9645">Gonana</option>
                        <option value="9900">5TARS</option>
                        
                      </select>
                    <input type="text" placeholder="Public Key..." id="search_value_public_key"
                    hx-post="/{{net}}/smart-wallets/search" 
                    hx-ext='json-enc'
                        hx-vals='js:{
                            "selector": document.getElementById("search_selector_public_key").value, 
                            "value": document.getElementById("search_value_public_key").value,
                            "net": document.getElementById("net_switcher").value}'>
                    <button role="button" class="input-group-text btn btn-secondary" >
                        <img src="/static/misc/search_btn.png" width="19" height="19" alt="searc_btn"  hx-post="/{{net}}/smart-wallets/search" 
                        hx-trigger="click" hx-ext='json-enc' hx-vals='js:{
                            "selector": document.getElementById("search_selector_public_key").value, 
                            "value": document.getElementById("search_value_public_key").value,
                            "net": document.getElementById("net_switcher").value}
                            '
                            >
                    </button>
                </div>
            </div>
        </div>


