

<table class="table table-borderless">
    
    <tr class="table-row-line-height sm-text">
        <td class="text-start text-secondary-emphasis">Module</td>
        <td class="text-end text-secondary-emphasis">
            {% set copy_value = wallet.source_module %}
            {% set value_type = "source_module" %}
            {% set display_value = wallet.source_module[:4]|safe %}
            {% include "base/copy_to_clipboard.html"%}
            
            
            </td>
    </tr>
    <tr class="table-row-line-height sm-text">
        <td class="text-start text-secondary-emphasis"># Public Keys</td>
        <td class="text-end text-secondary-emphasis">{{ wallet.count_of_unique_addresses}}
            
            </td>
    </tr>

</table>

    <span class="text-secondary-emphasis">Latest active public keys</span>

<table class="table table-borderless">
    <thead>
        <tr  class="table-row-line-height sm-text">
            <th class="text-start text-secondary-emphasis">Public Key</th>
            <th class="text-start text-secondary-emphasis">Date</th>
            <th class="text-end text-secondary-emphasis">Block</th>
    </thead>
    
    {% for public_key, info in wallet.active_addresses.items() %}
    <tr class="table-row-line-height sm-text">
        <td class="text-start text-secondary-emphasis">{{public_key|account_link(net,user,tags,request.app)|safe}}</td>
        <td class="text-start text-secondary-emphasis ccd">{{info.last_active_date}}</td>
        <td class="text-end text-secondary-emphasis ccd">{{info.last_active_block|round_x_decimal_with_comma(0)}}</td>
    </tr>
    {% endfor%}
    

</table>




