
<table class="table table-borderless">
    <tbody>
    {% for event in events_list %}
        
            <tr class=" sm-text">
                {% if events_list|length > 1%}
                <td  class="text-end text-secondary-emphasis">
                    {{loop.index}}
                </td>
                {%endif%}
                <td class=" text-start text-secondary-emphasis  parameter">{{event.event | safe}}
                    {% if event.update %}
                    <br><span class="  parameter">{{event.update | safe}}</span>
                    {% endif %}
                    {% if event.emit %}
                    <br><span class=" parameter">{{event.emit | safe}}</span>
                    {% endif %}
                </td>
            </tr>
            {% if event.logged_events %}
            {% for logged_event in event.logged_events %}
            <tr class=" sm-text">
                {% if events_list|length > 1%}
                <td></td>
                {%endif%}
                <td class=" p2-4  text-start text-secondary-emphasis">&#8627; {{logged_event.event | safe}}
                    {% if logged_event.update %}
                    <br><span class="text-muted">{{logged_event.update | safe}}</span>
                    {% endif %}
                    {% if logged_event.emit %}
                    <br><span class="text-muted">{{logged_event.emit | safe}}</span>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
            {% endif %}        
    {% endfor %}
</tbody>
</table>
    

{% if classified_tx.dct.show_table %}
    
        <table class="table table-borderless">
            <thead>
                <tr class="sm-text">
                    <th  scope="col" class="text-secondary-emphasis text-start">Unlock Date</th>
                    <th  scope="col" class="text-secondary-emphasis text-end">Amount</th>
                
                </tr>
            </thead>
            <tbody>
        {% for schedule in classified_tx.dct.schedule %}
        <tr class="sm-text">
        <td class="text-start text-secondary-emphasis"><span class="ccd">{{schedule.timestamp|datetime_regular }}</span></td>
        <td class="text-end text-secondary-emphasis"><span >{{schedule.amount |micro_ccd_no_decimals|safe}}</span>  </td> 
        </tr>
        {% endfor %}
        {% if classified_tx.dct.to_account %}
        <td class="text-start text-secondary-emphasis">Receiver</td><td  class="text-end text-secondary-emphasis"><span>{{classified_tx.dct.to_account|account_link(net, user, tags, app=request.app)|safe}}</span></td>
        {% endif %}

            </tbody>
        </table>
            </tbody>
        </table>
        
    
{% endif %}