{% include 'base/tabulator/tabulator-custom-formatters.html' %}

<script>
  const {{ccd_tabulator_table}}_columns = [
  {
        title: "Hash", field: "hash", 
        minWidth: 60,
        maxWidth: 60,
        responsive: 0,
        sorter: "number",
        formatter: "html",
        accessorDownload: (value, data) => data.hash_download,
        headerSort: false,
        hozAlign: "left", headerHozAlign: "left",
        
      },
      {
        title: "Age", field: "transaction_block_info_slot_time", 
        minWidth: 100,
        maxWidth: 100,
        responsive: 50,
        formatter: isoDateTimeHumanDiff,
        headerSort:false,
        titleDownload:"Timestamp",
        accessorDownload: (value, data) => data.transaction_block_info_slot_time_download,
        hozAlign: "right", headerHozAlign: "right",
        
      },
      {
        
        title: "Event", field: "first_event", headerHozAlign:"right", hozAlign: "right", 
        responsive: 30,
        minWidth: 250,
        // maxWidth: 180, 
        formatter: "html",
        accessorDownload: (value, data) => StripHTMLFormatterOnString(data.first_event),
        headerSort: false,
        
      }

    ];

  
  
  window["{{ccd_tabulator_table}}_columns"] = {{ccd_tabulator_table}}_columns;
  window["{{ccd_tabulator_table}}_filename"] = '{{filename}}';
  window["{{ccd_tabulator_table}}_default_sort_field"] = 'block_height';
  window["{{ccd_tabulator_table}}_default_sort_field_direction"] = 'desc';
</script>
{% include 'base/tabulator/tabulator-table-full-width-with-totals-remote.html' %}
{% include 'base/tabulator/tabulator-table-download-link.html' %}
