<div id="{{ccd_tabulator_table}}"></div>
<div>
  <a href="#" class="tabulator-download-button" id="download-csv">Download visible rows as CSV</a>
</div>

<script>
  
  window["{{ccd_tabulator_table}}_table"] = new Tabulator("#{{ccd_tabulator_table}}", {
      columns: window["{{ccd_tabulator_table}}_columns"],
      layout: "fitColumns",
      responsiveLayout: "hide",
      pagination: true, 
      paginationMode: "remote", 
      paginationSize: 10,
      paginationSizeSelector: [10, 25, 50, 100],
      paginationButtonCount:3,
      paginationCounter: "rows",
      sortMode:"remote",
      ajaxURL: "{{tabulator_ajax_url}}",
      
      // ajaxRequesting: function (url, config) {
      // console.log("REQUEST URL:", url);
      // return true;
      // },

      ajaxURLGenerator: function (url, config, params) {
        const page = params.page || 1;
        const size = params.size || 10;
        const skip = (page - 1) * size;

        const sorter = params.sort?.[0] || {};
        const sort_key = sorter.field || window["{{ccd_tabulator_table}}_default_sort_field"];
        const direction = sorter.dir || window["{{ccd_tabulator_table}}_default_sort_field_direction"];

        const query = new URLSearchParams({
          page,
          size,
          sort_key,
          direction,
        });

        return `{{tabulator_ajax_url}}?${query.toString()}`;
      },

    // // Response handler to inspect data
    // ajaxResponse: function (url, params, response) {
    //   console.log("Response Data:", response);
    //   return response;  // Ensure the data is in the right format
    // },

  //   rowFormatter: function (row) {
  //     row.getElement().classList.add("table-row-line-height");
  //     row.getCells().forEach(function(cell){
  //   cell.getElement().classList.add("ccd","sm-text");
  // });
  //   },

  
  });


</script>
