<div id="{{ccd_tabulator_table}}"></div>
<!-- <div>
  <a href="#" class="tabulator-download-button" target="_blank" id="download-csv">Download data as CSV</a>
</div> -->

<script>
    window["{{ccd_tabulator_table}}_table"] = new Tabulator("#{{ccd_tabulator_table}}", {
      layout: "fitColumns",
      maxHeight: "400px",           // fixed outer height
      heightGrow: false,
      responsiveLayout: "hide",
      pagination: "local",
      // rowHeight:20,
      paginationSize: 25,
      paginationSizeSelector: [10, 25, 50, 100, 500],
      paginationCounter: "rows",
    });
</script>
