{% include 'base/tabulator/tabulator-custom-formatters.html' %}

<script>
  const {{ccd_tabulator_table}}_columns = [
  {
        title: "Account", field: "account", 
        minWidth: 120,
        // maxWidth: 120,
        responsive: 0,
        accessorDownload: (value, data) => data.account_download,
        formatter: "html",
        headerSort: false,
        hozAlign: "left", headerHozAlign: "left",
        
      },
      {
        title: "", field: "message", 
        minWidth: 80,
        // maxWidth: 120,
        responsive: 0,
        accessorDownload: (value, data) => StripHTMLFormatterOnString(data.message),
        formatter: "html",
        headerSort: false,
        hozAlign: "left", headerHozAlign: "left",
        
      },
      {
        title: "Staked Amount", field: "staked_amount", 
        minWidth: 150,
        maxWidth: 150,
        responsive: 0,
        formatter: microCCDFormatterRounded,
        titleDownload:"Staked Amount (CCD)",
        accessorDownload: (value, data) => data.staked_amount/1000000,
        headerSort:false,
        
        hozAlign: "right", headerHozAlign: "right",
        
      },
      
    ];

  
  
  window["{{ccd_tabulator_table}}_columns"] = {{ccd_tabulator_table}}_columns;
   window["{{ccd_tabulator_table}}_filename"] = '{{filename}}';
</script>
{% include 'base/tabulator/tabulator-table-full-width-with-totals-remote.html' %}
{% include 'base/tabulator/tabulator-table-download-link.html' %}