{% set title= "Block Transactions" %}{% include 'base/box_title.html' %}
{% include 'base/pagination.html' %}
<table class="table table-borderless">
    <tbody>
        {% for tx in transactions %}
        <tr class="table-row-line-height sm-text">
            <td class="text-start text-secondary-emphasis">{{tx.transaction.hash|tx_hash_link(net)|safe}}</td>
            <td class="text-start ">{{tx.transaction.type.contents|tx_type_translator("icon")|safe}} <span class="text-secondary-emphasis" >{{tx.transaction.type.contents|tx_type_translator("display")|safe}}</span></td>
            <td class="text-end text-secondary-emphasis">
            {% if tx.transaction.account_transaction %}
            {{tx.transaction.account_transaction.sender|account_link(net,user,tags,request.app)|safe }}
            {% else %}
                Chain  
            {%endif%}</td>
        </tr>
        {% endfor %}
        {% if transactions|length == 0 %}
        <tr class="table-row-line-height sm-text">
            <td class="text-start text-secondary-emphasis" colspan="3">No transactions recorded in block.</td>
        {% endif %}
    </tbody>
    </table>

<!-- </div> -->