{% extends "base.html" %}
{% block content %}
<h2>Block{% if net == 'mainnet'%}{%else%} (Testnet){%endif%}</h2>
<script>
    $(document).ready(function () {
        $('[data-bs-toggle="tooltip"]').tooltip();
    });
</script>


{% if 'error' in blockSummary %}
<p>An error occured: <b>{{blockSummary.errorMessage}}</b></p>
{% else %}
<!-- Get Transaction -->
<script>
    function getTransactions(requested_page, total_rows) {
        transactions = document.getElementById('txs');
        var block_hash = document.querySelector('.block_hash').title;
        url =  '/ajax_block_transactions_html_v2/{{net}}/' + block_hash + '/' + requested_page + '/' + total_rows + '/' + api_key ;

        fetch(url)
            .then((response) => {
                return response.text();
            })
            .then((data) => {
                transactions.innerHTML = data;
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function prev_v2_txs(requested_page, total_rows) {
        console.log("___PREV:", requested_page)
        getTransactions(requested_page, total_rows)
    };
    function next_v2_txs(requested_page, total_rows) {
        console.log("___NEXT:", requested_page)
        getTransactions(requested_page, total_rows)
    };

    // function prev_txs(go_to_page) {
    //     getTransactions(go_to_page);
    // };
    // function next_txs(go_to_page) {
    //     getTransactions(go_to_page);
    // };
    // function prev_txs(before, current_page) {
    //     console.log("___PREV:", before, current_page)
    //     getTransactions(before, null, current_page) 
    //     };
    // function next_txs(after, current_page) {
    //     console.log("___NEXT:", after, current_page)
    //     getTransactions(null, after, current_page) 
    //     };

    window.addEventListener('load', (event) => {
        getTransactions(0, 0);

    });
</script>
<script>
    function getSpecialEvents() {
        se = document.getElementById('special_events');
        var block_hash = document.querySelector('.block_hash').title;
        url =  '/ajax_special_events_html_v2/{{net}}/' + block_hash + '/' + api_key ;

        fetch(url)
            .then((response) => {
                return response.text();
            })
            .then((data) => {
                se.innerHTML = data;
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    window.addEventListener('load', (event) => {
        getSpecialEvents();

    });
</script>
<script>
    function getChainParameters() {
        
        cp = document.getElementById('chain_parameters');
        var block_hash = document.querySelector('.block_hash').title;
        url =  '/ajax_chain_parameters_html_v2/{{net}}/' + block_hash + '/' + api_key ;
        console.log('url===', url);
        fetch(url)
            .then((response) => {
                return response.text();
            })
            .then((data) => {
                cp.innerHTML = data;
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    window.addEventListener('load', (event) => {
        getChainParameters();

    });
</script>
<!-- Get Account Rewards -->
<script>
    function getAccountRewards(requested_page, total_rows) {
        account_rewards = document.getElementById('account_rewards');
        block_hash = document.getElementById('copy_me').title;
        slot_time = document.getElementById('slot_time').title.split(' ')[0];

        url =  '/ajax_payday_account_rewards_html_v2/' + block_hash + '/' + requested_page + '/' + total_rows + '/' + slot_time + '/' + api_key;

        fetch(url)
            .then((response) => {
                return response.text();
            })
            .then((data) => {
                account_rewards.innerHTML = data;
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function prev_v2_account_rewards(requested_page, total_rows) {
        console.log("___PREV:", requested_page)
        getAccountRewards(requested_page, total_rows)
    };
    function next_v2_account_rewards(requested_page, total_rows) {
        console.log("___NEXT:", requested_page)
        getAccountRewards(requested_page, total_rows)
    };

    function prev_account_rewards(before, requested_page) {
        console.log("___PREV:", before, requested_page)
        getAccountRewards(before, null, requested_page)
    };
    function next_account_rewards(after, requested_page) {
        console.log("___NEXT:", after, requested_page)
        getAccountRewards(null, after, requested_page)
    };

    window.addEventListener('load', (event) => {
        getAccountRewards(0, 0);
        console.log('getAccountRewards');
    });
</script>
<!-- Get Pool Rewards -->
<script>
    function getPoolRewards(requested_page, total_rows) {
        pool_rewards = document.getElementById('pool_rewards');
        block_hash = document.getElementById('copy_me').title;
        slot_time = document.getElementById('slot_time').title.split(' ')[0];
        url =  '/ajax_payday_pool_rewards_html_v2/' + block_hash + '/' + requested_page + '/' + total_rows + '/' + slot_time + '/' + api_key;

        fetch(url)
            .then((response) => {
                return response.text();
            })
            .then((data) => {
                pool_rewards.innerHTML = data;
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function prev_v2_pool_rewards(requested_page, total_rows) {
        console.log("___PREV:", requested_page)
        getPoolRewards(requested_page, total_rows)
    };
    function next_v2_pool_rewards(requested_page, total_rows) {
        console.log("___NEXT:", requested_page)
        getPoolRewards(requested_page, total_rows)
    };


    function prev_pool_rewards(before, current_page) {
        console.log("___PREV:", before, current_page)
        getPoolRewards(before, null, current_page)
    };
    function next_pool_rewards(after, current_page) {
        console.log("___NEXT:", after, current_page)
        getPoolRewards(null, after, current_page)
    };

    window.addEventListener('load', (event) => {
        getPoolRewards(0, 0);
        console.log('getPoolRewards');
    });
</script>
{% if possible_baker is not none %}
<p class="small">Did you mean <a href="/account/{{possible_baker}}">Baker {{possible_baker}}</a>?</p>
{% endif %}
{% include "block/block_info.html" %}

{% include "block/block_tabs.html" %}

<div class="tab-content" id="myTabContent">

    {% include "block/block_se.html" %}
    {% include "block/block_cp.html" %}
    {% if payday %}
    {% include "block/block_payday.html" %}
    {% endif %}
    {% if block_info.transaction_count %}
    <div id="transactions" class="tab-pane fade show" style="padding-top: 10px;" id="transactions" role="tabpanel"
        aria-labelledby="transactions-tab">
        <div id="txs"></div>
    </div>
    {% endif %}

    <!--class="tab-content" id="myTabContent"-->
</div>
<div class="mb-10"></div>


<!-- if 'error' in transactions -->
{% endif %}



{% endblock content %}