<br>
<div id="payday" class="tab-pane fade show" style="padding-top: 10px;" id="payday" role="tabpanel" aria-labelledby="payday-tab">

    <ul class="nav nav-tabs ms-1 me-1" id="myTab" role="tablist">

        <li class="nav-item" role="presentation">
            <button class="nav-link small ps-2 pe-2 active" id="account-tab" data-bs-toggle="tab" data-bs-target="#account" type="button" role="tab" aria-controls="account" aria-selected="true"><small>Account Rewards</small></button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link small ps-2 pe-2 " id="pool-tab" data-bs-toggle="tab" data-bs-target="#pool" type="button" role="tab" aria-controls="pool" aria-selected="true"><small>Pool Rewards</small></button>
        </li>    
        
    </ul>
<div class="tab-content" id="myTabContent">
    <div id="account" class="tab-pane fade show active" style="padding-top: 10px;" id="account" role="tabpanel" aria-labelledby="account-tab">

        <div id="account_rewards"></div>
    </div>
    <div id="pool" class="tab-pane fade show" style="padding-top: 10px;" id="pool" role="tabpanel" aria-labelledby="pool-tab">

        <div id="pool_rewards"></div>
    </div>
</div>
</div>