{% if nft_tokens|length > 0 %}

{% include 'base/pagination.html' %}
<table class="table table-borderless ">
      <thead>
        <tr class="sm-text">
          <th class="text-secondary-emphasis " scope="col">Contract</th>
          <th class="text-secondary-emphasis " scope="col">Token</th>
          <th class="text-secondary-emphasis text-end" scope="col">Last Activity in Block</th>
          <!-- <th class="text-secondary-emphasis  text-end" scope="col">Balance</th> -->

        </tr>
      </thead>
      <tbody>
        {% for row in nft_tokens %}
        {% set ai = row %}
            
        <tr class="sm-text border-bottom">
          <td class=" text-secondary-emphasis">{{row.contract}}</td>
             <td class=" text-secondary-emphasis">
              {% if ai.token_metadata %}
              <a href="/{{net}}/token/{{row.contract|split_contract_into_url_slug_and_token_id(row.token_id)}}">{{ai.token_metadata.name}}</a>
              {% else %}
              <a href="/{{net}}/token/{{row.contract|split_contract_into_url_slug_and_token_id(row.token_id)}}">{{ai.token_id}}</a>
              {% endif %}
              </td>
              <td class="text-end text-secondary-emphasis ccd"><a href="/{{net}}/block/{{row.last_height_processed}}">{{row.last_height_processed|round_x_decimal_with_comma(0)}}</a></td>
             <!-- <td class="text-end"> 
              <span class="ccd_decimals  text-secondary-emphasis">{{row.token_amount}}</span>
              
            </td> -->
            
        </tr>
        {% endfor %}
      </tbody>
    </table>
  {% endif %}