<script>
    // If we do need an upload button, unhide it (no d-none class) and add the event listener below

    // document.getElementById('update').addEventListener('click', function() {
    //   var event = new CustomEvent('update_event');
    //   this.dispatchEvent(event);
    // });
    // Radio group changes
    
document.querySelectorAll('input[name="group_by"]').forEach(radio => {
    radio.addEventListener('change', function() {
        var event = new CustomEvent('update_event');
        document.getElementById('update').dispatchEvent(event);
    });
});
'{% if include_kpis %}'
    document.getElementById('kpi_id')?.addEventListener('change', function () {
  const event = new CustomEvent('update_event');
  document.getElementById('update')?.dispatchEvent(event);
});
'{% endif %}'
'{% if include_trace_selection %}'
document.querySelectorAll('input[name="trace_selection"]').forEach(checkbox => {
    checkbox.addEventListener('change', function() {
        // Check if any remain checked
        const checkedBoxes = document.querySelectorAll('input[name="trace_selection"]:checked');
        if (checkedBoxes.length === 0) {
            this.checked = true;
            // No checkboxes checked, so skip dispatching update_event
            return;
        }
        // Otherwise dispatch the event
        var event = new CustomEvent('update_event');
        document.getElementById('update').dispatchEvent(event);
    });
});
'{% endif %}'

'{% if include_dropdown_fancy %}'
document.querySelectorAll('input[name="fancy_group"]').forEach(radio => {
    radio.addEventListener('change', function() {
        var event = new CustomEvent('update_event');
        document.getElementById('update').dispatchEvent(event);
    });
});
'{% endif %}'

</script>