{% extends "base/base.html" %}
{% block content %}
    {% set hx_post_url = '/' ~ net ~ '/ajax_statistics_standalone/statistics_active_addresses' %}
    {% set include_dropdown = False %}
    {% set include_trace_selection = True %}
    {% set traces = {'address': 'Native',  'public_key': "CIS-5"} %}
    {% include 'charts/standalone_chart.html' %}
    
    {% include 'charts/download_link.html' %}
    
    {% set docs = 'services/end_of_day/statistics_unique_addresses/' %}
    {% include 'charts/documentation_link.html' %}
{% endblock %}