{% extends "base/base.html" %}
{% block content %}
    {% set hx_post_url = '/' ~ net ~ '/ajax_transaction_types_reporting' %}
    {% set include_dropdown = False %}
    {% set include_trace_selection = True %}
    {% set traces = {
        'account': 'Account', 'staking': 'Staking', 'smart ctr': 'Smart Contracts', 
        'transfer': 'Transfer', 'register data': 'Data'
    } %}
    {% include 'charts/standalone_chart.html' %}
    
    {% include 'charts/download_link.html' %}
    
    {% set docs = 'services/end_of_day/transactions_by_type_contents/' %}
    {% include 'charts/documentation_link.html' %}
{% endblock %}