
<script>
    function formatDate(date) {
        return (
          
          months[date.getMonth()] +
          " " +
          date.getFullYear()
        )
      }
  
      function toFormat(v) {
        return formatDate(new Date(v))
      }
  
      function mergeTooltips(slider, threshold, separator) {
  
      var textIsRtl = getComputedStyle(slider).direction === 'rtl';
      var isRtl = slider.noUiSlider.options.direction === 'rtl';
      var isVertical = slider.noUiSlider.options.orientation === 'vertical';
      var tooltips = slider.noUiSlider.getTooltips();
      var origins = slider.noUiSlider.getOrigins();
  
      // Move tooltips into the origin element. The default stylesheet handles this.
      tooltips.forEach(function (tooltip, index) {
          if (tooltip) {
              origins[index].appendChild(tooltip);
          }
      });
  
      slider.noUiSlider.on('update', function (values, handle, unencoded, tap, positions) {
  
          var pools = [[]];
          var poolPositions = [[]];
          var poolValues = [[]];
          var atPool = 0;
  
          // Assign the first tooltip to the first pool, if the tooltip is configured
          if (tooltips[0]) {
              pools[0][0] = 0;
              poolPositions[0][0] = positions[0];
              poolValues[0][0] = values[0];
          }
  
          for (var i = 1; i < positions.length; i++) {
              if (!tooltips[i] || (positions[i] - positions[i - 1]) > threshold) {
                  atPool++;
                  pools[atPool] = [];
                  poolValues[atPool] = [];
                  poolPositions[atPool] = [];
              }
  
              if (tooltips[i]) {
                  pools[atPool].push(i);
                  poolValues[atPool].push(values[i]);
                  poolPositions[atPool].push(positions[i]);
              }
          }
  
          pools.forEach(function (pool, poolIndex) {
              var handlesInPool = pool.length;
  
              for (var j = 0; j < handlesInPool; j++) {
                  var handleNumber = pool[j];
  
                  if (j === handlesInPool - 1) {
                      var offset = 0;
  
                      poolPositions[poolIndex].forEach(function (value) {
                          offset += 1000 - value;
                      });
  
                      var direction = isVertical ? 'bottom' : 'right';
                      var last = isRtl ? 0 : handlesInPool - 1;
                      var lastOffset = 1000 - poolPositions[poolIndex][last];
                      offset = (textIsRtl && !isVertical ? 100 : 0) + (offset / handlesInPool) - lastOffset;
  
                      // Center this tooltip over the affected handles
                      tooltips[handleNumber].innerHTML = poolValues[poolIndex].join(separator);
                      tooltips[handleNumber].style.display = 'block';
                      tooltips[handleNumber].style[direction] = offset + '%';
                  } else {
                      // Hide this tooltip
                      tooltips[handleNumber].style.display = 'none';
                  }
              }
          });
      });
      }
  
      // pretty tooltips
      const MONTH_MS = 1000 * 60 * 60 * 24 * 30.5
  
      function timestamp(str) {
        return new Date(str).getTime()
      }
  
        months = [
          "Jan",
          "Feb",
          "Mar",
          "Apr",
          "May",
          "Jun",
          "Jul",
          "Aug",
          "Sep",
          "Oct",
          "Nov",
          "Dec"
      ]
  
      var date = new Date()
      var previousMonth = new Date()
      previousMonth.setMonth(previousMonth.getMonth() - 1)
  
      var dateSliderPretty = document.getElementById("slider-date-pretty")
  
      noUiSlider.create(dateSliderPretty, {
        behaviour: "tap",
        connect: true,
        tooltips: [true, true],
        format: { to: toFormat, from: Number },
        range: {
          min: timestamp('{{chain_start|safe}}'),
          max: timestamp(date),
        },
        step:MONTH_MS,
        start: [timestamp('{% if date_start%}{{date_start|safe}}{%else%}{{chain_start|safe}}{%endif%}'), timestamp(date)],
      })
  
      var dateValuesPretty = [
        document.getElementById("event-start-pretty"),
        document.getElementById("event-end-pretty"),
      ]
  
      dateSliderPretty.noUiSlider.on("update", function (values, handle) {
        dateValuesPretty[handle].innerHTML = values[handle];
        var event = new CustomEvent('update_event');
                  document.getElementById('update').dispatchEvent(event);
      })
  
      var connect = dateSliderPretty.querySelectorAll('.noUi-connect');
      var classes = ['c-2-color'];
  
      for (var i = 0; i < connect.length; i++) {
          connect[i].classList.add(classes[i]);
      }
  
      mergeTooltips(dateSliderPretty, 20, ' - ');
  </script>