{% extends "base.html" %}
{% block style %}
    <style>
        small {
            color: var(--secondary-text-color-light);
        }

        li {
            margin: 10px;
        }

        button {
            border: none;
        }

        .active small {
            color: var(--highlight-color-light);
        }
    </style>
{% endblock %}
{% block content %}
    {% if error %}
        <p>An error occured: <b>{{ error.errorMessage }}</b></p>
    {% else %}
        <div class="container py-5">
        <h2 class="ms-0">Chain Information</h2>

        <ul class="nav nav-tabs ms-1 me-1 mt-5 text-secondary d-flex justify-content-between" id="myTab" role="tablist">
            {% if net == 'mainnet' %}
                <li class="nav-item text-secondary" role="presentation">
                    <button class="nav-link bg-transparent small ps-2 pe-2 border-0 {% if net == 'mainnet' %}active{% else %}{% endif %}"
                            id="ip-tab" data-bs-toggle="tab" data-bs-target="#ip" type="button" role="tab"
                            aria-controls="ip" aria-selected="true">
                        <small>Identity Providers</small>
                    </button>
                </li>
                <li class="nav-item text-secondary" role="presentation">
                    <button class="nav-link bg-transparent small ps-2 pe-2 border-0 " id="ar-tab" data-bs-toggle="tab"
                            data-bs-target="#ar" type="button" role="tab" aria-controls="ar" aria-selected="true">
                        <small>Anonymity Revokers</small>
                    </button>
                </li>
                <li class="nav-item text-secondary" role="presentation">
                    <button class="nav-link bg-transparent small ps-2 pe-2 border-0 " id="po-tab" data-bs-toggle="tab"
                            data-bs-target="#po" type="button" role="tab" aria-controls="po" aria-selected="true">
                        <small>Chain Updates</small>
                    </button>
                </li>
                <li class="nav-item text-secondary" role="presentation">
                    <button class="nav-link bg-transparent small ps-2 pe-2 border-0 " id="fees-tab" data-bs-toggle="tab"
                            data-bs-target="#fees" type="button" role="tab" aria-controls="fees" aria-selected="true">
                        <small>Transaction Fees</small>
                    </button>
                </li>
            {% endif %}
        </ul>
        <div class="tab-content bg-transparent" id="myTabContent">
            <div class="tab-pane fade show {% if net == 'mainnet' %}active{% else %}{% endif %}"
                 style="padding-top: 10px;" id="ip" role="tabpanel" aria-labelledby="ip-tab">
                {% for provider in ip %}
                    {% include "/chain-information/ip_ar.html" %}
                {% endfor %}
            </div>

            <div class="tab-pane fade show" style="padding-top: 10px;" id="ar" role="tabpanel" aria-labelledby="ar-tab">
                {% for provider in ar %}{% include "/chain-information/ip_ar.html" %}{% endfor %}
            </div>

            <div class="tab-pane fade show" style="padding-top: 10px;" id="po" role="tabpanel"
                 aria-labelledby="po-tab">
                <div id="transactions"></div>
            </div>
            <div class="tab-pane fade show" style="padding-top: 10px;" id="fees" role="tabpanel"
                 aria-labelledby="fees-tab">
                {% include "/chain-information/transaction_fees.html" %}
            </div>
        </div>
    {% endif %}
{% endblock content %}
{% block javascript %}
    {% if not error %}
        <!-- Get Transactions -->
        <script>
            function getTransactions(requested_page, total_rows) {
                const transactions = document.getElementById('transactions');
                const url = '/ajax_protocol_updates/{{net}}/' + requested_page + '/' + total_rows + '/' + api_key;
                transactions.innerHTML = '{% include "spinner.html" %}';
                fetch(url)
                    .then((response) => {
                        return response.text();
                    })
                    .then((data) => {
                        transactions.innerHTML = data;

                    })
                    .catch(function (error) {
                        console.log(error);
                    });
            }

            function prev_v2_txs(requested_page, total_rows) {
                getTransactions(requested_page, total_rows);
            }

            function next_v2_txs(requested_page, total_rows) {
                getTransactions(requested_page, total_rows);
            }

            window.addEventListener('load', (event) => {
                getTransactions(0, 0);
            });
        </script>
    {% endif %}
{% endblock %}