{% extends "base.html" %}
{% block content %}
{% if error %}
<p>An error occured: <b>{{error.errorMessage}}</b></p>
{% else %}

<!-- Get Transactions -->
<script>
  function getTransactions(requested_page, total_rows) {
    transactions = document.getElementById('transactions');
    url = '/ajax_protocol_updates/{{net}}/' + requested_page + '/' + total_rows + '/' + api_key;
    transactions.innerHTML = '{% include "spinner.html" %}'
     fetch(url)
      .then((response) => {
        return response.text();
      })
      .then((data) => {
        transactions.innerHTML = data;
        
      })
      .catch(function (error) {
        console.log(error);
      });
  }

  function prev_v2_txs(requested_page, total_rows) {
    getTransactions(requested_page, total_rows)
  };
  function next_v2_txs(requested_page, total_rows) {
    getTransactions(requested_page, total_rows)
  };
  window.addEventListener('load', (event) => {
    getTransactions(0, 0)
    
  });
</script>

<h2>Chain Information</h2>
<ul class="nav nav-tabs ms-1 me-1" id="myTab" role="tablist">
{% if net == 'mainnet'%}
  <li class="nav-item" role="presentation">
    <button class="nav-link small ps-2 pe-2 {% if net == 'mainnet'%}active {%else%} {%endif%}" id="ip-tab" data-bs-toggle="tab" data-bs-target="#ip"
      type="button" role="tab" aria-controls="ip" aria-selected="true"><small>Identity <br/>Providers</small></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link small ps-2 pe-2  " id="ar-tab" data-bs-toggle="tab" data-bs-target="#ar"
      type="button" role="tab" aria-controls="ar" aria-selected="true"><small>Anonymity <br/>Revokers</small></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link small ps-2 pe-2  " id="po-tab" data-bs-toggle="tab" data-bs-target="#po"
      type="button" role="tab" aria-controls="po" aria-selected="true"><small>Chain <br/>Updates</small></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link small ps-2 pe-2  " id="fees-tab" data-bs-toggle="tab" data-bs-target="#fees"
      type="button" role="tab" aria-controls="fees" aria-selected="true"><small>Transaction <br/>Fees</small></button>
  </li>
  {%endif%}
  
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show {% if net == 'mainnet'%}active {%else%} {%endif%} " style="padding-top: 10px;" id="ip" role="tabpanel"
    aria-labelledby="ip-tab">
    {% for provider in ip %}
      {% include "/chain-information/ip_ar.html" %}
    {%endfor %}
  </div>

  <div class="tab-pane fade show  " style="padding-top: 10px;" id="ar" role="tabpanel"
    aria-labelledby="ar-tab">
    {% for provider in ar %}
      {% include "/chain-information/ip_ar.html" %}
    {%endfor %}
  </div>

  <div class="tab-pane fade show  " style="padding-top: 10px;" id="po" role="tabpanel"
  aria-labelledby="po-tab">
  <div id="transactions"></div>
</div>
<div class="tab-pane fade show  " style="padding-top: 10px;" id="fees" role="tabpanel"
  aria-labelledby="fees-tab">
  {% include "/chain-information/transaction_fees.html" %}
</div>

{% endif %}
{% endblock content %}