{% block style %}
    <style>
        .card {
            background: var(--background-color);
            padding: 10px;
        }

        .card-body {
            border: var(--secondary-text-color-light) 1px solid;
            border-radius: 5px;
            color: var(--secondary-text-color-light);
            background: var(--background-color-row);
        }
    </style>
{% endblock %}

<div class="card mb-2 ms-2 me-2">
    <div class="card-body p-2">
        <div class="clearfix mt-2">
            <div class="card-header small ">
                Name: <b>{{ provider.description.name }}</b><br/>
                <div>Url:
                    <a href='{{ provider.description.url }}'>
                        {{ provider.description.url }}
                    </a>
                </div>
                <br/>
                <div>Description: {{ provider.description.description }}</div>
            </div>
        </div>
    </div>
    <div class="clearfix mt-2"></div>
</div>
