 {% if (period == "Daily") %}
    {% set type_str = "Day" %}
  {%endif%}
{% if (period == "Weekly") %}
    {% set type_str = "Week Ending" %}
{%endif%}
{% if (period == "Monthly") %}
    {% set type_str = "Month Ending" %}
{%endif%}

<a class="p-1 small" href="{{filename}}" title="Download .csv file" target="_blank">Download .csv file</a>
<table id="main" class="table table-striped ms-1  small">
    <thead>
        <tr>
            <th class="small text-start" scope="col">{{type_str}}</th>
            <th class="small text-end" scope="col" colspan="">Sum of Fees (CCD)</th>
        </tr>
    </thead>
    <tbody>
        {% for row in records %}
            <tr>
                <td class="small ccd">{{row.date}}</td>
                <td class="p-1 text-end ccd">{{ row.fee_for_day|baker_ccd}}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>