
<!-- <div class="table-responsive"> -->
    <table class="table table-striped ms-1 w-auto small">
       
        <tbody>
            
            <tr><td>Tx Hash</td><td title="{{tx_hash}}" id="copy_me" class="small  align-middle">{{tx_hash[:8]}} <img  onclick="copyToClipboard()" src="{{env.SITE_URL}}/static/clipboard-check.svg" ></td></tr>
            <tr><td>Finalized in Block</td><td title="{{block_hash}}" class="small  align-middle"><a href="/block/{{block_hash }}{% if net == 'testnet' %}?net=testnet{% endif%}">{{block_hash[:8] }}</a></td></tr>
            <tr><td>Status</td><td title="{{status}}" class="small  align-middle">{{status }}</td></tr>
        </tbody>    
    </table>
    <!-- </div> -->
