{% extends "base.html" %}
{% block content %}
<h2>Transaction{% if net == 'mainnet'%}{%else%} (Testnet){%endif%}</h2>
<script>
    $(document).ready(function(){
        $('[data-bs-toggle="tooltip"]').tooltip();   
    });
    </script>


{% if 'error' in transaction %}
        <p>An error occured: <b>{{transaction.errorMessage}}</b></p>
    {% else %}
        
        {% set transactions = transaction %}    
       
        <div class="tab-content" id="myTabContent">
            
            
            {% set show_bar = False %}
            {% include "intermediate/transaction.html" %}
            
        </div>          
         <div class="mb-10"></div>

   
    <!-- if 'error' in transactions -->
    {% endif %}

        

{% endblock content %}