        
       
    {% set tt = event.event_type.split('_')[0]%}
    {% set markup = token_addresses_with_markup[event.token_address] %}
    
<tr>
    <td class="small text-start">{{event.tx_hash|tx_hash_link('mainnet', None, True, True)|safe}}</td>
    <td class="   text-center">
    
        {% if tt == 'mint' %}
        🌱
        {% endif %}
        {% if tt == 'burn' %}
        🔥
        {% endif %}
        {% if tt == 'transfer' %}
        💸
        {% endif %}
        {% if tt == 'metadata' %}
        🗂️
        {% endif %}
    </td>
    
    <td class="small   text-end"><small><span class="ccd">{{date}}</span></small></td>
      
    {% set amount =(event.result.token_amount|int)|token_amount_using_decimals(markup.tag_information.decimals) %}
    
    <td class="small text-end"><span class="ccd small ">{{amount}}</span></td>
        <td class="small text-end"><a href="/{{net}}/tokens/{{markup.tag_information.token_tag_id}}/"><span class="ccd small">{{markup.tag_information.token_tag_id}}</span></a> <img src="{{markup.tag_information.logo_url}}"  style=" max-width: 16px;max-height: 16px;"  alt=""></td>
    
    
</tr>
            
            
