{% extends "base.html" %}
{% block content %}
  <script src="https://unpkg.com/htmx.org@1.9.6" integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/htmx.org/dist/ext/class-tools.js"></script>
  <!-- Import Vega & Vega-Lite (does not have to be from CDN) -->
<script src="https://cdn.jsdelivr.net/npm/vega@5"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@5"></script>
<!-- Import vega-embed -->
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6"></script>

<script>
  function Search() {
    const type_daily = document.getElementById("daily");
    const type_weekly = document.getElementById("weekly");
    const type_monthly = document.getElementById("monthly");

    if (type_daily.checked) {
      type = "Daily"
    }
    if (type_weekly.checked) {
      type = "Weekly"
    }
    if (type_monthly.checked) {
      type = "Monthly"
    }

    var width = Math.min(window.innerWidth, 675);
        
        spec = '/ajax_bridges_and_dexes/{{reporting_subject}}/action-type/'+type+'/'+width;
        
        var opt = { renderer: 'svg', actions: false };
        vegaEmbed('#vis-action-type', spec, opt).then(function (result) { }).catch(console.error);
        spec = '/ajax_bridges_and_dexes/{{reporting_subject}}/token/'+type+'/'+width;
        vegaEmbed('#vis-token', spec, opt).then(function (result) { }).catch(console.error);
        spec = '/ajax_bridges_and_dexes/{{reporting_subject}}/tvl/'+type+'/'+width;
        vegaEmbed('#vis-tvl', spec, opt).then(function (result) { }).catch(console.error);
       
      }

      window.addEventListener('load', (event) => {
    Search();
  });
</script>


<script>
  function getTxAndLoggedEvents() {
      // console.log("getloggevents")
      tx_logged_events = document.getElementById('tx-logged-events');
      year_month = document.getElementById('year_month').value;
    url =  '/ajax_events_tx_and_logged/{{net}}/statistics/{{reporting_subject}}/'+year_month ; 
  //   + requested_page + '/' + total_rows ;
    tx_logged_events.innerHTML = '{% include "spinner.html" %}'
    fetch(url)
      .then((response) => {
        return response.text();
      })
      .then((data) => {
        tx_logged_events.innerHTML = data;
      })
      .catch(function (error) {
        console.log(error);
      });
  }

  window.addEventListener('load', (event) => {
    getTxAndLoggedEvents(0, 0);
  });
</script>

<style>
  .vega-embed {
    width: 100%;
    height:350px;
    
  }
  .vega-embed-small {
    width: 100%;
    height:150px;
    
  }
  </style>
  




<h4  >Statistics for {{reporting_subject|capitalize}}</h4>
<p class="me-4"><small>This page summarizes statistics for {{reporting_subject|capitalize}}. Below are graphs for usage by Action Type ({% if reporting_subject == "arabella"%}Mint and Burn{% elif reporting_subject == 'concordex'%}Deposit, Swap and Withdraw{% else%}Mint and Burn{% endif%}) and usage by Fungible Token. 
  
  Data is grouped either daily, weekly or monthly. The count of unique addresses (in the chosen groupby period) is displayed in the Action Type graph.
  Source transactions (depicted as logged events from these transactions) are displayed in the Source tab.
</small></p>


<ul class="nav nav-tabs ms-1 me-1" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button
      class="nav-link small ps-2 pe-2  active"
      id="graphs-tab" data-bs-toggle="tab" data-bs-target="#graphs-div" type="button" role="tab" aria-controls="graphs"
      aria-selected="true">
      <small>Graphs</small>
    </button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link small ps-2 pe-2 "
      id="logged-events-tab" data-bs-toggle="tab" data-bs-target="#logged-events-div" type="button" role="tab"
      aria-controls="logged-events-div" aria-selected="true">
      <small>Source</small>
    </button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">

  <div
    class="tab-pane fade show active"
    style="padding-top: 10px;" id="graphs-div" role="tabpanel" aria-labelledby="graphs-tab">
    <div class="text-center pb-5">
      <div class="btn-group btn-group-sm text-center ms-2"   role="group" >
        <input type="radio" class="btn-check " name="btnradio_gb_d" id="daily" autocomplete="off" >
        <label class="btn btn-outline-primary" for="daily">Daily</label>
      
        <input type="radio" class="btn-check" name="btnradio_gb_w" id="weekly" autocomplete="off" checked>
        <label class="btn btn-outline-primary" for="weekly">Weekly</label>
      
        <input type="radio" class="btn-check" name="btnradio_gb_m" id="monthly" autocomplete="off" >
        <label class="btn btn-outline-primary" for="monthly">Monthly</label>
      </div>
      </div>
      
      <div id="vis-action-type" class="ps-3 pt-3"></div>
      <br/><br/><br/><br/><br/>
      <div id="vis-token" class="ps-3 pt-3"></div>
      <br/><br/><br/><br/><br/><br/><br/><br/>
      <div id="vis-tvl" class="ps-3 pt-3"></div>
      <br/><br/><br/><br/><br/><br/><br/><br/>
    
  </div>
  <div class="tab-pane fade show  " style="padding-top: 10px;"
    id="logged-events-div" role="tabpanel" aria-labelledby="logged-events-tab">
    <!-- <div id="logged-events"></div> -->
    <select class="small ps-2 mb-2 ms-1 me-1" id="year_month" onchange="getTxAndLoggedEvents()">
    
      {% for year_month in year_months %}
      <option value="{{year_month}}">{{year_month}}</option>
      {% endfor %}
    </select>
    <br/>
    <div id="tx-logged-events"></div>

  </div>
</div>



<script>
  const btn_daily = document.getElementById("daily");
  const btn_weekly = document.getElementById("weekly");
  const btn_monthly = document.getElementById("monthly");
  
  document.querySelector("#daily").addEventListener("click",function() {
    btn_daily.checked = true;
    btn_weekly.checked = false;
    btn_monthly.checked = false;
    Search();
  })

  document.querySelector("#weekly").addEventListener("click",function() {
    btn_daily.checked = false;
    btn_weekly.checked = true;
    btn_monthly.checked = false;
    Search();
  })

  document.querySelector("#monthly").addEventListener("click",function() {
    btn_daily.checked = false;
    btn_weekly.checked = false;
    btn_monthly.checked = true;
    Search();
  })
</script>
{% endblock content %}

