{% extends "base/base.html" %}

{% block js %}
<script src="/node/plotly.js-strict-dist-min/plotly-strict.min.js"></script>
{% endblock %}

{% block content %}

{% include 'base/search_bar_non_home_inclusion.html' %}
{% include 'statistics/block_link.html' %}
{% set title= "Validators" %}{% include 'base/box_title.html' %}
<div class="row row-flex">
  <div class="col-md-6  col-sm-12 ">
      <div class="border content curved-border">{% include "statistics/chain/validator_count.html" %}</div>
  </div>
  <div class="col-md-6  col-sm-12">
      <div class=" content border curved-border">{% include "statistics/chain/validator_staking.html" %}</div>
  </div>
</div>

{% endblock %}

