{% extends "base.html" %}
{% block content %}
{% if user %} 
<p><small>You are logged in as <a href="https://telegram.me/{{user.username}}">@{{user.username}}</a> (<a href="/settings/user/logout">logout</a>).</small></p>
 <h4 class="ms-2 display-6 fw-normal">How to Pay?</h4>
<small>
 <p>To pay for the subscription <a href="/settings/user/subscription/plans">plan</a> (Plus and Unlimited) and/or additional message credits (Plus and Delegation), transfer your chosen amount to {{subscription_details.EXPLORER_CCD.value|account_link(net, True, True, user, tags, app=request.app)|safe}} (or use QR code below) with Memo field <b>{{token[:6]}}</b>.</p>
 <div class="container">
  <div class="row">
      <div class="col-12">
        <div class="text-center">
          <img  caption="test" width="200" src="{{env.SITE_URL}}/static/ce-donations-qr.jpg" >
          <div class="caption small text-muted text-center"><small><span title="3cunMsEt2M3o9Rwgs2pNdsCWZKB5MkhcVbQheFHrvjjcRLSoGP" id="copy_me" class="account_id small align-middle">3cunMsEt2M3o9Rwgs2pNdsCWZKB5MkhcVbQheFHrvjjcRLSoGP<img  onclick="copyToClipboard()" src="{{env.SITE_URL}}/static/clipboard-check.svg" ></span></small></div>
          <br/>
        </div>     
      </div>
  </div>
</div>

<p>Note: payments are <i>cumulative</i>, meaning that you do not have to transfer the full amount in one transaction (or from one account). All transfers that classify (ie have the correct memo field) will be counted and listed in the table below.</p>
<p>Note: to activate the Delegation plan, you <i>must</i> send from the <b>delegation account</b> and include the correct <b>memo field</b>. For the other plans, any account will do, as long as the <b>memo field</b> is correctly set.</p>
<p>After you have done the transaction, come back here and refresh the page. The transaction(s) should be picked up automatically.</p>
</small>

<br/>
<h5 class="ms-2">Subscription Status</h5>
{% include "user/user_settings_subscription_status.html" %}

<br/><br/>

<h5 class="ms-2">Purchase Transactions</h5>
{% include "user/user_settings_subscription_purchase_transactions.html" %}

  
{% else %} 
    {% include "user/user_settings_logged_out.html" %}
{% endif %}

  {% endblock content %}