{% extends "base.html" %}
{% block content %}
<script>

  function editMode(id) {
    // Make elements appear
    label = document.getElementById(id+'-item-label');
    account_notify = document.getElementById(id+'-account-notify');
    baker_notify = document.getElementById(id+'-baker-notify');
    edit_row = document.getElementById(id+'-edit-row');  
    baker_id = document.getElementById(id+'-baker_id').title;
    ip = document.getElementById(id+'-item-ip');
    port = document.getElementById(id+'-item-port');
    console.log("Baker_id", baker_id);
    if (baker_notify ) {
      baker_notify.disabled=false;
    }      
    account_notify.disabled=false;
    
    label.disabled=false;
    if (ip) {ip.disabled=false;}
    if (port) {port.disabled=false;}
    edit_row.classList.remove('visually-hidden');

    //Make elements dissappear
      
    item_edit_button = document.getElementById(id+'-edit');
    item_edit_button.classList.add('visually-hidden');
    
  }

  function editCancel(id) {
    label = document.getElementById(id+'-item-label');
    account_notify = document.getElementById(id+'-account-notify');
    baker_notify = document.getElementById(id+'-baker-notify');
    edit_row = document.getElementById(id+'-edit-row');  
    
    account_notify.disabled=true;
    if (baker_notify) {
      baker_notify.disabled=true;
    }
    label.disabled=true;
    if (ip) {ip.disabled=true;}
    if (port) {port.disabled=true;}
    edit_row.classList.add('visually-hidden');

    //Make elements dissappear
      
    item_edit_button = document.getElementById(id+'-edit');
    item_edit_button.classList.remove('visually-hidden');
  }

  function editSave(id) {
      console.log('editSave')
      account_id = document.getElementById(id+'-account_id').title;
      
      label = document.getElementById(id+'-item-label').value;
      // label = 'label-'+label;
      let account_notify = document.getElementById(id+'-account-notify').checked;

      baker_notify = document.getElementById(id+'-baker-notify')
      if (baker_notify) {
        baker_notify = document.getElementById(id+'-baker-notify').checked;
      } else {
        baker_notify = false;
      }
      items = document.getElementById('items');
      git_message = document.getElementById('git-message');
      url = '/ajax_user_add_item';
            fetch(url, {
            method: 'POST',
            body: JSON.stringify({
                chat_id: '{{user.chat_id}}',
                
                itemId: account_id,
                label: label, 
                account_notify: account_notify,
                baker_notify: baker_notify,
                node_ip: "",
                node_port: "",
                edit_save: true
            }),
            headers: {
                'Content-type': 'application/json; charset=UTF-8'
            }
        })
        .then((response) => {
          return response.text();
        })
        .then((data) => {
          // console.log(data);
          items.innerHTML = data;
          
        })
        .catch(function(error) {
          console.log(error);
        });


          };

  function addItem() {
      console.log('addItem')
      itemId = document.getElementById('itemId').value;
      label = document.getElementById('item-label').value;
      let account_notify = document.getElementById('account-notify').checked;
      baker_notify = document.getElementById('baker-notify')
      if (baker_notify) {
        baker_notify = document.getElementById('baker-notify').checked;
      } else {
        baker_notify = false;
      }
      items = document.getElementById('items');
      git_message = document.getElementById('git-message');
      
            url = '/ajax_user_add_item';
            fetch(url, {
            method: 'POST',
            body: JSON.stringify({
                chat_id: '{{user.chat_id}}',
                
                itemId: itemId,
                label: label, 
                account_notify: account_notify,
                baker_notify: baker_notify,
                node_ip: "",
                node_port: "",
                edit_save: false
            }),
            headers: {
                'Content-type': 'application/json; charset=UTF-8'
            }
        })
        .then((response) => {
          return response.text();
        })
        .then((data) => {
          items.innerHTML = data;
          git_message.innerHTML = 'Saved.';
          setTimeout(function() { 
            git_message.innerHTML = '';
            
        }, 2000);
          
        })
        .catch(function(error) {
          console.log(error);
        });

            
      };

  function deleteItem(id, account_id) {
      console.log('deleteItem', id, account_id)
      // url_string = id.replace('-', '/');
      // url_string = id.title;
      // console.log(id, url_string)
      item_del_button = document.getElementById(id+'-delete');
      item_del_button.innerHTML = '<span class="spinner-border spinner-border-sm"></span>'
      url = '/ajax_user_delete_item';
      items = document.getElementById('items');
      s = JSON.stringify({
                chat_id: '{{user.chat_id}}',
                account_id: account_id
            })
          console.log(s)
      fetch(url, {
            method: 'POST',
            body: JSON.stringify({
                chat_id: '{{user.chat_id}}',
                account_id: account_id
            }),
            headers: {
                'Content-type': 'application/json; charset=UTF-8'
            }
        })
        .then((response) => {
          return response.text();
        })
        .then((data) => {
          // console.log(data);
          items.innerHTML = data;
          
        })
        .catch(function(error) {
          console.log(error);
        });
    };
  
</script>

<b>Accounts and Bakers</b>
{% if user %}
  {% include "user/user_settings_merged.html" %}
{% else %}
{% include "user/user_settings_logged_out.html" %}
{% endif %}
{% endblock content %}