{% extends "base.html" %}
{% block content %}
<script>
  function saveSmarts() {
      init = document.getElementById('init').checked;
      updates = document.getElementById('updates').checked;
      cns_domain = document.getElementById('cns_domain').checked;
      git_message = document.getElementById('git-message');
      git_message.innerHTML = '{% include "spinner.html" %}'
      console.log('saveSmarts', init, updates)
      url = base_url+'/ajax_user_smart_contracts';
      
      fetch(url, {
            method: 'POST',
            body: JSON.stringify({
                chat_id: '{{user.chat_id}}',
                init: init,
                update: updates,
                cns_domain: cns_domain
            }),
            headers: {
                'Content-type': 'application/json; charset=UTF-8'
            }
        })
        .then((response) => {
          return response.text();
        })
        .then((data) => {
          git_message.innerHTML = 'Saved.';
          setTimeout(function() { 
            git_message.innerHTML = '';
            
        }, 2000);
          
        })
        .catch(function(error) {
          console.log(error);
        });
    };

    
</script>

{% if user %} 
<div class="ms-3 me-3">
  <h4 class="ms-1">Smart Contract Notification</h4>
  <p><small>If you want to be notified when new smart contracts are initialized or existing ones updated, or when a new CNS domain is registered, check the appropriate boxes below.</small></p>
  <div class="col-xs-4 ">
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="init" {% if user.smart_init %} checked {% endif %}>
      <label class="form-check-label" for="init">
        <small>Notify for new initializations</small>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="updates" {% if user.smart_update %} checked {% endif %}>
      <label class="form-check-label" for="updates">
      <small>Notify for updates</small>
      </label>
    </div>
    <div class="form-check">
      <input class="form-check-input" type="checkbox" value="" id="cns_domain" {% if user.cns_domain %} checked {% endif %}>
      <label class="form-check-label" for="cns_domain">
      <small>Notify for new CNS domain</small>
      </label>
    </div>
    <br/>
    <button onclick='saveSmarts()' type="button" id="save-button" class="btn btn-sm btn-primary">Save choices</button>
      </form>
    <div id="txs"></div>
    <div class="ms-1 ps-2" id="git-message">
      <!-- {% include "user/user_settings_message.html" %} -->
    </div> 
  </div>
</div>
{% else %} 
{% include "user/user_settings_logged_out.html" %}
{% endif %}
{% endblock content %}