{% if user.subscription.payment_transactions|length > 0 %}
<table class="table table-striped ms-1 w-auto small">
  <thead>
    <tr>
      <!-- <th class="small" scope="col">Date (UTC)</th> -->
      <th class="small" scope="col">From</th>
      <th class="small" scope="col">tx Hash</th>
      <th class="small text-end" scope="col">Memo</th>
      <th class="small text-end" scope="col">Amount</th>
    </tr>
  </thead>
  <tbody>

    {% for tx in user.subscription.payment_transactions %}
    <tr>
      <td>{{tx.sender |account_link(net, False, True, user, tags, app=request.app)|safe}}</td>
      <td><a class="small" href="/transaction/{{tx.id}}">📒{{tx.id[:4]}}</a></td>
      <td class="small text-end">{{tx.memo}}</td>
      <td class="ccd text-end">{{tx.amount|ccd_amount|baker_ccd}} CCD</td>
    </tr>
    {% endfor %}

  </tbody>
</table>
{% else %}

<p><small>No purchase transactions found.</small></p>

{%endif%}