<div class="container">
    <table class="nodes-table nodes-data">
        <thead>
        <tr>
            <th class="text-center text-heading">Validator Id</th>
            <th class="text-center text-heading">Number</th>
            <th class="text-center text-heading">Pool</th>
            <th class="text-center text-heading">Account Amount</th>
            <th class="text-center text-heading">Staked</th>
            <th class="text-center text-heading">Lottery Power</th>
        </tr>
        </thead>
        <tbody class="node-tbody">
        <tr>
            <td class="text-center">
                <a class="small" href="/mainnet/account/{{ baker.baker_id }}">
                    <b>{{ baker.baker_id|int }}</b>
                </a>
                {% if tag_found %}{{ tag_label|safe }}{% endif %}
            </td>
            <td class="text-center ">#{{ index }}</td>
            <td class="text-center ">{{ baker.pool_status.pool_info.open_status }}</td>
            <td class="text-center ">{{ baker.pool_status.equity_capital | micro_ccd_no_decimals|safe }}</td>
            <td class="text-center ">
                {#                <b>#}
                {#                    {% if baker.pool_status.pool_info.open_status == 'open_for_all' %}#}
                {#                        Own Stake#}
                {#                    {% else %}#}
                {#                        Staked#}
                {#                    {% endif %}:#}
                {#                </b>#}
                {{ baker.pool_status.current_payday_info.baker_equity_capital  | micro_ccd_no_decimals|safe }}
            </td>
            <td class="text-center">{{ "%.5f"|format(baker.pool_status.current_payday_info.lottery_power * 100) }}%</td>
        </tr>
        </tbody>
    </table>
</div>
