<div class="container">
    <table class="nodes-table nodes-data">
        <thead>
        <tr>
            <th class="text-center text-heading">Node Name</th>
            <th class="text-center text-heading">Uptime</th>
            <th class="text-center text-heading">Client version</th>
            <th class="text-center text-heading">Ping</th>
        </tr>
        </thead>
        <tbody class="node-tbody">
        <tr>
            {% if node %}
                <td class="text-center"><a href="/{{ net }}/node/{{ node.nodeId }}">{{ node.nodeName }}</td>
                <td class="text-center">{{ node.uptime|uptime }}</td>
                <td class="text-center">{{ node.client }}</td>
                <td class="text-center">
                    {% if node.averagePing %}{{ node.averagePing|round_x_decimal_no_comma(2) }} ms{% else %}na{% endif %}
                </td>
            {% endif %}
        </tr>
        </tbody>
    </table>
</div>
