
{% include "/nodes/header.html"%}
  


<!-- 


<p class="text-end"><small>* Columns are sortable</small></p>    
<table class="sortable asc table table-borderless"> 
        <thead>
            <tr class="sm-text">
                <th  class="text-start text-secondary-emphasis" colspan="1">Node Name</th>  
                <th  class="text-end text-secondary-emphasis" colspan="1">Validator ID</th>
                <th  class="text-end text-secondary-emphasis" colspan="1">Stake</th>
                <th  class="text-end text-secondary-emphasis" colspan="1">Ping (ms)</th>
                <th  class="text-end text-secondary-emphasis" colspan="1">Version</th>
                <th  class="text-end text-secondary-emphasis hide-if-small" colspan="1"># Peers</th>
              
            </tr>
        <tbody >
{% set all = dict(dict(nodes_validators.validator_nodes_by_account_id, **nodes_validators.non_validator_nodes_by_node_id), **nodes_validators.non_reporting_validators_by_validator_id)%}

            {% for _id, node_info in all.items() %}
                {% set node = node_info.node %}
                {% set validator = node_info.validator %}
                <tr class="sm-text">
                    
                    <td class="text-secondary-emphasis text-break">{% if node %}<a href="/{{net}}/node/{{node.nodeId}}">{{node.nodeName}}</a>{% else %}<i>Not reporting</i>{% endif %}</td>
                    
                    <td class="text-end text-secondary-emphasis ccd">{% if validator %}<a href="/{{net}}/account/{{validator.baker_id}}">{{validator.baker_id}}{% endif %}</a></td>
                    <td class="text-end text-secondary-emphasis ccd">{% if validator %}{{validator.pool_status.current_payday_info.lottery_power|lottery_power}}%{% endif %}</td> 
                    
                    
                    <td class="text-end text-secondary-emphasis ccd">{% if node %}{{node.averagePing|round_x_decimal_with_comma(2)}}{% endif %}</td> 
                    <td class="text-end text-secondary-emphasis ccd">{% if node %}{{node.client}}{% endif %}</td> 
                    <td class="text-end text-secondary-emphasis ccd hide-if-small">{% if node %}{{node.peersCount}}{% endif %}</td> 
                    
                </tr>
            {% endfor %}

        </tbody>
    </table>
         -->