<div class="card mb-2 ms-2 me-2">
    <div class="card-body p-2">
        <div class="clearfix">
            <div class="card-text small float-start"><b>{% if user.username %} {{ user.username}} {% else %} {{user.first_name}} {% endif %}</b> </div>
            <div class="card-text small float-end"><b>Bot active:</b> {{ user.subscription.bot_active }} 
                <a class="btn btn-primary small m-0 p-1" data-bs-toggle="collapse" href="#user_{{ user.chat_id}}" role="button" aria-expanded="false" aria-controls="user_{{ user.chat_id}}">
                    ↧
                      </a>
            
            </div>
        </div>
        
          <div class="collapse" id="user_{{ user.chat_id}}">
            <div class="card card-body p-2">
                {% include "user/user_settings_subscription_status.html" %}
                {% include "user/user_settings_subscription_purchase_transactions.html" %}
            </div>
        </div>
        
       
    
</div>
</div>