<p><small>There are {{users|length}} users registered.</small></p>
{% for u in users %}
<div class="card mb-2 ms-2 me-2">
    <div class="card-body p-2">
        <span class="card-title">
            <small><b>
                {% if u.username %}
                    {{u.username}}
                {% elif u.first_name %}
                {{u.first_name}}
                {% else %}
                {{u.chat_id}}
                {% endif %}
            </b>
            </small>
        </span>
        <br/>
        <span class="small"># Accounts: {{u.accounts|length}}</span>
        <table class="table table-small table-striped">
            <!-- {% for index, account in u.accounts.items() %}
                <tr><td><span class="small">{{account.label}}</span></td><td class="text-end"><a href="/mainnet/account/{{index}}"><span class="small ccd">{{index}}</span></a></td></tr>
            {% endfor %} -->
            
        </table>
        <span class="small"># Contracts: {{u.contracts|length}}</span>
        <table class="table table-small table-striped">
            <!-- {% for index, contract in u.contracts.items() %}
                <tr><td><span class="small">{{contract.label}}</span></td><td class="text-end"><a href="/mainnet/instance/{{index}}/0"><span class="small ccd">{{index}}</span></a></td></tr>
            {% endfor %} -->
        </table>
        <span class="small">Email address: {% if u.email_address%}Yes{% endif %}</span>
            
    <p class="card-text small">

    </p>
    
        
</div>
</div>
{% endfor %}