<div class="card mb-2 ms-2 me-2">
    <div class="card-body p-2">
        
    
    <table class="table small table-striped">
        <thead>
        <tr>
            <!-- <th>Key</th>
            <th class="text-end">Value</th> -->
            
        </tr>
    </thead>
    {% for log in message_logs %}
    <tr>
        <!-- <td>{% if log.tx_hash%}{{log.tx_hash|tx_hash_link(net, None, True, True)|safe}}{%else%}{{log.block_height|block_height_link(net, True, no_text=True)|safe}}{% endif %}</td> -->
        <td>{{log.message_response.message_telegram|safe}}</td>
        <!-- <td>{{log.impacted_addresses}}</td></tr> -->
    {% endfor %}
    
</div>
</div>