{% set title_value = copy_value %}

{% if value_type == "block_height" %}
    {% set url_verb = "block" %}
{% endif %}
{% if value_type == "block_hash" %}
    {% set url_verb = "block" %}
{% endif %}
{% if value_type == "account_id" %}
    {% set url_verb = "account" %}
{% endif %}
{% if value_type == "account_address" %}
    {% set url_verb = "account" %}
{% endif %}
{% if value_type == "module_ref" %}
    {% set url_verb = "module" %}
{% endif %}
{% if value_type == "contract_id" %}
    {% set url_verb = "instance" %}
    {% set copy_value = copy_value[1:].split(",")[0]+"/0" %}
    
{% endif %}
{% if value_type == "contract" %}
    {% set url_verb = "instance" %}
    {% set copy_value = copy_value[1:].split(",")[0]+"/0" %}
    
{% endif %}

{% if value_type == "tx_hash" %}
    {% set url_verb = "transaction" %}
{% endif %}
{% if value_type == "source_module" %}
    {% set url_verb = "module" %}
{% endif %}
<span >
    <a href="/{{net}}/{{url_verb}}/{{copy_value}}" class=" {{value_type}}" title="{{title_value}}">
        <span style="font-family: monospace, monospace;">{{display_value}}</span>
    </a>
    <i class="bi bi-clipboard-check" style="color: #33C364; cursor: pointer;" hx-on:click="
        navigator.clipboard.writeText(this.previousElementSibling.title); // Copy title (full address) to clipboard
        const link = this.previousElementSibling; // Get the <a> element
        if (!link.dataset.originalText) {
            link.dataset.originalText = link.innerHTML; // Save original content
        }
        link.innerHTML = 'Copied'; // Set temporary text for the link
        setTimeout(() => {
            link.innerHTML = link.dataset.originalText; // Restore original content
        }, 1000);
    "></i>
</span>
