<footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    
  <div class="row" >
  
      {% if request.state.api_calls %}
    <div class="col-md-4 col-sm-6 mb-md-6 ">
      <b class="sm-text">API Calls</b>
    <ul class="list-group-flush list-group  sm-text">
      {% for content, url in request.state.api_calls.items() %}
      <li class="list-group-item border-0 pt-0 pb-0"> <a  class="nav-link  " rel="nofollow" href="{{url}}">{{content}}</a></li>
        {% endfor %}
      
      
    </ul>
    </div>
    {% endif %}
      <div class="col-md-4 col-sm-6 ">
        <b class="sm-text">Misc Links</b>
      <ul class="list-group-flush list-group  sm-text">
        <li class="list-group-item border-0 pt-0 pb-0"><a href="/misc/release-notes" class="nav-link ">Release Notes</a></li>
        <li class="list-group-item border-0 pt-0 pb-0"><a href="https://uptime.ccdexplorer.io" class="nav-link ">Uptime</a></li>
        <li class="list-group-item border-0 pt-0 pb-0"><a href="#" class="nav-link ">Backend Status (Coming soon!)</a></li>
        <li class="list-group-item border-0 pt-0 pb-0"><a href="/misc/privacy-policy" class="nav-link ">Privacy Policy</a></li>
        
      </ul>
      </div>
      <div class="col-md-4 col-sm-6 ">
        <b  class="sm-text">Support</b>
          <ul class="list-group-flush list-group  sm-text">
              <li class="list-group-item border-0 pt-0 pb-0"><a href="https://aesirx.io" class="nav-link px-2 ">AesirX - Decentralized Consent &amp; Data Ownership</a></li>
              <li class="list-group-item border-0 pt-0 pb-0"><a href="https://concordium.com" class="nav-link px-2 ">Concordium</a></li>
              <li class="list-group-item border-0 pt-0 pb-0"><a href="/misc/support" class="nav-link px-2 ">You? <i class="bi bi-heart-fill text-danger" ></i></a></li>
          </ul>
      </div>
      
      <div class="row ">
        <div class="col-7 sm-text">
          &copy; 2022 - 2025 CCDExplorer.io
        </div>
        <!-- <div class="col text-end  sm-text">
          <a href="https://ccdexplorer.io/mainnet/account/3cunMsEt2M3o9Rwgs2pNdsCWZKB5MkhcVbQheFHrvjjcRLSoGP" >Donations <i class="bi bi-heart-fill text-danger" ></i> </a>
        </div> -->
    </div>
    
    
  </div>
</footer>
  