{% extends "base/base.html" %}

{% block content %}
{% include '/base/search_bar_non_home_inclusion.html' %}
<h4>The Zen of CCDExplorer.io</h4>
<ul>
    <li>I try really hard to not track you in any way.</li>
    <li>Cookies are used for logged in users to, well, log you in!</li>
    <li>I don't want to know anything about you, let alone store anything about you.</li>
    <li>All 3rd party software is downloaded locally and embedded in the repo, hence no links back to CDNs and other sites that may track you.</li>
</ul>

{% endblock %}