{% extends "base/base.html" %}
{% block js %}
<script src="/node/plotly.js-strict-dist-min/plotly-strict.min.js"></script>
{% endblock %}
{% block ogp %}
<meta property="og:title" content="Support CCDExplorer.io, the best Blockchain Explorer for Concordium!" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{env.SITE_URL}}" />
{% endblock %}
{% block content %}
{% include 'base/search_bar_non_home_inclusion.html' %}
<h4>Support CCDExplorer.io</h4>
<!-- https://codepen.io/ondrejsvestka/pen/gWPpPo for equal height columns -->

<div class="row mt-4 row-flex">
    <div class="col-md-6  col-sm-12 ">
      
        <div class="border content curved-border " >
          {% set title= "Donate" %}{% include 'base/box_title.html' %}
          <p class="">You can directly support continued development of CCDExplorer.io by donating to the account below. CCD or any fungible token is highly appreciated!
            
        </p>
        <div class="text-center">
            <img  caption="test" width="270" src="/static/misc/ce-donations-qr.jpg" >
            <div class="caption  text-secondary-emphasis text-center">
                {% set copy_value = donations_account_id %}
                {% set value_type = "account_id" %}
                {% set display_value = donations_account_id| shorten_address(address=True)|safe %}
                {% include "base/copy_to_clipboard.html"%}
            </div>
            
          </div>     
        </div>
    </div>
   
    <div class="col-md-6  col-sm-12">
        <div class="border content curved-border " >
          {% set title= "Delegate" %}{% include 'base/box_title.html' %}
          <p class="">If you want to support CCDExplorer.io by delegating your CCD, you can! Validator 72723 has always shown excellent performance and is professionally managed. 
            
            <br/><h2 class="text-center">72723</h2>
            
            
        </p>
        <div
                hx-trigger="intersect, switched-theme from:body" 
                hx-post="/mainnet/account/baker-performance/72723/3000"
                hx-vals='js:{theme: document.querySelector("HTML").getAttribute("data-bs-theme")}'
                >
            </div>
        </div>
    </div>
  </div>

{% endblock content %}