
{% include 'base/pagination.html' %}
<table class="table ">
    <thead>
    <tr  class="account-row sm-text">
      <th class="text-start text-secondary-emphasis"><span style="font-family: monospace, monospace;">Hash</span></th>
      <th class="text-end text-secondary-emphasis">Age</th>
      <th class="text-end text-secondary-emphasis d-none d-md-table-cell">Cost</th>
      <th class="text-start text-secondary-emphasis" >Type</th>
      <th class="text-start text-secondary-emphasis" ></th>
      <th class="text-start text-secondary-emphasis" ></th>
      
      <th class="text-end text-secondary-emphasis d-none d-md-table-cell">Block</th>
      <th class="text-end text-secondary-emphasis d-none d-md-table-cell">Sender</th>
    </tr>
  </thead>
  <tbody class="table-group-divider">
  {% for row in transactions %}
    <tr class="
    
      {% if row.transaction.account_transaction %}
              {% if row.transaction.account_transaction.outcome == 'success' %}
                account-row 
              {%else%}
                account-row-failed
              {%endif%}
      {% else %}
        account-row 
      {%endif%}
      sm-text 
      ">
          <td class=""><a class=" " href="/{{net}}/transaction/{{row.transaction.hash}}"><span class="ccd">{{row.transaction.hash|tx_hash_link(net)|safe}}</span></a></td>
          <td class="text-end text-secondary-emphasis ccd">{{row.transaction.block_info.slot_time|datetime_delta_format_since}}</td>
          <td class="text-end text-secondary-emphasis d-none d-md-table-cell"><span class="">{% if row.transaction.account_transaction %}
        {{row.transaction.account_transaction.cost|micro_ccd_display|safe }}
      {% else %}
          
      {%endif%}</span></td>
          <td class="text-start ">{{row.transaction.type.contents|tx_type_translator("icon")|safe}} <span class="text-secondary-emphasis" >{{row.transaction.type.contents|tx_type_translator("display")|safe}}</span></td>
          <td class="text-end text-secondary-emphasis " >
            {% if row.additional_info.type == 'amount' %}
                {{row.additional_info.value|micro_ccd_no_decimals|safe}}
            {%elif row.additional_info.type == 'contract'%}
                {{row.additional_info.value|instance_link_from_str(net, user, tags)|safe}}
            {%elif row.additional_info.type == 'module'%}
                <a href="/{{net}}/module/{{row.additional_info.value}}" class="module_ref" title="{{row.additional_info.value}}">
                  <span style="font-family: monospace, monospace;">{{row.additional_info.value[:4]|safe}}</span>
              </a>    
            
            
            {% endif %}
            
            <td>
          <td class="text-end d-none d-md-table-cell"><a class=" " href="/{{net}}/block/{{row.transaction.block_info.height}}"><span class="ccd">{{row.transaction.block_info.height|round_x_decimal_with_comma(0)}}</span></a></td>
          <td class="text-end text-secondary-emphasis d-none d-md-table-cell">
          
            {% if row.transaction.account_transaction %}
            {{row.transaction.account_transaction.sender|account_link(net,user,tags,request.app)|safe }}
            {% else %}
              Chain  
            {%endif%}
          
          </td>
      
    </tr>
  {% endfor %}
  </tbody>
  </table>