{% extends "base/base.html" %}
{% block js %}
<!-- <script src="/node/plotly.js-strict-dist-min/plotly-strict.min.js"></script> -->
{% endblock %}

{% block content %}

<script>
document.addEventListener("DOMContentLoaded", () => {
  const tabs = [
    {
      btn: '#tokens-pills-tab',
      containerId: 'tokens-tab-content',
      url:   `/smart-contract/tokens-tab-content/{{net}}/{{instance_address}}`,
      init:  () => {
        init_tokens_fungible_verified_table?.();
        init_tokens_non_fungible_verified_table?.();
        init_tokens_unverified_table?.();

      },
    },
    
  ];

  tabs.forEach(({ btn, containerId, url, init }) => {
    const tabButton = document.querySelector(btn);
    if (!tabButton) return;

    let loaded = false;
    const loadTabContent = () => {
      if (loaded) return;
      fetch(url)
        .then(r => r.text())
        .then(html => {
          const container = document.getElementById(containerId);
          container.innerHTML = html;
          window.htmx && htmx.process(container);
          init();
        })
        .catch(console.error);
      loaded = true;
    };

    // Run when the tab becomes active
    tabButton.addEventListener('shown.bs.tab', loadTabContent);

    // Also run right away if it’s already active on page load
    if (tabButton.classList.contains('active')) {
      loadTabContent();
    }
  });
});
</script>

<script>
    async function getFungibleVerifiedTokens(requested_page, total_rows) {
      try {
        fungible_verified_tokens = document.getElementById('fungible_verified_tokens');
        url = '/ajax_account_tokens/{{net}}/fungible-verified/{{instance_address}}/'+ requested_page + '/' + total_rows + '/' + api_key;
        
        fungible_verified_tokens.innerHTML = '{% include "base/spinner.html" %}'
        await fetch(url)
          .then((response) => {
            return response.text();
          })
          .then((data) => {
            fungible_verified_tokens.innerHTML = data;
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    catch (error) {
      
  }
    }
  
    function prev_f_v_tokens(requested_page, total_rows) {
      getFungibleVerifiedTokens(requested_page, total_rows)
    };
    function next_f_v_tokens(requested_page, total_rows) {
      getFungibleVerifiedTokens(requested_page, total_rows)
    };
  
  
    async function getNonFungibleVerifiedTokens(requested_page, total_rows) {
      try {
        non_fungible_verified_tokens = document.getElementById('non_fungible_verified_tokens');
        url = '/ajax_account_tokens/{{net}}/non-fungible-verified/{{instance_address}}/'+ requested_page + '/' + total_rows + '/' + api_key;
        
        non_fungible_verified_tokens.innerHTML = '{% include "base/spinner.html" %}'
        await fetch(url)
          .then((response) => {
            return response.text();
          })
          .then((data) => {
            non_fungible_verified_tokens.innerHTML = data;
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    catch (error) {
      
  }
    }
  
    function prev_n_f_v_tokens(requested_page, total_rows) {
      getNonFungibleVerifiedTokens(requested_page, total_rows)
    };
    function next_n_f_v_tokens(requested_page, total_rows) {
      getNonFungibleVerifiedTokens(requested_page, total_rows)
    };
  
    
    async function getUnVerifiedTokens(requested_page, total_rows) {
      try {
        unverified_tokens = document.getElementById('unverified_tokens');
        url = '/ajax_account_tokens/{{net}}/unverified/{{instance_address}}/' + requested_page + '/' + total_rows + '/' + api_key;
        
        unverified_tokens.innerHTML = '{% include "base/spinner.html" %}'
        await fetch(url)
          .then((response) => {
            return response.text();
          })
          .then((data) => {
            unverified_tokens.innerHTML = data;
          })
          .catch(function (error) {
            console.log(error);
          });
      }
    catch (error) {
      
  }
    }
  
    function prev_un_tokens(requested_page, total_rows) {
      getUnVerifiedTokens(requested_page, total_rows)
    };
    function next_un_tokens(requested_page, total_rows) {
      getUnVerifiedTokens(requested_page, total_rows)
    };
  
</script>

<script>
    async function getTransactions(requested_page, total_rows) {
        transactions = document.getElementById('instance-transactions');
        url =  '/ajax_instance_txs_html_v2/{{net}}/{{index}}/{{subindex}}/' + requested_page + '/' + total_rows + '/' + api_key;
        transactions.innerHTML = '{% include "base/spinner.html" %}'
        await fetch(url)
            .then((response) => {
                return response.text();
            })
            .then((data) => {
                transactions.innerHTML = data;
            })
            .catch(function (error) {
                console.log(error);
            });
    }

    function prev_txs(requested_page, total_rows) {
        console.log("___PREV:", requested_page)
        getTransactions(requested_page, total_rows)
    };
    function next_txs(requested_page, total_rows) {
        console.log("___NEXT:", requested_page)
        getTransactions(requested_page, total_rows)
    };
   
</script>
<script>
    function Track() {
        cis6 = document.getElementById('cis6_tracker');
        item_id = document.getElementById("item_id").value;
        url = '/ajax_track_item_id/{{net}}/{{index}}/{{subindex}}/'+item_id;
        cis6.innerHTML = '{% include "base/spinner.html" %}'
        fetch(url)
        .then((response) => {
            return response.text();
        })
        .then((data) => {
            cis6.innerHTML = data;
        })
        .catch(function (error) {
            console.log(error);
        });
    
  };
</script>




{% if error %}
<div class="row">
  <div class=" col-lg-12 ">
      <p class="bg-danger-subtle border curved-border">{{error.errorMessage}}</p>
  </div>
</div>

{% else %}
  {% if contract.v0 %}
      {% set details = contract.v0 %}
  {%else%}
      {% set details = contract.v1 %}
  {% endif %}

  {% include 'base/search_bar_non_home_inclusion.html' %}
    <!-- <div class="row  mt-4">
        <div class="col">{% include 'smart_contracts/instance_header.html' %}</div>  
    </div> -->

    <div class="row row-flex">
        <div class=" col-md-6  col-sm-12">
          <div class="border content curved-border ">
            {% set title= "Contract Overview" %}{% include 'base/box_title.html' %}
            {% include "smart_contracts/smart_contract_info.html" %}</div>
          
        </div>  
        <div class=" col-md-6  col-sm-12">
          <div class="border content curved-border mb-2">
            {% set title= "More Info" %}{% include 'base/box_title.html' %}
            {% include "smart_contracts/smart_contract_more_info.html" %}</div>
          
        </div> 
        
      </div>


    <ul class="nav nav-pills mb-3" id="pills-tab" role="tablist">
        
        <li class="nav-item" role="presentation">
          <button class="nav-link active explorer bg-secondary-subtle" id="pills-txs-tab" data-bs-toggle="pill" data-bs-target="#pills-txs" type="button" role="tab" aria-controls="pills-txs" aria-selected="true">
            <span class="tab-text-large">Transactions</span><span class="tab-text-small">Txs</span>
        </button>
        </li>
        {% if tokens_available %}
        <li class="nav-item" role="presentation">
          <button class="nav-link  explorer bg-secondary-subtle" id="tokens-pills-tab" data-bs-toggle="pill" data-bs-target="#pills-tokens" type="button" role="tab" aria-controls="pills-tokens" aria-selected="true">
            <span class="tab-text-large">Tokens</span><span class="tab-text-small">Tokens</span>
        </button>
        </li>
      {% endif %}  
        {% if supports_cis6 %}
        <li class="nav-item" role="presentation"></li>
          <button class="nav-link  explorer bg-secondary-subtle" id="pills-cis6-tab" data-bs-toggle="pill" data-bs-target="#pills-cis6" type="button" role="tab" aria-controls="pills-cis6" aria-selected="true">
            <span class="tab-text-large">Track & Trace</span><span class="tab-text-small">TnT</span>
        </button>
        </li>
        {% endif %}
        
        <li class="nav-item" role="presentation"></li>
          <button class="nav-link  explorer bg-secondary-subtle" id="pills-module-tab" data-bs-toggle="pill" data-bs-target="#pills-module" type="button" role="tab" aria-controls="pills-module" aria-selected="true">
            <span class="tab-text-large">Module</span><span class="tab-text-small">Module</span>
        </button>
        </li>
        
</ul>

<div class="tab-content" id="pills-tabContent">
  
  
  <div class="tab-pane fade show active" id="pills-txs" role="tabpanel" aria-labelledby="pills-txs-tab" tabindex="0">
    <div class="row mt-4">
      <div class=" col-md-12  col-sm-12">
        <div class="border curved-border" >
            <div id="instance-transactions">
                {% set ccd_tabulator_table ='txs_table_contract'%}
                
                {% set tabulator_ajax_url = '/contract_transactions/'+net+'/'+index|string+'/'+subindex|string%}
                
                {% set filename='contract-transactions-'+account_id|string +'.csv' %}
                {% include "base/tabulator/tabulator-txs.html" %}
            </div>
        </div>
      </div>  
      
    </div>
  </div>
  {% if tokens_available %}
  <div class="tab-pane fade show " id="pills-tokens" role="tabpanel" aria-labelledby="pills-tokens-tab" tabindex="0">
    <div id="tokens-tab-content">Loading...</div> 
      
  </div>
  {% endif %}
  {% if supports_cis6 %}
    <div class="tab-pane fade show " id="pills-cis6" role="tabpanel" aria-labelledby="pills-cis6-tab" tabindex="0">
        <div class="row">
            <div class="col-sm-12">
                <div class="border content curved-border " >
        {% set title= "Track & Track Info" %}{% include 'base/box_title.html' %}
          <a class="" href="{{filename}}" title="Download .csv file for all items" target="_blank">Download .csv file</a> for all items<br/> or<br/>
          <label for="item_id">Track individual item</label>
              <select name="item_id" id="item_id" class=" form-select form-select-sm small">
                  
                  {% for item_id in item_ids %}
                    <option value="{{item_id}}">{{item_id}}</option>
                  {% endfor %}
                  
                </select> 
                <br/>
                
                <button onclick='Track()' type="button" id="track-button" class=" ms-4 pe-3 btn btn-sm btn-primary">Track Item</button>
                
              
                <div id="cis6_tracker"></div>
                </div>
            </div>
        </div>
 
    </div>
  {% endif %}
  
  <div class="tab-pane fade show " id="pills-module" role="tabpanel" aria-labelledby="pills-module-tab" tabindex="0">
    {% if module %}
        {% set v = module.verification %}
    {% else %}
        {% set v = contract.module_verification %}
    {% endif %}
        
        <div class="row">
            <div class="col-sm-12">
                <div class="border  curved-border " >
                        {% set title= "Module Build Info" %}{% include 'base/box_title.html' %}
                        {% include "smart_contracts/smart_module_build_info.html" %}
                    </div>
                </div>
        </div>
    {%if v.verified%}
        <div class="row">
        <div class="col-sm-12">
            <div class="border  curved-border " >
            {% set title= "Module Source Code" %}{% set copy_source=True %}{% include 'base/box_title.html' %} 

            {% include "smart_contracts/smart_module_source.html" %}
        </div>
    </div>
        </div>
  
  </div>
</div>
    
  </div>
  {% endif %}
  

</div>

{% endif %}  
<script>
  
    // getTransactions(0, 0);
    // getFungibleVerifiedTokens(0, 0);
    // getNonFungibleVerifiedTokens(0,0);
    // getUnVerifiedTokens(0,0);
    
      
  </script>
{% set account_id = instance_address%}
{% include "base/tabulator/tabulator-cis-2-tokens.html" %}
<!-- <script>
  window.addEventListener('load', (event) => {
    console.log('page is fully loaded');
  init_tokens_fungible_verified_table();
  init_tokens_non_fungible_verified_table();
  init_tokens_unverified_table();
  });
</script> -->

{% endblock content %}