{% extends "base/base.html" %}
{% block js %}
<script src="/node/plotly.js-strict-dist-min/plotly-strict.min.js"></script>
{% endblock %}
{% block content %}
<script>
    async function getInstances(requested_page, total_rows) {
      instances = document.getElementById('instances');
      var module_ref = document.querySelector('.module_ref').title;
      url = '/module_instances/{{net}}/' + module_ref + '/' + requested_page + '/' + total_rows + '/' + api_key;
      instances.innerHTML = '{% include "base/spinner.html" %}'
      await fetch(url)
        .then((response) => {
          return response.text();
        })
        .then((data) => {
            instances.innerHTML = data;
        })
        .catch(function (error) {
          console.log(error);
        });
    }
  
    function prev_instances(requested_page, total_rows) {
        getInstances(requested_page, total_rows)
    };
    function next_instances(requested_page, total_rows) {
        getInstances(requested_page, total_rows)
    };
  
    window.addEventListener('load', (event) => {
        getInstances(0, 0);
    });
    
  </script>

{% include 'base/search_bar_non_home_inclusion.html' %}
<div class="row  mt-4">
    <div class="col">{% include 'smart_contracts/module_header.html' %}</div>  
</div>
<!-- https://codepen.io/ondrejsvestka/pen/gWPpPo for equal height columns -->
<div class="row mt-4 row-flex">
    <div class="col-md-6  col-sm-12 ">
        <div class="border content curved-border " >
            {% set title= "Module Info" %}{% include 'base/box_title.html' %}
            {% include "smart_contracts/module_info.html" %}</div>
    </div>
   
    
    <div class="col-md-6  col-sm-12">
        <div class="border content curved-border " >
            {% set title= "Module Usage" %}{% include 'base/box_title.html' %}
            <div
        hx-trigger="intersect, switched-theme from:body" 
        hx-post="/{{net}}/module/{{module_ref}}/usage"
        hx-vals='js:{theme: document.querySelector("HTML").getAttribute("data-bs-theme")}'
      >
    </div>
    </div>
    </div>
  </div>
  
  <div class="row row-flex">
    <div class="col-md-6  col-sm-12">
        <div class="border content curved-border " id="instances">
          
    
      </div>
      </div>
    <div class="col-md-6  col-sm-12 ">
      <div class="border content curved-border " >
        
        {% if schema %}
        {% set title= "Module Schema" %}{% include 'base/box_title.html' %}
            {% include "smart_contracts/smart_module_schema.html" %}
        {% else  %}
        {% set title= "Module Methods" %}{% include 'base/box_title.html' %}
            {% include "smart_contracts/smart_module_methods.html" %}
        {% endif %}
  
      </div>
    </div>
    
  </div>
  
  {%if module.verification.verified%}
  <div class="row row-flex">
    <div class="col-md-12  col-sm-12">
        <div class="border content curved-border " >
          {% set title= "Module Build Info" %}{% include 'base/box_title.html' %}
          {% include "smart_contracts/smart_module_build_info.html" %}
    
      </div>
    </div>
    
  </div>
  <div class="row row-flex">
    <div class="col-md-12  col-sm-12">
        <div class="border content curved-border " >
          {% set title= "Module Source Code" %}{% include 'base/box_title.html' %}
          {% include "smart_contracts/smart_module_source.html" %}
    
      </div>
    </div>
    
  </div>
  {% else %}
  <div class="row row-flex">
    <div class="col-md-12  col-sm-12">
        <div class="border content curved-border " >
          {% set title= "Verification Results" %}{% include 'base/box_title.html' %}
          {% include "smart_contracts/smart_module_build_info.html" %}
          
    
      </div>
    </div>
    
  </div>

  {% endif %}
  {% endblock content %}

