{% set v = module.verification %}
{% if v.verification_status != "not_started" %}
<table class="table-borderless">
    <tr><td>Verification performed at:</td><td class="ms-5">{% if "timestamp" in v%}{{v.verification_timestamp}}{%else%} Verification pending{%endif%}</td>
    <tr><td>Build Image Used:</td><td class="ms-5">{% if v.build_image_used %}{{v.build_image_used}}{%else%}N/A{% endif%}</td>
    <tr><td>Build Command Used:</td><td class="ms-5">{% if v.build_command_used%}{{v.build_command_used}}{%else%}N/A{% endif%}</td>
    <tr><td>Archive Hash:</td><td class="ms-5 ccd">{% if v.archive_hash %}{{v.archive_hash}}{%else%}N/A{% endif%}</td>
    <tr><td>Link to Source Code:</td><td class="ms-5">{% if v.link_to_source_code %}<a href="{{v.link_to_source_code}}">Source Code</a>{%else%}N/A{% endif%}</td>
    <tr><td>Explanation:</td><td class="ms-5">{{v.explanation}}</td>
</table>
{% else %}
<span class="text-secondary-emphasis">Verification not started</span>
{% endif %}