

<!-- Import Vega & Vega-Lite (does not have to be from CDN) -->
<script src="https://cdn.jsdelivr.net/npm/vega@5.21"></script>
<script src="https://cdn.jsdelivr.net/npm/vega-lite@4.17"></script>
<!-- Import vega-embed -->
<script src="https://cdn.jsdelivr.net/npm/vega-embed@6.2"></script>
<style>
  .vega-embed {
    width: 100%;
    height:350px;
    }
  .vega-embed-small {
    width: 100%;
    height:150px;
    }
  </style>

<script>
  function get_module(selected_module) {
    var width = Math.min(window.innerWidth, 675);
    
    url = '/ajax_source_module/{{net}}/'+selected_module+'/60/'+width+'?net=testnet';
    
  console.log(url);
  fetch(url)
    .then((response) => {
      return response.json();
    })
    .then((data) => {
    var opt = {renderer: 'svg', actions: false};
    vegaEmbed('#vis-source-module-graph', data, opt).then(function(result) { }).catch(console.error);
    })
    .catch(function(error) {
      console.log(error);
    });
  }

</script>


<div class="vega-embed" id="vis-source-module-graph"></div>

<script>
  window.addEventListener('load', (event) => {
    console.log('{{module}}');
      get_module('{{module.id}}');
    });

</script>