

<table class="table table-borderless">
    <tr class="table-row-line-height sm-text">
        <tr class="table-row-line-height sm-text">
            <td class="text-start text-secondary-emphasis">Instance Name</td>
            <td class="text-end text-secondary-emphasis">{{ details.name }}</td>
        </tr>
        <tr class="table-row-line-height sm-text">
        <td class="text-start text-secondary-emphasis">Instance Reference</td>
        <td class="text-end text-secondary-emphasis">
            {% set copy_value = contract.id %}
            {% set value_type = "contract_id" %}
            {% set display_value = contract.id|safe %}
            {% include "base/copy_to_clipboard.html"%}
            </td>
        </tr>
    </tr>
    <tr class="table-row-line-height sm-text">
        <td class="text-start text-secondary-emphasis">Deployed in block</td>
        <td class="text-end text-secondary-emphasis">{{tx_deployed.block_info.height|round_x_decimal_with_comma(0)}}
            
            </td>
    </tr>
    <tr class="table-row-line-height sm-text">
        <td class="text-start text-secondary-emphasis">Deployed in tx</td>
        <td class="text-end text-secondary-emphasis">{{tx_deployed.hash|tx_hash_link(net)|safe}}
            
            </td>
    </tr>
    <tr class="table-row-line-height sm-text">
        <td class="text-start text-secondary-emphasis">Age</td>
        <td class="text-end text-secondary-emphasis">{{tx_deployed.block_info.slot_time|datetime_delta_format_since}}</td>
    </tr>
    <tr class="table-row-line-height sm-text">
        <td class="text-start text-secondary-emphasis">Creator</td>
        <td class="text-end text-secondary-emphasis">{{ details.owner|account_link(net,user,tags,request.app)|safe}}
            
            </td>
    </tr>
    <tr class="table-row-line-height sm-text">
        <td class="text-start text-secondary-emphasis">Module</td>
        <td class="text-end text-secondary-emphasis">
            {% set copy_value = details.source_module %}
            {% set value_type = "source_module" %}
            {% set display_value = details.source_module[:4]|safe %}
            {% include "base/copy_to_clipboard.html"%}
            
            
            </td>
    </tr>
    <tr class="table-row-line-height sm-text">
        <td class="text-start text-secondary-emphasis">Balance</td>
        <td class="text-end text-secondary-emphasis">{{details.amount|micro_ccd_no_decimals|safe}}
            
            </td>
    </tr>
    {% if dressed_up_contract %}
    <tr class="table-row-line-height sm-text">
        <td class="text-start text-secondary-emphasis">Related CIS-2 Token</td>
        <td class="text-end text-secondary-emphasis">{{dressed_up_contract.token_tag_id}}</td>
    </tr>
    {% endif %}
    
</tbody>
</table>




