<div class="card mb-2 ms-2 me-2"> 
    <div class="card-body p-2" >

        <div class="clearfix">
            <div class="card-text small float-start small"><span class="ccd"><a href="/{{net}}/module/{{ module.id }}">{{ module.id[:10] }}</a></span></div>
            <div class="card-text small float-end"><b><small>{{ module.module_name }}</small></b></div>
        </div>
        <div class="clearfix">
            <div class="card-text small float-start small"><small>Methods: <span class="ccd">{% if module.methods %}{{module.methods|length}}{% else %}0{% endif %}</span></small></div>
            <div class="card-text small float-end small"><small>Instances: <span class="ccd">{% if module.contracts %}{{module.contracts|length}}{% else %}0{% endif %}</span></small></div>
        </div>

    <!--class="card-body p-2"-->
    </div> 
<!--class="card mb-2 ms-2 me-2"-->
</div> 