        
       
    {% set tt = event.event_type.split('_')[0]%}
<tr>
    <td class="text-secondary-emphasis  text-start">{{event.tx_hash|tx_hash_link(net)|safe}}</td>
    <td class="text-secondary-emphasis  text-start">{{event.sender|account_link(net,user,tags,request.app)|safe}}</td>
    <td class="text-secondary-emphasis    text-center"><span class="ccd">{{event.timestamp|datetime_delta_format_since_parse}}</span></td>
      
    <td class=" text-end">{%if event.result.initial_status%}{{event.result.initial_status}}{%else%}{{event.result.new_status}}{%endif%}</td>
        
</tr>
            
            
