{% set ai = token_address_as_class %}
{% set vi = token_address_as_class.verified_information %}
{% if ai %}
    {% if "token_metadata" in ai %}
        {% set ti = token_address_as_class.token_metadata %}
        {%else %}
        {% set ti = {"name":vi._id} %}
    {% endif %}
    {% set token_decimals = 0 %}
    {% set token_string = "" %}
    {% if vi %}
        {% if vi.token_type == "fungible" %}
            {% set token_string = vi._id %}
        {% else %}
            {% set token_string = ti.name %}
            {% endif %}
        {% if vi.decimals %}
            {% set token_decimals = vi.decimals %}
        {% endif %}
    {% else %}
        {% if ai %}
            {% if ai.decimals %}
                {% set token_decimals = ai.decimals %}
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}


<table class="table table-borderless">
    {% if result.nonce %}<tr class="table-row-line-height ">
        <td class='text-secondary-emphasis'>Nonce</td>
        <td><span class='text-secondary-emphasis ccd'>{{result.nonce}}</span></td></tr>{% endif %}
    {% if result.sponsoree %}<tr class="table-row-line-height ">
        <td class='text-secondary-emphasis'>Sponsoree</td>
    <td><span class='text-secondary-emphasis'>{{result.sponsoree|account_link(net, user, tags, app=request.app)|safe}}</span></td></tr>{% endif %}
    {% if result.cis2_token_contract_address %}<tr class="table-row-line-height ">
        <td class='text-secondary-emphasis'>Token</td>
        <td><span class='text-secondary-emphasis ccd text-break'>
            
            
                {% if ai.token_metadata %}
                <a href="/{{net}}/token/{{ai.contract|split_contract_into_url_slug_and_token_id(ai.token_id)}}">{{ai.token_metadata.name}}</a>
                {% else %}
                <a href="/{{net}}/token/{{ai.contract|split_contract_into_url_slug_and_token_id(ai.token_id)}}">{{ai.token_id}}</a>
                {% endif %}
            </span>
            </td></tr>{% endif %}
    {% if 'ccd_amount' in result.model_fields_set %}<tr class="table-row-line-height ">
        <td class='text-secondary-emphasis'>CCD Amount</td>
        <td><span class='text-secondary-emphasis'>{{result.ccd_amount|micro_ccd_display | safe}}</span></td></tr>{% endif %}
    {% if 'token_amount' in result.model_fields_set %}<tr class="table-row-line-height ">
            <td class='text-secondary-emphasis'>Amount</td>
            <td><span class='text-secondary-emphasis ccd'>{{result.token_amount|token_amount_using_decimals(token_decimals)|safe}}  {% if vi %}{% if vi.token_type == "fungible" %}{{token_string|safe}}{% endif %}{% endif %}</span></td></tr>{% endif %}
    
    {% if result.from_public_key_ed25519 %}<tr class="table-row-line-height ">
        <td class='text-secondary-emphasis'>From</td>
        <td><span class='text-secondary-emphasis'>{{result.from_public_key_ed25519|account_link(net, user, tags, app=request.app)|safe}}</span></td></tr>{% endif %}
    {% if result.from_address %}<tr class="table-row-line-height ">
        <td class='text-secondary-emphasis'>From</td>
        <td><span class='text-secondary-emphasis'>{{result.from_address|account_link(net, user, tags, app=request.app)|safe}}</span></td></tr>{% endif %}
    {% if result.to_public_key_ed25519 %}<tr class="table-row-line-height ">
        <td class='text-secondary-emphasis'>To</td>
        <td><span class='text-secondary-emphasis'>{{result.to_public_key_ed25519|account_link(net, user, tags, app=request.app)|safe}}</span></td></tr>{% endif %}
    {% if result.to_address %}<tr class="table-row-line-height ">
        <td class='text-secondary-emphasis'>To</td>
        <td><span class='text-secondary-emphasis'>{{result.to_address|account_link(net, user, tags, app=request.app)|safe}}</span></td></tr>{% endif %}
    <!-- {% if result.token_id %}<tr class="table-row-line-height ">
        <td class='text-secondary-emphasis'>Token address</td>
        <td><span class='text-secondary-emphasis'>{{tagified_token_address|safe}}</span></td></tr>{% endif %} -->
</table>