<div hx-target="this" hx-swap="outerHTML">
    <p>
        
            All notifications by default will be sent to your Telegram account (if a particular notification event is enabled). If you also want to be notified by email 
        for one or more notification events, enter your email address below and select the appropriate notification events. 
        
    </p>
    <!-- <div class="px-4"> -->
    <div class="row">
        <div class="col">
             Email address
            
        </div>
        <div class="col-6 me-3">
            <input class=" form-control form-control-sm  input-sm mb-1 text-center " 
            type="text" name="email_address" {% if user.email_address %}value="{{user.email_address}}"{% endif %}>
        </div>

    <!-- <div> -->
    </div>
</div>