<script>
    function sleep(milliseconds) {
  const date = Date.now();
  let currentDate = null;
  do {
    currentDate = Date.now();
  } while (currentDate - date < milliseconds);
}

    function empty_fields() {
        sleep(1000);
        id_or_index = document.getElementById('id_or_index');
        id_or_index.value = "";

        label = document.getElementById('label');
        label.value = "";
        
    }
    </script>
<form 
hx-put="/settings/userv2/save/new-contract" 
hx-ext='json-enc' 
hx-target="this" 
hx-swap="outerHTML"
>
    <p>Enter an address or index and a label to add a new contract. Adding a new contract enbables no notification preferences. You can set these after adding your new contract.</p>
    
    <div class="px-2">
    <div class="row">
            <div class="col text-end">
                <b>Contract index</b>
            </div>
            <div class="col me-2">
                <input   
                class="form-control form-control-sm  input-sm mb-1 text-end " type="search" 
                name="search" 
                hx-post="/settings/userv2/search-instance" 
                hx-ext='json-enc' 
                hx-trigger="input changed delay:250ms, search" 
                hx-target="#search-results" 
                
                
                >
                
            </div>
      </div>
      <div class="row">
        <div class="col text-end">
            <b>Label</b>
        </div>
        <div class="col me-2">
            <input               class=" form-control form-control-sm  input-sm mb-1 text-end " 
            type="text" name="label" id="label">
            
        </div>
      </div>
        <div class="row">
            <div class="col text-end">
        
            </div>
            <div class="col ">
                <div id="search-results"></div>
                <button class="btn  ms-1 mt-0  btn-link" >
        Add contract
        </button>
            </div>
        </div>
  

  {% if error_message %}
  <div class="row alert alert-danger" id="error_message" role="alert">{{error_message}}</div>
{% endif %}
    <div>
        
    </div>
</div>
</form>   

<br/>