<script>
    function sleep(milliseconds) {
  const date = Date.now();
  let currentDate = null;
  do {
    currentDate = Date.now();
  } while (currentDate - date < milliseconds);
}

    function empty_fields() {
        sleep(1000);
        id_or_index = document.getElementById('id_or_index');
        id_or_index.value = "";

        label = document.getElementById('label');
        label.value = "";
        
    }
    function clear_error_message() {
        
        error_message = document.getElementById('error_message');
        error_message.style.display = 'none';

    }
</script>
<form 
hx-put="/settings/userv2/save/new-account" 
hx-ext='json-enc' 
hx-target="this" 
hx-swap="outerHTML"
hx-on::after-request=" if(event.detail.successful) this.reset()">
    <p>Enter an address or index and a label to add a new account. Adding a new account enbables no notification preferences. You can set these after adding your new account.</p>
    <div class="px-2">
  
    <div class="row">
            <div class="col text-end">
                <b>Address/Index</b>
            </div>
            <div class="col me-2">
                <input   onclick="clear_error_message()"            class=" form-control form-control-sm  input-sm mb-1 text-end " 
                type="text" name="id_or_index" id="id_or_index" >
                
            </div>
      </div>
      <div class="row">
        <div class="col text-end">
            <b>Label</b>
        </div>
        <div class="col me-2">
            <input               class=" form-control form-control-sm  input-sm mb-1 text-end " 
            type="text" name="label" id="label">
            <button class="btn  ms-1 mt-0 b btn-link" >
                Add account
                </button>   
        </div>
  </div>
  {% if error_message %}
  <div class="row alert alert-danger" id="error_message" role="alert">{{error_message}}</div>
{% endif %}
    <div>
        
    </div>
    </div>
</form>   
<br/>
<!--     
</div>
<br/><br/><br/> -->