<div hx-target="this" hx-swap="outerHTML" class="alert px-2 alert-success" role="alert">
    <div class="row my-0">
        <div class="col "><button class="btn   btn-link" hx-get="/settings/userv2/edit/contract/{{contract_index}}" >Edit</button></div>
        <div class="col"><i>{{contract.label}}</i></div>
        <div class="col"><a href="/mainnet/contract/{{contract.contract.index}}/{{contract.contract.subindex}}"><span class="ccd">{{contract.contract.index}}</span></a></div>
        <div class="col"><span class="ccd">{{contract.contract_name}}</span></div>
        
    </div>
    
</div>