{% extends "base/base.html" %}
{% block ogp %}
<meta property="og:title" content="Overview of all Protocol-Level Tokens and Verified Fungible and Non-Fungible CIS-2 tokens on Concordium {{net}}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{request.url._url}}" />
{% endblock %}
{% block content %}
{% include 'base/search_bar_non_home_inclusion.html' %}

{% if plts | length > 0 %}

<h4 >Protocol-Level Tokens</h4>

<div class="container my-4">
        <div class="row">
    
    {% for token_name, token in plts.items() %}
    {% set metadata = token.token_metadata %}
        <div class="card  low border-dark m-2 p-2" style="width: 10rem;">
            {% if metadata and metadata.display %}
                <img src="{{metadata.display}}"  style="width: 50%; max-height: 75px;" class="mx-auto  card-img-top" alt="logo">
            {% endif %}
            <div class="card-body  m-0 p-0 text-center">
                <span class="card-title text-center">
                        
                    <br/>
                    {{token.token_id}}
                </span>
                <a class="stretched-link" href="/{{net}}/tokens/{{token.token_id}}"></a>
        </div>
        </div>

      

{% endfor %}
</div>          
        
</div>

{% endif %}

{% if fungible_tokens_verified%}

<h4 >Verified Fungible Tokens</h4>

<p >Fungible tokens are sorted by the TVL. Note that only tokens from CIS-2 compliant contracts are shown that are verified. 
    Contact me at <a href="https://telegram.me/sderuiter">@explorer.ccd</a> to get your token verified.</p>
  
    <div class="container my-4">
        <div class="row">
    
    {% for token in fungible_tokens_verified %}
        {% set vi = token.verified_information %}
        {% set md = token.address_information %}
    
              <!-- Card 1 -->
              <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4"> -->
                <div class="card  low border-dark m-2 p-2" style="width: 10rem;">
                    
                  
                    <!-- <div class="card-title text-center text-muted px-1 pb-3 text-secondary-emphasis"><small>TVL: {% if token.token_value_USD %}{{token.token_value_USD|round_x_decimal_with_comma(0)}}{% else %} 0{%endif%} USD</small></div> -->
                    <img src="{{vi.logo_url}}"  style="width: 50%; max-height: 75px;" class="mx-auto  card-img-top" alt="logo">
                    <div class="card-body  m-0 p-0 text-center">
                        <span class="card-title text-center">
                                
                            <br/>
                            {{vi.display_name}}
                            
                            
                            
                        </span>
                        {% if vi._id == "PTRT" %}
                            <a class="stretched-link" href="https://ptags.provenancechain.io/rewards"></a>
                        {% else %}
                            <a class="stretched-link" href="/{{net}}/tokens/{{vi._id}}"></a>
                        {% endif %}
              
                  
                  <!-- </div> -->
                </div>
              </div>
        
      

{% endfor %}
</div>          
        
</div>
{% endif %}

{% if non_fungible_tokens_verified %}

<h4 >Verified NFTs</h4>

<p >Note that only NFTs from CIS-2 compliant contracts are shown that are verified. 
    Contact me at <a href="https://telegram.me/sderuiter">@explorer.ccd</a> to get your token verified.</p>
  
    <div class="container my-4">
        <div class="row">
    
    {% for token in non_fungible_tokens_verified %}
        {% set vi = token.verified_information %}
        
              <!-- Card 1 -->
              <!-- <div class="col-12 col-sm-6 col-md-4 col-lg-3 mb-4"> -->
                <div class="card  low border-dark m-2 p-2" style="width: 10rem;">
                    
                  
                    <img src="{{vi.logo_url}}"  style="width: 50%; max-height: 75px;" class="mx-auto  card-img-top" alt="logo">
                    <div class="card-body  m-0 p-0 text-center">
                        <span class="card-title text-center">
                                
                            <br/>
                            {{vi.display_name}}
                            
                            
                            
                        </span>
                        <a class="stretched-link" href="/{{net}}/tokens/{{vi._id}}"></a>
              
                  
                  <!-- </div> -->
                </div>
              </div>
        
      

{% endfor %}
</div>          
        
</div>
{% endif %}


{% endblock content %}

