<style>
    :root {
        --bckg-color: #FFFFFF;
        --text-color: #1B1B1B;
    }

    .dark-theme {
        --bckg-color: #0A0A0A;
    }

    .accounts-table-block {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        margin-top: 50px;
    }

    .account-table-box {
        width: 45%;
        display: flex;
        justify-content: center;
    }

    .account-table thead tr th {
        font-family: "Outfit", serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        text-align: center;
        color: var(--text-color);
        background: none

    }

    h5 {
        font-family: "Outfit", serif;
        font-size: 12px;
        font-weight: 600;
        line-height: 15px;
        color: #666666;
        text-align: center;
    }

    tbody.accounts-table-block {
        width: 100%;
        height: 400px;
    }

    .account-row {
        background: var(--bckg-color);
        border: #1A1A1A solid 1px;
        border-radius: 8px;
        margin: 5px;
        padding: 10px;
        display: flex;
        justify-content: space-between;
        align-items: baseline;
        width: 600px;
    }

    .account-table tbody tr td {
        font-family: "Outfit", serif;
        font-size: 12px;
        font-weight: 400;
        line-height: 15px;
        letter-spacing: 0.19177599251270294px;
        text-align: center;
    }

    @media screen and (max-width: 1251px) {

        .accounts-table-block {
            flex-direction: column;

        }

        .account-table-box {
            width: 100%;
        }
    }

    @media screen and (max-width: 560px) {

        .account-table tbody tr {
            width: 300px;
        }
    }
</style>


<div class="container">
    <h5>
        (last 7 days, transfers excluding Exchange to Exchange transfers, transactions excluding Exchange accounts,
        data from {{ s["timestamp"]|datetime_delta_format_since }} ago)
    </h5>
    <div class="accounts-table-block">
        <div class="account-table-box">
            <table class="account-table">
                <thead>
                <tr>
                    <th>Largest transfers</th>
                </tr>
                </thead>
                <tbody id="accounts-table-block">
                <tr class="account-row">
                    <td>{{ s["largest-0"]|safe }}</td>
                    <td>{{ s["largest-0-amount"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["largest-1"]|safe }}</td>
                    <td>{{ s["largest-1-amount"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["largest-2"]|safe }}</td>
                    <td>{{ s["largest-2-amount"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["largest-3"]|safe }}</td>
                    <td>{{ s["largest-3-amount"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["largest-4"]|safe }}</td>
                    <td>{{ s["largest-4-amount"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["largest-5"]|safe }}</td>
                    <td>{{ s["largest-5-amount"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["largest-6"]|safe }}</td>
                    <td>{{ s["largest-6-amount"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["largest-7"]|safe }}</td>
                    <td>{{ s["largest-7-amount"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["largest-8"]|safe }}</td>
                    <td>{{ s["largest-8-amount"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["largest-9"]|safe }}</td>
                    <td>{{ s["largest-9-amount"]|safe }}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="account-table-box">
            <table class="account-table">
                <thead>
                <tr>
                    <th>Most Transactions</th>
                </tr>
                </thead>
                <tbody>
                <tr class="account-row">
                    <td>{{ s["most_active-0"]|safe }}</td>
                    <td>{{ s["most_active-0-tx"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["most_active-1"]|safe }}</td>
                    <td>{{ s["most_active-0-tx"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["most_active-2"]|safe }}</td>
                    <td>{{ s["most_active-0-tx"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["most_active-3"]|safe }}</td>
                    <td>{{ s["most_active-0-tx"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["most_active-4"]|safe }}</td>
                    <td>{{ s["most_active-0-tx"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["most_active-5"]|safe }}</td>
                    <td>{{ s["most_active-0-tx"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["most_active-6"]|safe }}</td>
                    <td>{{ s["most_active-0-tx"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["most_active-7"]|safe }}</td>
                    <td>{{ s["most_active-0-tx"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["most_active-8"]|safe }}</td>
                    <td>{{ s["most_active-0-tx"]|safe }}</td>
                </tr>
                <tr class="account-row">
                    <td>{{ s["most_active-9"]|safe }}</td>
                    <td>{{ s["most_active-0-tx"]|safe }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>