<div class="container-sm rounded  border border-secondary p-1">
    <div class="row">

      <div class="float-center small text-center text-muted"><small>(last 7 days, transfers excluding Exchange to Exchange transfers, transactions excluding Exchange accounts, data from {{s["timestamp"]|datetime_delta_format_since}} ago)</small></div>
      
      <div class="col">
        <table class="table  small ">
          
          <tr>
            
            <th colspan="2" class="small text-center p-1 m-1"><small>Largest Transfers</small></th>
          <tr><td class="small text-end p-1"><small><span id="largest-0">{{s["largest-0"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="largest-0-amount">{{s["largest-0-amount"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-1">{{s["largest-1"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="largest-1-amount">{{s["largest-1-amount"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-2">{{s["largest-2"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="largest-2-amount">{{s["largest-2-amount"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-3">{{s["largest-3"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="largest-3-amount">{{s["largest-3-amount"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-4">{{s["largest-4"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="largest-4-amount">{{s["largest-4-amount"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-5">{{s["largest-5"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="largest-5-amount">{{s["largest-5-amount"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-6">{{s["largest-6"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="largest-6-amount">{{s["largest-6-amount"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-7">{{s["largest-7"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="largest-7-amount">{{s["largest-7-amount"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-8">{{s["largest-8"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="largest-8-amount">{{s["largest-8-amount"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-9">{{s["largest-9"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="largest-9-amount">{{s["largest-9-amount"]|safe}}</span></small></td></tr>  
          
      </table>
      </div>
      <div class="col">
        <table class="table  small ">
          
          <tr>
            <th colspan="2" class="small text-center p-1 m-1"><small>Most Transactions</small></th>
          <tr><td class="small text-end p-1"><small><span id="most_active-0">{{s["most_active-0"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="most_active-0-tx">{{s["most_active-0-tx"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-1">{{s["most_active-1"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="most_active-1-tx">{{s["most_active-1-tx"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-2">{{s["most_active-2"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="most_active-2-tx">{{s["most_active-2-tx"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-3">{{s["most_active-3"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="most_active-3-tx">{{s["most_active-3-tx"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-4">{{s["most_active-4"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="most_active-4-tx">{{s["most_active-4-tx"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-5">{{s["most_active-5"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="most_active-5-tx">{{s["most_active-5-tx"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-6">{{s["most_active-6"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="most_active-6-tx">{{s["most_active-6-tx"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-7">{{s["most_active-7"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="most_active-7-tx">{{s["most_active-7-tx"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-8">{{s["most_active-8"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="most_active-8-tx">{{s["most_active-8-tx"]|safe}}</span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-9">{{s["most_active-9"]|safe}}</span></small></td><td class="small text-end p-1"><small><span id="most_active-9-tx">{{s["most_active-9-tx"]|safe}}</span></small></td></tr>
          
      </table>
      </div>
        
    </div>
    
  </div>
  <br/>
  