{% extends "base.html" %}
{% block content %}
{% if error %}
<p>An error occured: <b>{{error.errorMessage}}</b></p>
{% else %}

<h2>Chain Information</h2>
<ul class="nav nav-tabs ms-1 me-1" id="myTab" role="tablist">
{% if net == 'mainnet'%}
  <li class="nav-item" role="presentation">
    <button class="nav-link small ps-2 pe-2 {% if net == 'mainnet'%}active {%else%} {%endif%}" id="ip-tab" data-bs-toggle="tab" data-bs-target="#ip"
      type="button" role="tab" aria-controls="ip" aria-selected="true"><small>Identity <br/>Providers</small></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link small ps-2 pe-2  " id="ar-tab" data-bs-toggle="tab" data-bs-target="#ar"
      type="button" role="tab" aria-controls="ar" aria-selected="true"><small>Anonymity <br/>Revokers</small></button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link small ps-2 pe-2  " id="po-tab" data-bs-toggle="tab" data-bs-target="#po"
      type="button" role="tab" aria-controls="po" aria-selected="true"><small>Chain <br/>Updates</small></button>
  </li>
  {%endif%}
  
</ul>

<div class="tab-content" id="myTabContent">

  <div class="tab-pane fade show {% if net == 'mainnet'%}active {%else%} {%endif%} " style="padding-top: 10px;" id="ip" role="tabpanel"
    aria-labelledby="ip-tab">
    {% for provider in ip %}
      {% include "ip_ar.html" %}
    {%endfor %}
  </div>

  <div class="tab-pane fade show  " style="padding-top: 10px;" id="ar" role="tabpanel"
    aria-labelledby="ar-tab">
    {% for provider in ar %}
      {% include "ip_ar.html" %}
    {%endfor %}
  </div>

  <div class="tab-pane fade show  " style="padding-top: 10px;" id="po" role="tabpanel"
  aria-labelledby="po-tab">
  {{protocol_updates |safe}}
</div>

</div>
{% endif %}
{% endblock content %}