{% extends "base.html" %}
{% block content %}

<h2>Labeled Accounts</h2>
<div class="container">
   
{% for tag in tags["labels"] %}
    {% if tag != 'contracts' %}
    <div class="row">
        <h4 class="mt-3">{{tag[0]|upper}}{{tag[1:]}}</h4>
            
        <p><small>{{tags["descriptions"][tag]}}</small></p>
        {% for account in tags["labels"][tag] %}
            {% set color = tags["colors"][tag] %}
            <div class="card low border-success m-2 p-2" style="width: 9rem;">
                <div style="background-color: {{color}}"  class="card-body m-0 p-0 text-center">
                    <small><span  class="card-title text-center">
                        {{account|account_link(net, True, True, user, tags, white_text=true, app=request.app)|safe }}
                        
                    
                    </span></small>
                    <a class="stretched-link" href="/{{net}}/account/{{account|address_to_index(app=request.app)}}"></a>
                
                </div>
                
            </div>
            
            {% endfor %}    
    </div>
{% endif %}
{% endfor %}
<div class="row">
    <h4 class="mt-3">Projects</h4>
    <p><small>Recognized projects on the Concordium blockchain.</small></p>
{% for project_id, project in projects.items()%}
    <div class="card low border-success m-2 p-2" style="width: 9rem;">
        <div style="background-color: lightblue"  class="card-body m-0 p-0 text-center">
            <small><span  class="card-title text-center">
                <a href="/project/{{project_id}}"><small>{{project.display_name}}</small></a>
                
        
        </span></small>
        <a class="stretched-link" href="/project/{{project_id}}"></a>
    
    </div>
    
</div>
{% endfor%}
</div>
</div>
{% endblock %}