<div class="container-sm rounded  border border-secondary p-1">
    <div class="row">
      <div class="float-center small text-center text-muted"><small>(last 7 days, transfers excluding Exchange to Exchange transfers, transactions excluding Exchange accounts)</small></div>
      <!-- <div class="col">
        <table class="table  small ">
          
          <tr>
            <th colspan="2" class="small text-center p-1 m-1"><small>10 Newest Accounts</small></th>
          <tr><td class="small text-end p-1"><small><span id="newest-0"></span></small></td><td class="small text-end p-1"><small><span id="newest-0-since"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="newest-1"></span></small></td><td class="small text-end p-1"><small><span id="newest-1-since"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="newest-2"></span></small></td><td class="small text-end p-1"><small><span id="newest-2-since"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="newest-3"></span></small></td><td class="small text-end p-1"><small><span id="newest-3-since"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="newest-4"></span></small></td><td class="small text-end p-1"><small><span id="newest-4-since"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="newest-5"></span></small></td><td class="small text-end p-1"><small><span id="newest-5-since"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="newest-6"></span></small></td><td class="small text-end p-1"><small><span id="newest-6-since"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="newest-7"></span></small></td><td class="small text-end p-1"><small><span id="newest-7-since"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="newest-8"></span></small></td><td class="small text-end p-1"><small><span id="newest-8-since"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="newest-9"></span></small></td><td class="small text-end p-1"><small><span id="newest-9-since"></span></small></td></tr>
      </table>
      </div> -->
      <div class="col">
        <table class="table  small ">
          
          <tr>
            
            <th colspan="2" class="small text-center p-1 m-1"><small>Largest Transfers</small></th>
          <tr><td class="small text-end p-1"><small><span id="largest-0"></span></small></td><td class="small text-end p-1"><small><span id="largest-0-amount"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-1"></span></small></td><td class="small text-end p-1"><small><span id="largest-1-amount"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-2"></span></small></td><td class="small text-end p-1"><small><span id="largest-2-amount"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-3"></span></small></td><td class="small text-end p-1"><small><span id="largest-3-amount"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-4"></span></small></td><td class="small text-end p-1"><small><span id="largest-4-amount"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-5"></span></small></td><td class="small text-end p-1"><small><span id="largest-5-amount"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-6"></span></small></td><td class="small text-end p-1"><small><span id="largest-6-amount"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-7"></span></small></td><td class="small text-end p-1"><small><span id="largest-7-amount"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-8"></span></small></td><td class="small text-end p-1"><small><span id="largest-8-amount"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="largest-9"></span></small></td><td class="small text-end p-1"><small><span id="largest-9-amount"></span></small></td></tr>  
          
      </table>
      </div>
      <div class="col">
        <table class="table  small ">
          
          <tr>
            <th colspan="2" class="small text-center p-1 m-1"><small>Most Transactions</small></th>
          <tr><td class="small text-end p-1"><small><span id="most_active-0"></span></small></td><td class="small text-end p-1"><small><span id="most_active-0-tx"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-1"></span></small></td><td class="small text-end p-1"><small><span id="most_active-1-tx"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-2"></span></small></td><td class="small text-end p-1"><small><span id="most_active-2-tx"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-3"></span></small></td><td class="small text-end p-1"><small><span id="most_active-3-tx"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-4"></span></small></td><td class="small text-end p-1"><small><span id="most_active-4-tx"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-5"></span></small></td><td class="small text-end p-1"><small><span id="most_active-5-tx"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-6"></span></small></td><td class="small text-end p-1"><small><span id="most_active-6-tx"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-7"></span></small></td><td class="small text-end p-1"><small><span id="most_active-7-tx"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-8"></span></small></td><td class="small text-end p-1"><small><span id="most_active-8-tx"></span></small></td></tr>
          <tr><td class="small text-end p-1"><small><span id="most_active-9"></span></small></td><td class="small text-end p-1"><small><span id="most_active-9-tx"></span></small></td></tr>
          
      </table>
      </div>
        
    </div>
  </div>
  <br/>
  