
<b class="text-uppercase"><small>Latest Validated Blocks</small></b>
<table class="table">
  <tr>
    <th class="small"><small>Height</small></th>
    <th class="text-end small"><small>Time</small></th>
    <th class="text-end small"><small>Hash</small></th>
    <th class="text-end small"><small>Validator</small></th>
    <th class="text-end small"><small>Txs</small></th>
    <!-- <th>Amount</th> -->
  </tr>
{% for row in blocks %}
  <tr>
    <td class="small ccd"><small><a class="ccd" href="/{{net}}/block/{{row.hash}}">{{row.height|round_0_decimal_with_comma}}</a></small></td>
    <td class="text-end small"><small>{{row.slot_time|datetime_delta_format_since}}</small></td>
    <td class="text-end small"><small><a class="ccd" href="/{{net}}/block/{{row.hash}}">{{row.hash[:6]}}</small></a></td>
    <td class="text-end small"><small><a class="ccd" href="/{{net}}/account/{{row.baker}}">{{row.baker|round_0_decimal_with_comma}}</a></small></td>
    <td class="text-end small"><small><span class="ccd">{{row.transaction_count|round_0_decimal_with_comma }}</span></small></td>

  </tr>
{% endfor %}
</table>
