<b class="text-uppercase"><small>Latest Transactions</small></b>
<table class="table">
  <tr>
    <th class="small"><small>Hash</small></th>
    <th class="text-end small"><small>Time</small></th>
    <th class="text-end small"><small>Status</small></th>
    <th class="text-end small"><small>Type</small></th>
    <th class="text-end small"><small>Sender</small></th>
    <!-- <th>Amount</th> -->
  </tr>
{% for row in txs %}
  <tr>
    <td class="small ccd"><a class="ccd" href="/{{net}}/transaction/{{row.hash}}">{{row.hash[:6]}}</a></td>
    
    <td class="text-end small"><small>{{row.block_info.slot_time|datetime_delta_format_since}}</small></td>
    <td class="text-end small"><small>{% if row.account_transaction %}{% if row.account_transaction.outcome == 'success' %}✅{%else%}❌{%endif%}{%endif%}</small></td>
    <td class="text-end small"><small>{{row.type.contents}}</small></td>
    <td class="text-end small"><small>{% if row.account_transaction %}{{row.account_transaction.sender|account_link(net, True, True, user, tags, white_text=true, app=request.app)|safe }}{%endif%}</small></td>

  </tr>
{% endfor %}
</table>
