<!-- Below is side menu, mobile phones menu -->
<div class="side-menu">
    <div class="close-menu d-flex justify-content-end py-2 mx-2">
        <button type="button" class="btn-close close py-2" onclick="closeMenu()" aria-label="Close"></button>
    </div>

    <div class="accordion borderless" id="accordionExample">

        <div class="accordion-item">
            <h2 class="accordion-header bg-dark bg-gradient" id="headingOne">
                <button class="accordion-button collapsed bg-dark bg-gradient text-light shadow-none text-center"
                        type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne"
                        aria-expanded="false" aria-controls="collapseOne">
                    Blockchain
                </button>
            </h2>
            <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">

                    <div class="d-grid gap-2">
                        <button class="btn btn-secondary" type="button">Blocks</button>
                        <button class="btn btn-secondary" type="button">Txns</button>
                        <button class="btn btn-secondary" type="button">Accounts</button>
                    </div>

                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header bg-dark bg-gradient text-light" id="headingTwo">
                <button class="accordion-button collapsed bg-dark bg-gradient text-light shadow-none" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseTwo"
                        aria-expanded="false" aria-controls="collapseTwo">
                    Nodes
                </button>
            </h2>
            <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="d-grid gap-2">
                        <button class="btn btn-secondary" type="button">Node list</button>
                        <button class="btn btn-secondary" type="button">Validators</button>
                    </div>
                </div>
            </div>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header bg-dark bg-gradient text-light" id="headingThree">
                <button class="accordion-button collapsed no-arrow bg-dark bg-gradient text-light shadow-none"
                        type="button">
                    Staking
                </button>
            </h2>
        </div>

        <div class="accordion-item text-light">
            <h2 class="accordion-header bg-dark bg-gradient" id="headingFour">
                <button class="accordion-button collapsed no-arrow bg-dark bg-gradient text-light shadow-none"
                        type="button">
                    Use Cases
                </button>
            </h2>
        </div>

        <div class="accordion-item">
            <h2 class="accordion-header bg-dark bg-gradient text-light" id="headingSix">
                <button class="accordion-button collapsed bg-dark bg-gradient text-light shadow-none" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseFour" aria-expanded="false"
                        aria-controls="collapseFour">
                    Tools
                </button>
            </h2>
            <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="d-grid gap-2">
                        <button class="btn btn-secondary" type="button">Analytics</button>
                        <button class="btn btn-secondary" type="button">Contracts</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <h2 class="accordion-header bg-dark bg-gradient text-light" id="headingFive">
                <button class="accordion-button collapsed bg-dark bg-gradient text-light shadow-none" type="button"
                        data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false"
                        aria-controls="collapseThree">
                    Tokens
                </button>
            </h2>
            <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                 data-bs-parent="#accordionExample">
                <div class="accordion-body">
                    <div class="d-grid gap-2">
                        <button class="btn btn-secondary" type="button">Fungible</button>
                        <button class="btn btn-secondary" type="button">NFTs</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<!-- Below is navigation bar for the entire project. Althought it is most written in Bootstrap, it contains custom css classes -->
<div class="container px-0">
    <nav class="navigation-bar">
        <div id="navigation-bar-content">

            <!-- Main logo on the left side -->
            <div id="main-logo">

                <a id="nav-logo" href="/">
                    <img id="logo-logo" src="/static/logo_white_bg.jpg" alt="logo">
                    <img id="concordium-small" src="/static/concordium-small-black.png" alt="small-logo">
                </a>
            </div>

            <!-- Navigation and theme switch button on the right -->
            <div id="navigation-items">

                <ul class="sub-menu">
                    <li class="menu-item">
                        <a class="menu-item-a" href="/{{ net }}">Blockchain</a>
                        <ul class="drop">
                            <li><a href="/{{ net }}">Blocks</a></li>
                            <li><a href="/{{ net }}">Txns</a></li>
                            <li><a href="/{{ net }}/accounts">Accounts</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a class="menu-item-a" href="/{{ net }}/nodes-and-validators">Nodes</a>
                        <ul class="drop">
                            <li><a href="/{{ net }}/nodes-and-validators">Node List</a></li>
                            <li><a href="/{{ net }}/nodes-and-validators">Validators</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a class="menu-item-a" href="/{{ net }}/staking">Staking</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-item-a disabled" href="/">Use Cases</a>
                    </li>
                    <li class="menu-item">
                        <a class="menu-item-a" href="/{{ net }}/tokens">Tokens</a>
                        <ul class="drop">
                            <li><a href="/{{ net }}/tokens">Fungible</a></li>
                            <li><a href="/{{ net }}/tokens">NFTs</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a class="menu-item-a disabled" href="#">Tools</a>
                        <ul class="drop">
                            <li><a href="{{ net }}/statistics">Analytics</a></li>
                            <li><a href="{{ net }}/smart-contracts">Contracts</a></li>
                        </ul>
                    </li>
                </ul>

                <!-- Below is Right side of navigation in which are regular menu, hamburger menu on smaller resolutions, switch theme button and switch mainnet vs testnet dropdown button  -->
                <div id="theme-mainnet-testnet">

                    <button class='switcher'>
                        <i class="bi bi-sun-fill" style="text-decoration: none;"></i>
                    </button>

                    <div class="dropdown-custom">
                        <img class="small-logo" src="/static/small-logo-black.png" alt="small-logo">
                        <p id="dropdownHead" class="dropbtn">Mainnet</p>
                        <div id="dropdownMenu" class="dropdown-custom-content" style="margin-top: 10px;">
                            <a href="#" class="dropdown-custom-item">Testnet</a>
                        </div>
                        <i class="bi bi-chevron-down arrow-down" style="color: var(--secondary-text-color-light)"></i>
                    </div>

                    <button class="hamburger" onclick="openMenu()">&#9776;</button>
                </div>
            </div>
        </div>
    </nav>
</div>

<script>
    // Dropdown menu Mainnet Testnet on click
    document.addEventListener('DOMContentLoaded', (event) => {
        const dropdownHead = document.getElementById('dropdownHead');
        const dropdownItems = document.querySelectorAll('.dropdown-custom-item');
        const arrowDown = document.querySelector('.arrow-down');


        dropdownItems.forEach(item => {
            item.addEventListener('click', function (e) {
                e.preventDefault();

                console.log(this.textContent);

                if (this.textContent === 'Mainnet') {
                    console.log('Now is Mainnet');
                } else if (this.textContent === 'Testnet') {
                    console.log('now is Testnet');
                }

                // Get current head text
                const currentText = dropdownHead.textContent;

                // Swap the text
                dropdownHead.textContent = this.textContent;
                this.textContent = currentText;

                // Close the dropdown menu
                document.querySelector('.dropdown-custom-content').style.display = 'none';
            });
        });

        // Toggle dropdown menu visibility on click of head
        dropdownHead.addEventListener('click', function () {
            const dropdownContent = document.getElementById('dropdownMenu');
            if (dropdownContent.style.display === 'flex') {
                dropdownContent.style.display = 'none';
            } else {
                dropdownContent.style.display = 'flex';
            }
        });

        // Close the dropdown if the user clicks outside of it
        window.addEventListener('click', function (event) {
            if (!event.target.matches('.dropbtn')) {
                const dropdownContent = document.getElementById('dropdownMenu');
                if (dropdownContent.style.display === 'flex') {
                    dropdownContent.style.display = 'none';
                }
            }
        });
    });


    // Hamburger menu toggle
    function openMenu() {
        const sideMenu = document.querySelector('.side-menu');
        sideMenu.classList.add('side-menu-opened');
    }

    function closeMenu() {
        const sideMenu = document.querySelector('.side-menu');
        sideMenu.classList.remove('side-menu-opened');
    }

    const to_mainnet = document.getElementById('toggle_to_mainnet');

    to_mainnet.addEventListener('input', function () {
        window.location.href = '/mainnet';
    });

    const to_testnet = document.getElementById('toggle_to_testnet');

    to_testnet.addEventListener('input', function () {
        window.location.href = '/testnet';
    });
</script>