<nav class="navbar navbar-light ">
    <div class="container p-3 pt-0 pb-0 m-0">
      <a class="navbar-brand" href="/">
        <img id='logo' src="/static/logo_white_bg.jpg" alt="" width="250" >
      </a>
      <!-- {{net}}
      {{request.url}} -->
      {%  if not 'user' in (request.url|string) %} 
      <div class="btn-group btn-group-sm" role="group" aria-label="Basic radio toggle button group">
        <input type="radio" class="btn-check " name="btnradio" id="toggle_to_mainnet" autocomplete="off" {% if net == "mainnet" %} checked {% endif %}>
        <label class="btn btn-outline-primary" for="toggle_to_mainnet">Mainnet</label>
      
        <input type="radio" class="btn-check" name="btnradio" id="toggle_to_testnet" autocomplete="off" {% if net == "testnet" %} checked {% endif %}>
        <label class="btn btn-outline-primary" for="toggle_to_testnet">Testnet</label>
      
      </div>

      {% endif %}
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <!-- <button id='switcher'>☀️</button> -->
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          
            
            
            <!-- <li class="nav-item">
                <a class="nav-link 
                {%  if 
                    (not (request.url|string).endswith('statistics')) and
                    (not (request.url|string).endswith('nodes-and-bakers'))

                %}
                active
            {% endif %}
                " href="/">Home</a>
              </li> -->
              {% if net == 'mainnet'%}  
              <li class="nav-item">
                <a class="nav-link 
                
                {%  if (request.url|string).endswith('overview') %}
                    active
                {% endif %}
                
                " href="/settings/user/overview">
                {% if user %}
                User settings
                {% else %}
                Login
                {% endif %}
              </a>
              </li>
         
          
          <li class="nav-item">
            <a class="nav-link 
                {%  if (request.url|string).endswith('statistics') %}
                   active
                {% endif %}
                " href="/mainnet/statistics">Statistics
            </a>
            <ul  class="">
              <li class="nav-item"><a class="nav-link 
                {%  if (request.url|string).endswith('arabella') %}
                   active
                {% endif %}
                " href="/mainnet/statistics/arabella">Arabella
            </a></li>
              <li class="nav-item"><a class="nav-link 
                {%  if (request.url|string).endswith('concordex') %}
                   active
                {% endif %}
                " href="/mainnet/statistics/concordex">Concordex
            </a></li>
            </ul>
          </li>
          {% endif %}
          {% if net == 'mainnet'%}
          <li class="nav-item">
            <a class="nav-link 
            
            {%  if (request.url|string).endswith('accounts') %}
                active
            {% endif %}
            
            " href="/{{net}}/insights/labeled-accounts">Labeled Accounts</a>
          </li>
          {% endif %}
          {% if net == 'mainnet'%}
          <li class="nav-item">
            <a class="nav-link 
            
            {%  if (request.url|string).endswith('buyers') %}
                active
            {% endif %}

            " href="/mainnet/sellers-and-buyers">Sellers and Buyers</a>
          </li>
          {% endif %}
          {% if net == 'mainnet'%}
          <li class="nav-item">
            <a class="nav-link 
            
            {%  if (request.url|string).endswith('staking') %}
                active
            {% endif %}

            " href="/mainnet/staking">Staking</a>
          </li>
          {% endif %}
          <li class="nav-item">
            <a class="nav-link 
            
            {%  if (request.url|string).endswith('actions') %}
                active
            {% endif %}

            " href="/{{net}}/recent/actions">Recent Actions</a>
          </li>
          

          <li class="nav-item">
            <a class="nav-link 
            
            {%  if (request.url|string).endswith('contracts') %}
                active
            {% endif %}

            " href="/{{net}}/smart-contracts">Smart Contracts</a>
          </li>

          <li class="nav-item">
            <a class="nav-link 
            
            {%  if (request.url|string).endswith('tokens') %}
                active
            {% endif %}

            " href="/{{net}}/tokens">CIS-2 Tokens</a>
          </li>
          
          {% if net == 'mainnet'%}
            <li class="nav-item">
              <a class="nav-link 
              
              {%  if (request.url|string).endswith('information') %}
                  active
              {% endif %}

              " href="/{{net}}/chain-information">Chain Information</a>
            </li>
            {% endif %}

          <!-- {% if net == 'mainnet'%}
            <li class="nav-item">
              <a class="nav-link 
              
              {%  if (request.url|string).endswith('search') %}
                  active
              {% endif %}

              " href="/{{net}}/transactions-search">Transactions Search</a>
            </li>
            {% endif %} -->
            {% if net == 'mainnet'%}
          <li class="nav-item">
            <a class="nav-link 
            
            {%  if (request.url|string).endswith('nodes-and-validators') %}
                active
            {% endif %}

            " href="/{{net}}/nodes-and-validators">Nodes and Validators</a>
          </li>
          {% endif %}
          <!-- <li class="nav-item">
            <a class="nav-link 
            
            {%  if (request.url|string).endswith('donate') %}
                active
            {% endif %}

            " href="/donate">Buy me a coffee...</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <script>
    const to_mainnet = document.getElementById('toggle_to_mainnet'); 
 
    to_mainnet.addEventListener('input', function() { 
      window.location.href = '/mainnet';
    });
    const to_testnet = document.getElementById('toggle_to_testnet'); 
 
    to_testnet.addEventListener('input', function() { 
      window.location.href = '/testnet';
    }); 
</script>