{% extends "base.html" %}
{% block content %}
<h2>Buy me a coffee...</h2>
<p class="small">If you like what you're seeing and can spare a few CCDs to buy me a coffee (or a new server, or a boat), below is the QR code for my (donations) account.
    <br><br>Thanks for your support!
</p>
<br>
<div class="container">
    <div class="row">
        <div class="col-12">
          <div class="text-center">
            <img  caption="test" width="300" src="{{env.SITE_URL}}/static/ce-donations-qr.jpg" >
            <div class="caption small text-muted text-center"><small><span title="3cunMsEt2M3o9Rwgs2pNdsCWZKB5MkhcVbQheFHrvjjcRLSoGP" id="copy_me" class="account_id small align-middle">3cunMsEt2M3o9Rwgs2pNdsCWZKB5MkhcVbQheFHrvjjcRLSoGP<img  onclick="copyToClipboard()" src="{{env.SITE_URL}}/static/clipboard-check.svg" ></span></small></div>
            <div class="caption small text-muted text-center"><small>(Until I figure out a way to directly connect to a Concordium Wallet, this QR code is the best I can do...)</small></div>
          </div>     
        </div>
    </div>
</div>

{% endblock content %}