<div class="col-sm-8">

    <div id="search-element" class="search-bar-container" onsubmit="searchElement()">
        <div class="input-box">
            <input type="text" placeholder="Address | Validator id | Block | Tx | CNS domain..." name="acc">
            <button role="button" class="input-group-text btn search_button" onclick="searchElement()">
                <img src="/static/search_btn.png" alt="searc_btn">
            </button>
        </div>
    </div>
</div>
<div class="col-sm-8">
    <div class="container">
        <div class="search-example-bar">
            <div class="search-example_item">
                <span>Search examples:</span>
            </div>
            <div class="search-example_item">
                <i class="bi bi-wallet-fill"></i>
                <span>Address</span>
            </div>
            <div class="search-example_item">
                <i class="bi bi-file-earmark-person"></i>
                <span>Identity</span>
            </div>
            <div class="search-example_item">
                <i class="bi bi-coin"></i>
                <span>Token</span>
            </div>
            <div class="search-example_item">
                <i class="bi bi-boxes"></i>
                <span>Block</span>
            </div>
            <div class="search-example_item">
                <i class="bi bi-arrow-left-right"></i>
                <span>Transaction</span>
            </div>
            <div class="search-example_item">
                <i class="bi bi-circle"></i>
                <span>CNS Name</span>
            </div>
            <div class="search-example_item">
                <i class="bi bi-fonts"></i>
                <span>Embedded Text Data</span>
            </div>
        </div>
    </div>
</div> 