<div class="container-sm rounded  border border-secondary mb-1 ">
    <div class="row">
      <!-- <div class="clearfix"> -->
        <table class="table  small" style="margin-bottom: 2px !important;">
          
        <tr>
          <!-- <th class="small text-end p-1 m-1">Consensus</th> -->
          <th class="small text-end p-1 m-1"><small>Fin. Height</small></th>
          <th class="small text-end p-1"><small>Fin. Period (EMA)</small></th>
          <th class="small text-end p-1"><small>Tx per block (EMA)</small></th>
          <!-- <th class="small text-end p-1"><small>Txs</small></th> -->
          <th class="small text-end p-1"><small>Outst. CCD</small></th>
          
        <tr>
          
          <!-- <td class="small text-end p-1 m-1"><small></small></td> -->
          <td class="small text-end p-1"><small><a id="height"  href = "/{{net}}/block/{{s.block_info.height}}">{{s.block_info.height|round_0_decimal_with_comma}}</a></small></td>
          <td class="small text-end p-1"><small><span id="consensus_fin_period_combined">{{s.consensus_info.finalization_period_ema|round_x_decimal_no_comma(2)}} (± {{s.consensus_info.finalization_period_emsd|round_x_decimal_no_comma(2)}})</span></small></td>
          <td class="small text-end p-1"><small><span id="consensus_tx_per_block_combined">{{s.consensus_info.transactions_per_block_ema|round_x_decimal_no_comma(2)}}s (± {{s.consensus_info.transactions_per_block_emsd|round_x_decimal_no_comma(2)}}s)</span></small></td>
          <!-- <td class="small text-end p-1"><small><span id="tx_count"></span></small></td> -->
          <td class="small text-end p-1"><small><span id="ccd_outstanding">{{(s.tokenomics_info.v1.total_amount/1_000_000)|round_0_decimal_with_comma}}</span></small></td>
          
        </tr>
        
    </table>
    </div>
  </div>
  