<div class="container-sm rounded  border border-secondary">
    <div class="row">
      <!-- <div class="clearfix"> -->
        <table class="table  small " style="margin-bottom: 2px !important;">
          
        <tr>
          <th class="small text-start p-1"><small>Data from {{s.timestamp|datetime_delta_format_since}} ago</small></th>
          <!-- <th>Data from {{s.timestamp|datetime_delta_format_since}} ago</th> -->
          <th class="small text-end p-1 m-1"><small>Last Hour</small></th>
          <th class="small text-end p-1"><small>24h</small></th>
          <th class="small text-end p-1"><small>7d</small></th>
          <th class="small text-end p-1"><small>30d</small></th>
          <th class="small text-end p-1"><small>Last Year</small></th></tr>
        <tr>
          <td class="small text-start p-1 m-1"><small>TXs

            <a href="#" data-bs-toggle="popover" tabindex="0" id="txs_popup" data-bs-trigger="focus" data-bs-title="Txs explanation" data-bs-content="
            
        
            The top row shows the count of txs for the last hour, the last 24h, last 7d, last 30d, and last year respectively. 
            The percentages below indicate growth/decline in relation to the next timeframe. 

            An an example, if the percentage below 24h is positive, say 30%, this indicates that if the next 6d are the same as the last 24h,
            the number of txs (measured for 7d) would be 30% higher than the previous 7d.
            ">(i)</a>


          </small></td>
          <td class="small text-end p-1"><small><span id="hour_count_at">{{s.hour_count_at}}</span><br/><i><small><span id="hour_f_at">{{s.hour_f_at}}</span></small></i></small></td>
          <td class="small text-end p-1"><small><span id="day_count_at">{{s.day_count_at}}</span><br/><i><small><span id="day_f_at">{{s.day_f_at}}</span></small></i></small></td>
          <td class="small text-end p-1"><small><span id="week_count_at">{{s.week_count_at}}</span><br/><i><small><span id="week_f_at">{{s.week_f_at}}</span></small></i></small></td>
          <td class="small text-end p-1"><small><span id="month_count_at">{{s.month_count_at}}</span><br/><i><small><span id="month_f_at">{{s.month_f_at}}</span></small></i></small></td>
          <td class="small text-end p-1"><small><span id="year_count_at">{{s.year_count_at}}</span></small></td>
        </tr>
        <tr>
          <td class="small text-start p-1 m-1"><small>TPS

            <a href="#" data-bs-toggle="popover" tabindex="1" id="tps_popup" data-bs-trigger="focus" data-bs-title="TPS explanation" data-bs-content="
    
        
            Tps shows the transactions per second for the last hour, the last 24h, last 7d, last 30d, and last year respectively. 
            ">(i)</a>


          </small></td>
          <td class="small text-end p-1"><small><span id="hour_tps">{{s.hour_tps}}</span></td>
          <td class="small text-end p-1"><small><span id="day_tps">{{s.day_tps}}</span></td>
          <td class="small text-end p-1"><small><span id="week_tps">{{s.week_tps}}</span></td>
          <td class="small text-end p-1"><small><span id="month_tps">{{s.month_tps}}</span></small></td>
          <td class="small text-end p-1"><small><span id="year_tps">{{s.year_tps}}</span></small></td>
        </tr>
      
    </table>
    </div>
  </div>
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script> -->
    <script>
      const txs_popup = document.getElementById('txs_popup')
      const popover_txs = new bootstrap.Popover(txs_popup, {trigger: ' hover focus'})
    
      const tps_popup = document.getElementById('tps_popup')
      const popover_tps = new bootstrap.Popover(tps_popup, {trigger: 'hover focus'})
    
    </script>