{% block style %}
    <style>
        .txs-table-box {
            width: 100%;
            height: 150px;
            border: #1B1B1B solid 1px;
            background: var(--bckg-color);
            color: var(--text-color);
            top: 184px;
            left: 60px;
            gap: 40px;
            border-radius: 8px;
            display: flex;
            justify-content: space-around;
            align-items: center;
            margin-bottom: 20px;
        }

        .txs-table-image > img {
            width: 25px;
            height: 25px;
            padding: 5px;
            margin-left: 10px;
        }

        .txs-table {
            width: 100%;
        }

        .txs-table > tbody {
            height: 100px;
        }

        th,
        td {
            font-family: "Outfit", serif;
            font-size: 12px;
            font-weight: 400;
            line-height: 15px;
            color: #666666;
            padding: 5px;
            text-align: left;
        }

        td {
            font-weight: 600;
            font-size: 16px;
        }

        @media screen and (max-width: 510px) {
            .txs-table-image {
                display: none;
            }

            .txs-table-box {
                height: 180px;
            }
        }
    </style>
{% endblock %}

<div class="container">
    <div class="txs-table-box">

        <div class="txs-table-image">
            <img class="logo-sm-in" src="/static/small-logo-grey.png" alt="small-logo">
        </div>

        <table class="txs-table">

            <thead>
            <tr>
                <th><small>Data from {{ s.timestamp|datetime_delta_format_since }} ago</small></th>
                <th><small>Last Hour</small></th>
                <th><small>24h</small></th>
                <th><small>7d</small></th>
                <th><small>30d</small></th>
                <th><small>Last Year</small></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td><small>TXs
                    <a href="#" data-bs-toggle="popover" tabindex="0" id="txs_popup" data-bs-trigger="focus"
                       data-bs-title="Txs explanation" data-bs-content="
            The top row shows the count of txs for the last hour, the last 24h, last 7d, last 30d, and last year respectively.
            The percentages below indicate growth/decline in relation to the next timeframe.

            An an example, if the percentage below 24h is positive, say 30%, this indicates that if the next 6d are the same as the last 24h,
            the number of txs (measured for 7d) would be 30% higher than the previous 7d.
            ">(i)</a>
                </small></td>
                <td><small><span id="hour_count_at">{{ s.hour_count_at }}</span><br/><i><small><span
                        id="hour_f_at">{{ s.hour_f_at }}</span></small></i></small></td>
                <td><small><span id="day_count_at">{{ s.day_count_at }}</span><br/><i><small><span
                        id="day_f_at">{{ s.day_f_at }}</span></small></i></small></td>
                <td><small><span id="week_count_at">{{ s.week_count_at }}</span><br/><i><small><span
                        id="week_f_at">{{ s.week_f_at }}</span></small></i></small></td>
                <td><small><span id="month_count_at">{{ s.month_count_at }}</span><br/><i><small><span
                        id="month_f_at">{{ s.month_f_at }}</span></small></i></small></td>

                <td><small><span id="year_count_at">{{ s.year_count_at }}</span><br/><i><small><span
                        id="month_f_at">{{ s.month_f_at }}</span></small></i></small></td>
            </tr>
            <tr>
                <td><small>TPS
                    <a href="#" data-bs-toggle="popover" tabindex="1" id="tps_popup" data-bs-trigger="focus"
                       data-bs-title="TPS explanation" data-bs-content="
            Tps shows the transactions per second for the last hour, the last 24h, last 7d, last 30d, and last year respectively.
            ">(i)</a>
                </small></td>
                <td><small><span id="hour_tps">{{ s.hour_tps }}</span></small></td>
                <td><small><span id="day_tps">{{ s.day_tps }}</span></small></td>
                <td><small><span id="week_tps">{{ s.week_tps }}</span></small></td>
                <td><small><span id="month_tps">{{ s.month_tps }}</span></small></td>
                <td><small><span id="year_tps">{{ s.year_tps }}</span></small></td>
            </tr>
            </tbody>
        </table>

    </div>
</div>
<script>
    const txs_popup = document.getElementById('txs_popup');
    const popover_txs = new bootstrap.Popover(txs_popup, {trigger: 'hover focus'});
    const tps_popup = document.getElementById('tps_popup');
    const popover_tps = new bootstrap.Popover(tps_popup, {trigger: 'hover focus'});
</script>